<?php
$id = $this->friend[$this->alias.'id'];
$profileUrl = $this->baseUrl('profile/' . $id);
$name = $this->friend[$this->alias.'name'];
$thumb = Application_Model_User::getThumb($this->friend, '55x55', [
	'alias' => $this->alias
]);
$address = Application_Model_Address::format($this->friend,
	['alias' => $this->alias]);
?>
<div class="post" data-id="<?php echo $id; ?>">
<a href="<?php echo $profileUrl; ?>" class="post-comment__new-owner">
<img src="<?php echo $this->baseUrl($thumb); ?>" title="<?php echo $name; ?>"
alt="" width="43" height="43">
</a>
<div class="post-comment__delete">
<img src="<?php echo $this->baseUrl('www/images/delete-icon12x12.png'); ?>"
alt="delete" width="12" height="12">
</div>
<div class="post-comment__body">
<a href="<?php echo $profileUrl; ?>" class="post-coment-user-name"
><?php echo $name; ?></a>
<p class="post-coment__date"><?php echo $address; ?></p>
<img src="<?php echo $this->baseUrl('www/images/envelope-icon.gif'); ?>"
class="msg" alt="message" width="12" height="12">
</div>
</div>
