<h3 class="topHdGrayB12"><img width="21" height="17" alt="My Connections" class="tIcn" src="<?php echo $this->baseUrl("www/images/icn-myconn-w.gif"); ?>"> Friend Requests:</h3>
<?if(count($this->data) > 0) :?>
	<div class="invtFrndList">
	<?php
	foreach($this->data as $index => $row):
		// TODO: change to $row->findDependentRowset('Application_Model_User')->current()...
		$user = Application_Model_User::getInstance()->findById($row->id);
	?>
		<div class="invtFrndList" data-lat="<?php echo $user->lat(); ?>" data-lng="<?php echo $user->lng(); ?>">
			<ul class="invtFrndRow">
				<li class="img">
					<a href="<?php echo $this->baseUrl("home/profile/user/" . $row->id); ?>">
						<img class="userImage" src="<?php echo $user->getProfileImage($this->baseUrl('www/images/img-prof40x40.jpg')); ?>" />
					</a>
				</li>
				<li class="name"> 
					<?php echo $user->Name; ?> <a href="#" class="view-map">View on map</a>
					<span class="loc"><?php echo $user->address; ?></span>
					<input class="curPnt requestInput" type="button" value="Accept" onclick="friendRequest(this,<?=$row->sender_id?>,'confirm');" />
					<input class="curPnt requestInput" type="button" value="Deny" onclick="friendRequest(this,<?=$row->sender_id?>,'reject');" />
					<img class="imgAlowDeny" src="<?php echo $this->baseUrl("www/images/loader.gif"); ?>" />
				</li>
			</ul>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
		<? endforeach;?>
	</div>
<?else:?>
	<img style="margin-left: 96px;padding-top: 134px;" height="80" width="250" src="<?php echo $this->baseUrl("www/images/no-record.jpeg"); ?>" />
<?endif;?>
<script type="text/javascript">
	$(function(){
		var marker, infowindow, infowindowTimer;

		var map = new google.maps.Map($('#map_canvas')[0], {
			zoom: 14,
			minZoom: 13,
			maxZoom: 15,
			center: new google.maps.LatLng(userLatitude, userLongitude),
			disableDefaultUI: true,
			panControl: false,
			zoomControl: false,
			scaleControl: false,
			streetViewControl: false,
			overviewMapControl: false,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var userMarker = new google.maps.Marker({
			position: map.getCenter(),
			map: map,
			icon: baseUrl + 'www/images/icons/icon_1.png'
		});

		infowindow = new google.maps.InfoWindow({
			content: userAddressTooltip(userAddress, imagePath)
		});

		infowindow.open(map, userMarker);

		$('.view-map').click(function(e){
			e.preventDefault();

			var $target = $(this).closest('.invtFrndList');

			if (marker){
				marker.setMap(null);
			}

			if (infowindow){
				infowindow.close();
			}

			map.setCenter(new google.maps.LatLng($target.attr('data-lat'), $target.attr('data-lng')));

			marker = new google.maps.Marker({
				map: map,
				draggable: false,
				animation: google.maps.Animation.DROP,
				position: map.getCenter(),
				icon: baseUrl + 'www/images/icons/icon_2.png'
			});

			infowindow = new google.maps.InfoWindow({
				content: userAddressTooltip($target.find('.loc').html(), $target.find('.userImage').attr('src'))
			});

			clearTimeout(infowindowTimer);

			infowindowTimer = setTimeout(function(){
				infowindow.open(map, marker);
			}, 500);
			
		});

		setHeight('.eqlCH');
	});
</script>
