<script language="JavaScript" src="<?=BASE_PATH?>www/scripts/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>

<link href="<?=BASE_PATH?>www/css/jquery-ui.css" rel="stylesheet" type="text/css" />

<link href="<?=BASE_PATH?>www/css/search.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="<?=BASE_PATH?>www/scripts/friendlist.js"></script>

<div class="listHight" id="frindsListMain">

    <!--<h3 class="topHdGrayB13_updated"><img src="<?=BASE_PATH?>www/images/icn-myconn-w.gif" width="21" height="17" class="tIcn" style="margin-left:85px;" alt="My Connections" /> My Connections:</h3>-->

    <ul class="connListSecTopNav afterClr">

        <li class="txtBold">
             
            <div class="txtbold-top"><span class="hdB15">  Invite your friends by </span></div>
            <div class="txtBold-bottom">
                <a class="hypDecNone" href="<?=BASE_PATH?>contacts/invites">

                    <img style="margin-right: 25px;" src="<?=BASE_PATH?>www/images/email_big.png"  alt="Facebook" />

                </a>

                <span>Or</span>  

                <a class="hypDecNone" href="<?=BASE_PATH?>contacts">

                    <img style="margin-left: 25px;" src="<?=BASE_PATH?>www/images/btn-fblogo.gif"  alt="Facebook" />

                </a>

            </div>

            <?php if(isset($this->inviteStatus->invite_count)) { ?>

            <!--<span style="color: red;font-size: 12px;">*You have <label id="invitationTotal" style="font-size: 13px;font-weight: bold;"><?=$this->inviteStatus->invite_count?></label> invitations remaining</span>-->

           <?php } ?>

        </li>

        <li class="searchBar">

            <div class="hdB15" style="display: inline-block; float: left; margin-top: 7px; font-size: 14px;"> Or find people already on SeeAround.me</div>

            <div style="float:left; position:relative;">
            
                <input name="search" id="search" placeholder="Search People..." type="text" value="" />

                <img class="search-btn" src="<?=BASE_PATH?>www/images/icn-search.png" alt="Search" />

                <img id="sacrchWait" class="searchWait" src="<?=BASE_PATH?>www/images/wait.gif"/>

            </div>
            <div class="clr"></div>
        </li>

    </ul>

   <!--<div class="existConnBar"><a href="javascript:void(0);">Existing Connections</a></div>-->

    <?if(count($this->frlist) > 0) :?>

    <div id="friendList" class="invtFrndList">
        <p class="invtFrndList-title">My friends</p>
    </div>

    <?else:?>

    <div class="connListSec">

        <div class="connList">

            <ul class="connRow afterClr">

                <li></li>

                <li class="name">No connection found.</li>

                <li class="adrs"></li>

            </ul>

        </div>

    </div>

    <?endif;?> 

</div>

<?if($this->more > 0) :?>

<div id="pagingDiv">	

    <div class="row show-grid">

        <div align="center" onclick="moreFriends(<?=$this->page?>)" class="postClass_after">

            <label id="moreText" style="margin-left:-254px;">More</label><img id="sacrchWait2" class="searchWait" src="<?=BASE_PATH?>www/images/wait.gif"/>

        </div>

    </div>

</div>

<?endif;?>