<div class="invite">
<p>Invite your friends by</p>
<div>
<a href="<?php echo $this->baseUrl("contacts/invites"); ?>">
<img src="<?php echo $this->baseUrl("www/images/email_big.png"); ?>"
alt="Email" width="150" height="45">
</a>
<span>Or</span>
<a href="<?php echo $this->baseUrl("contacts"); ?>">
<img src="<?php echo $this->baseUrl("www/images/btn-fblogo.gif"); ?>"
alt="Facebook" width="150" height="45">
</a>
</div>
</div>
<div class="people-search">
<form id="peopleSearch" autocomplete="off">
<p>Or find people already on SeeAround.me</p>
<div class="keywords">
<input type="text" name="keywords" placeholder="Search People...">
<img class="search" alt="search" width="14" height="14"
src="<?php echo $this->baseUrl('www/images/template/search14x14.png'); ?>">
</div>
</form>
</div>
<?php
if ($this->friends->count()):
foreach ($this->friends as $friend)
{
	echo $this->partial('contacts/_friend.html', [
		'friend' => $friend,
		'alias' => $friend['receiver_id'] == $this->user['id'] ?
			'sender_' : 'receiver_'
	]);
}
else:
?>
<div class="post empty">No connection found</div>
<?php endif;
