<?php
$auth = Zend_Auth::getInstance()->getIdentity();
$auth_user_id = !empty($auth['user_id']) ? $auth['user_id'] : null;

$auth_pro_image = $this->baseUrl('www/images/img-prof40x40.jpg');

if ($auth_user_id)
{
	$auth_pro_image = Application_Model_User::findById($auth_user_id)->getProfileImage($auth_pro_image);
}
?>
<li class="cmntList-last<?php if (!empty($this->hidden)): ?> hidden<?php endif; ?>">
	<ul class="inpCmnt">
		<div class="commentLoading">
			<img src="<?php echo $this->baseUrl("www/images/wait.gif"); ?>" />
		</div>
		<li class="imgPro">
			<img id="userImage" src="<?php echo $auth_pro_image; ?>" class="smallImage" />
		</li>
		<li class="inpCmnt-last">
			<textarea class="textAreaClass" placeholder="Write a Comment"></textarea>
		</li>
		<div class="clr"></div>
	</ul>
	<div class="clr"></div>
</li>
