<?php
$created_at = isset($this->item['created_at']) ? $this->item['created_at'] : date('Y-m-d H:i:s');
?>
<li id="comment_<?php echo $this->item['id']; ?>" class="cmntList">
	<div class="imgPro">
		<img src="<?php echo $this->user->getProfileImage(BASE_PATH . 'www/images/img-prof40x40.jpg'); ?>" />
	</div>
	<ul>
		<li class="title">
			<div class="title-wrapper">
				<?php echo $this->user->Name; ?>:
				<span class="cmnt">
					<?php echo My_CommonUtils::renderHtml($this->item['comment']); ?>
				</span>
			</div>
		</li>
		<li class="dur">
			<p><?php echo date('d F Y h:i a', strtotime($created_at)); ?></p>
		</li>
	</ul>
	<div class="clr"></div>
</li>
