/web/newsimages/*
!/web/newsimages/index.html
/web/tbnewsimages/*
!/web/tbnewsimages/index.html
/web/uploads/*
!/web/uploads/index.html
/web/www/upload/*
!/web/www/upload/index.html
/web/thumb26x26/*
/web/thumb55x55/*
/log/*
/vendor/*
/includes/*
/composer.lock
/web/bower_components/*
/web/thumb448x320/*
/web/www/scripts/common.js
/web/www/css/global.css
/web/www/css/mobile.css
