/newsimages/*
!/newsimages/index.html
/tbnewsimages/*
!/tbnewsimages/index.html
/uploads/*
!/uploads/index.html
/www/upload/*
!/www/upload/index.html
/log/*
/vendor/*
/includes/*
/composer.lock
/bower_components/*
/thumb448x298/*
