/web/newsimages/*
/web/tbnewsimages/*
/web/uploads/*
!/web/uploads/default.jpg
/web/www/upload/*
/web/thumb26x26/*
!/web/thumb26x26/default.jpg
/web/thumb55x55/*
!/web/thumb55x55/default.jpg
/log/*
/vendor/*
/includes/*
/composer.lock
/web/bower_components/*
/web/thumb448x320/*
/web/www/scripts/common.js
/web/www/scripts/global.js
/web/www/scripts/map.js
/web/www/css/global.css
/web/www/css/mobile.css
/web/www/css/map.css
/web/css/default.min.css
/web/css/index.min.css
/web/js/index.min.js
/web/js/login.min.js
