<div class="t-and-c">
<div class="a-part">
<h2>What is SeeAround.me?</h2>
<div class="answer">
<h3>A web and mobile app to see and share hyperlocal news.</h3>
<p>Anyone can create a post relating to a location - like a local event, new restaurant, yard sale, recent crime, etc.</p>
<p>Anyone nearby can then see that post, comment on it, and vote it up or down.</p>
</div>
</div>
<div class="a-part">
<h2>Local is important to us</h2>
<div class="answer">
<h3>This is Oakland-grown and we want to give back.</h3>
<p>SeeAround.me is intended as a social utility with no current revenue model. However, we intend to offer this resource in support of local organizations. And, if we generate a profit in the future, will invest a substantial portion into the local community where this is first being incubated: Oakland.</p>
</div>
</div>
<p class="further-step">Questions? Feedback? Email <a href="mailto:a@seearound.me">a@seearound.me</a></p>
</div>
