<div class="bg-blue">
<div class="inner-bg">
<div class="left-block">
<div class="wrapper-text-left">
<p class="left-text">Hyperlocal.</p>
<p class="left-text">Community-driven.</p>
<p class="left-text">Location-based.</p>
</div>
</div>
<div class="right-block">
<img class="radiusimage" src="<?= $this->baseUrl('img/radius_image.png') ?>">
</div>
</div>
<div class="bottom-text">
<div>See What Happened, <span>Where</span> it Happened</div>
</div>
<div class="wrapper-to-bottom">
<ul class="to-bottom">
<li><a href="<?= $this->baseUrl('about') ?>">About</a></li>
<li><p class="p-12 color-white">Copyright &copy; <?= date('Y') ?>. SeeAround.me</p></li>
</ul>
</div>
</div>
