    <div class="centerData">
       <div id="forForm" class="forForm">
            <form method="post" class="forFrm">
                <ul class="forFormUl">
                    <span class="formTitle">
                        Change password
                    </span>
                    <li class="forFormLi">
                        <input type="password" name="password" id="password" class="forFormInput" placeholder="New password"/>
						<?php echo $this->form->password->renderErrors(); ?>
                    </li>
                    <li class="forFormLi">
                        <input type="password" name="re-password" id="re-password" class="forFormInput" placeholder="Re-type new password"/>
                        <?php echo $this->form->{'re-password'}->renderErrors(); ?>
                    </li>
                </ul>
                <div style="margin-top:10px;">
					<div class="floatR" style="margin-left:10px;">
						<input style="width:110px;" class="blueButton" type="submit" value="Done" />
					</div>
					<a class="hypDecNone floatR" href="<?php echo $this->baseUrl('/'); ?>">
						<input style="width:110px;" class="blueButton" type="button" value="Cancel" />
					</a>
                </div>
				<br>
            </form>
    </div>
</div>
