    <div class="centerData">
       <div id="forForm" class="forForm">
            <? if(isset($this->success)):?>
            <div style="font-size: 16px;padding: 20px;">Password successfully changed.<br />You can now login with your new password.</div>
                <script type="text/javascript">
                    window.setTimeout("window.location='<?php echo $this->baseUrl('/'); ?>'; ",10000);
                </script>
            <? else:?>
            <form method="post" class="forFrm">
                <ul class="forFormUl">
                    <span class="formTitle">
                        Change password
                    </span>
                    <li class="forFormLi">
                        <input type="password" name="password" id="password" class="forFormInput" placeholder="New password"/>
                    </li>
                    <li class="forFormLi">
                        <input type="password" name="re-password" id="re-password" class="forFormInput" placeholder="Re-type new password"/>
                        <input type="hidden" name="email" id="email" value="<?=$this->email?>" />
                        <input type="hidden" name="code" id="code" value="<?=$this->code?>" />
                    </li>
                    <li>
                    <? if (isset($this->inactive) && $this->inactive != ''): ?>
                    <span class="errors floatL">This is an inactive link.</span><br>             
                    <? elseif(isset($this->pass) && $this->pass != ''):?>
                    <span class="errors floatL"><?=$this->pass?></span><br>
                    <? endif; ?>
                    </li>
                </ul>
                <div style="margin-top:10px;">
					<div class="floatR" style="margin-left:10px;">
						<input style="width:110px;" class="blueButton" type="submit" value="Done" />
					</div>
					<a class="hypDecNone floatR" href="<?php echo $this->baseUrl('/'); ?>">
						<input style="width:110px;" class="blueButton" type="button" value="Cancel" />
					</a>
                </div>
				<br>
            </form>
            <?endif;?>
    </div>
</div>
