<div class="centerData">
    <div id="forForm" class="forForm">
            <?if(isset($this->forgotsuccess)):?>
            <span class="formTitle" style="font-size:22px;">A link to change password has been sent to your email address.
                        please check your email in a few minutes.
                        If you don't receive it, please also check your spam box.
            </span>
            <script type="text/javascript">
                window.setTimeout("window.location='<?php echo $this->baseUrl('/'); ?>'; ",20000);
            </script>
            <?else:?>
            <form method="post" class="forFrm">
				<span class="formTitle">Forgot your password? Enter your email address and hit submit to be sent a link to create a new one</span>
                <ul class="forFormUl">
                    <li class="forFormLi">
                        <input type="text" name="email" id="email" value="<?php echo $this->email; ?>" class="forFormInput" placeholder="Email Address" />
						<span style="font-size: 30px;position: absolute;right: 7px;top: 7px;">*</span>
                    </li>
                </ul>
				<?if($this->forgoterror) :?>
				<div class="errors floatL"><?=$this->forgoterror?></div><br>
				<?endif;?>
                <div style="margin-top:10px;">
					<div class="floatR" style="margin-left:10px;">
						<input style="width:110px;" class="blueButton" type="submit" value="Submit" />
					</div>
					<a class="hypDecNone floatR" href="<?php echo $this->baseUrl('/'); ?>">
						<input style="width:110px;" class="blueButton" type="button" value="Cancel" />
					</a>
                </div>
				<br />
            </form>
            <?endif;?>
    </div>
</div>