<div class="centerData">
    <div id="forForm" class="forForm">
            <form method="post" class="forFrm">
				<span class="formTitle">Forgot your password? Enter your email address and hit submit to be sent a link to create a new one</span>
                <ul class="forFormUl">
                    <li class="forFormLi">
                        <input type="text" name="email" id="email" value="<?php echo $this->form->email->getValue(); ?>" class="forFormInput" placeholder="Email Address" />
						<?php echo $this->form->email->renderErrors(); ?>
						<span style="font-size: 30px;position: absolute;right: 7px;top: 7px;">*</span>
                    </li>
                </ul>
                <div style="margin-top:10px;">
					<div class="floatR" style="margin-left:10px;">
						<input style="width:110px;" class="blueButton" type="submit" value="Submit" />
					</div>
					<a class="hypDecNone floatR" href="<?php echo $this->baseUrl('/'); ?>">
						<input style="width:110px;" class="blueButton" type="button" value="Cancel" />
					</a>
                </div>
				<br />
            </form>
    </div>
</div>
