<div class="centerData">
    <div id="forForm" class="forForm">
            <span class="formTitle" style="font-size:22px;">A link to change password has been sent to your email address.
                        please check your email in a few minutes.
                        If you don't receive it, please also check your spam box.
            </span>
            <script type="text/javascript">
                window.setTimeout("window.location='<?php echo $this->baseUrl('/'); ?>'; ",20000);
            </script>
    </div>
</div>
