<div class="loginCopyArea">
    <div class="rightBoxArea">
        <h2>See and Share What's Happening Near You</h2>
    </div> 
    <div class="leftBoxArea">
        <div class="users-popup">
            
        </div><!-- users-popup end -->
        <div class="regForm">

           <div class="fbImageMw">
                <span>Register Here or</span>
				<a id="facebookLogin" href="<?php echo $this->baseUrl("index/fb-login"); ?>">
					<img style="cursor: pointer;" src="<?php echo $this->baseUrl("www/images/signupFacebookButton.png"); ?>" alt="Sign Up" />
					<div class="clr"></div>
				</a>
           </div>
           <p class="fbtext">
                *We´ll never post to facebook without your permission
           </p>
			<div id="regForm">
				<form id="reg_form" class="form" method="post" name="reg_form">
					<ul class="frm">
						<li>
							<input id="Name" name="name" type="text" placeholder="Name" value="<?php echo $this->form->name->getValue(); ?>" />
							<?php echo $this->form->name->renderErrors(); ?>
						</li>
						<li>
							<input id="Email_id" name="email" type="text" placeholder="Email address" value="<?php echo $this->form->email->getValue(); ?>" />
							<?php echo $this->form->email->renderErrors(); ?>
						</li>
						<li>
							<input id="Password" name="password" type="password" placeholder="Password" value="" />
							<?php echo $this->form->password->renderErrors(); ?>
						</li>
						<li>
							<input id="Re-password" name="repassword" type="password" placeholder="Re-password" value="" />
							<?php echo $this->form->repassword->renderErrors(); ?>
						</li>
						<li>
							<input id="Location" name="address" readonly="true" type="text" placeholder="User Location" value="<?php echo $this->form->address->getValue(); ?>" />
							<?php echo $this->form->address->renderErrors(); ?>
							<img class="myLoc" src="<?php echo $this->baseUrl("www/images/icn-location.gif"); ?>" alt="My Location" />
							<input type="hidden" name="latitude" id="RLatitude" value="<?php echo $this->form->latitude->getValue(); ?>" />
							<?php echo $this->form->latitude->renderErrors(); ?>
							<input type="hidden" name="longitude" id="RLongitude" value="<?php echo $this->form->longitude->getValue(); ?>" />
							<?php echo $this->form->longitude->renderErrors(); ?>
						</li>
						<li class="clr"></li>
					</ul>
					<div class="terms">By clicking Register, you agree to the <a class="tems-of-service-popup" href="<?php echo $this->url(array(), 'terms'); ?>">Terms of Service</a><span> and </span><a class="privacy-policy-popup" href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a>.</div>
					<input type="submit" class="btnBlueRpt regSub" value="Register" style="width: 100%; padding:6px 0px 7px; background-color: #3366cc;color: #FFFFFF;" />
				</form>
			</div>

    </div>
	<div class="clr"></div>
    </div>
    
	<div class="clr"></div>
</div>
<script>
$(function(){
	$('#Location, .myLoc').click(function(){
		$('body').css({overflow: 'hidden'});

		$('<div/>', {'class': 'location-dialog'})
			.append(
				$('<div/>', {id: 'map-canvas'}),
				$('<div/>', {'class': 'panel'}).append(
					$('<form/>').append(
						$('<input/>', {type: 'text', name: 'address', placeholder: 'Enter your Address'}),
						$('<img/>', {'class': 'search', src: '/www/images/map_search.png'}),
						$('<input/>', {type: 'submit', value: 'Use This Address'})
					)
				)
			)
			.appendTo($('body'))
			.dialog({
				modal: true,
				resizable: false,
				drag: false,
				width: 980,
				height: 500,
				dialogClass: 'colorbox',
				beforeClose: function(event, ui){
					$('body').css({overflow: 'visible'});
					$(event.target).dialog('destroy').remove();
				},
				open: function(event, ui){
					var $editForm = $('#reg_form'),
						$addressField = $('[name=address]', $editForm),
						$latitudeField = $('[name=latitude]', $editForm),
						$longitudeField = $('[name=longitude]', $editForm),
						newsAddress = $.trim($addressField.val()) !== '' ? $addressField.val() : geoipaddress,
						$editAddress = $('[name=address]', event.target)
							.val(newsAddress)
							.attr('disabled', false),
						$submitField = $('[type=submit]', event.target)
							.attr('disabled', false),
						$map = $('#map-canvas', event.target),
						autocomplete = googleMapsPlacesAutocompleteReset($editAddress[0]),
						centerLocation = new google.maps.LatLng($latitudeField.val(), $longitudeField.val()),
						geocoder = new google.maps.Geocoder(),
						renderLocation = true;

					var map = new google.maps.Map($map[0], {
						zoom: 10,
						center: centerLocation,
						disableDefaultUI: true,
						panControl: false,
						zoomControl: true,
						scaleControl: false,
						streetViewControl: false,
						overviewMapControl: false,
						draggable: true,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					});

					var marker = new google.maps.Marker({
						map: map,
						draggable: true,
						position: map.getCenter(),
						icon: baseUrl + 'www/images/man.png'
					});

					function infowindowUpdateContent(address){
						if (!address){
							address = '<i>undefined</i>';
						}

						return '<div class="userLocation"><div>Address:</div><div>' + address + '</div></div>';
					}

					function updateMarker(event){
						geocoder.geocode({
							latLng: event.latLng
						}, function(results, status){
							if (status == google.maps.GeocoderStatus.OK){
								infowindow.setContent(infowindowUpdateContent(results[0].formatted_address));
								$editAddress.val(results[0].formatted_address);
							} else {
								infowindow.setContent(infowindowUpdateContent());
								$editAddress.val('');
							}

							autocomplete = googleMapsPlacesAutocompleteReset($editAddress[0]);
							renderLocation = true;
							infowindow.open(map, marker);
						});
					}

					var infowindow = new google.maps.InfoWindow({
						maxWidth: 220,
						content: infowindowUpdateContent(newsAddress)
					});

					infowindow.open(map, marker);

					google.maps.event.addListener(map, 'click', function(mapEvent){
						infowindow.close();
						marker.setPosition(mapEvent.latLng);
						updateMarker(mapEvent);
					});

					google.maps.event.addListener(marker, 'dragstart', function(){
						infowindow.close();
					});

					google.maps.event.addListener(marker, 'dragend', function(markerEvent){
						updateMarker(markerEvent);
					});

					google.maps.event.addListener(autocomplete, 'place_changed', function(){
						$('.search', event.target).click();
					});

					$editAddress.keydown(function(e){
						if (e.keyCode == 13){
							e.preventDefault();
						}
					});

					$('.search', event.target).click(function(){
						var value = $.trim($editAddress.val());

						if (value === ''){
							$editAddress.focus();
							return;
						}

						$submitField.attr('disabled', true);

						geocoder.geocode({
							address: value
						}, function(results, status){
							if (status == google.maps.GeocoderStatus.OK){
								infowindow.setContent(infowindowUpdateContent(results[0].formatted_address));
								map.setCenter(results[0].geometry.location);
								marker.setPosition(results[0].geometry.location);
								$editAddress.val(results[0].formatted_address);
								autocomplete = googleMapsPlacesAutocompleteReset($editAddress[0]);
								renderLocation = true;
							} else {
								alert('Sorry! We are unable to find this location.');
								renderLocation = false;
							}

							$submitField.attr('disabled', false);
						});
					});

					$('form', event.target).submit(function(e){
						e.preventDefault();

						if (!renderLocation){
							$editAddress.focus();
							return false;
						}

						$addressField.val($editAddress.val());
						$latitudeField.val(marker.getPosition().lat());
						$longitudeField.val(marker.getPosition().lng());

						$(event.target).dialog('close');
					});
				}
			});
	});
});
</script>
