<div class="loginCopyArea">
    <div class="rightBoxArea">
        <h2>See and Share What's Happening Near You</h2>
    </div> 
    <div class="leftBoxArea">
        <div class="users-popup">
            
        </div><!-- users-popup end -->
        <div class="regForm">

           <div class="fbImageMw">
                <span>Register Here or</span>
				<a id="facebookLogin" href="<?php echo $this->baseUrl("index/fb-login"); ?>">
					<img style="cursor: pointer;" src="<?php echo $this->baseUrl("www/images/signupFacebookButton.png"); ?>" alt="Sign Up" />
					<div class="clr"></div>
				</a>
           </div>
           <p class="fbtext">
                *We´ll never post to facebook without your permission
           </p>
			<div id="regForm">
				<form id="reg_form" class="form" method="post" name="reg_form">
					<ul class="frm">
						<li>
							<input id="Name" name="name" type="text" placeholder="Name" value="<?php echo $this->form->name->getValue(); ?>" />
							<?php echo $this->form->name->renderErrors(); ?>
						</li>
						<li>
							<input id="Email_id" name="email" type="text" placeholder="Email address" value="<?php echo $this->form->email->getValue(); ?>" />
							<?php echo $this->form->email->renderErrors(); ?>
						</li>
						<li>
							<input id="Password" name="password" type="password" placeholder="Password" value="" />
							<?php echo $this->form->password->renderErrors(); ?>
						</li>
						<li>
							<input id="Re-password" name="repassword" type="password" placeholder="Re-password" value="" />
							<?php echo $this->form->repassword->renderErrors(); ?>
						</li>
						<li>
							<input id="Location" name="address" readonly="true" type="text" placeholder="User Location" value="<?php echo $this->form->address->getValue(); ?>" />
							<?php echo $this->form->address->renderErrors(); ?>
							<img class="myLoc" src="<?php echo $this->baseUrl("www/images/icn-location.gif"); ?>" alt="My Location" />
							<input type="hidden" name="latitude" id="RLatitude" value="<?php echo $this->form->latitude->getValue(); ?>" />
							<?php echo $this->form->latitude->renderErrors(); ?>
							<input type="hidden" name="longitude" id="RLongitude" value="<?php echo $this->form->longitude->getValue(); ?>" />
							<?php echo $this->form->longitude->renderErrors(); ?>
						</li>
						<li class="clr"></li>
					</ul>
					<div class="terms">By clicking Register, you agree to the <a class="tems-of-service-popup" href="<?php echo $this->url(array(), 'terms'); ?>">Terms of Service</a><span> and </span><a class="privacy-policy-popup" href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a>.</div>
					<input type="submit" class="btnBlueRpt regSub" value="Register" style="width: 100%; padding:6px 0px 7px; background-color: #3366cc;color: #FFFFFF;" />
				</form>
			</div>

    </div>
	<div class="clr"></div>
    </div>
    
	<div class="clr"></div>
</div>
<script>
$(function(){
	$('#Location, .myLoc').click(function(){
		var $address = $('#reg_form [name=address]'),
			locationAddress = $.trim($address.val()),
			$latitude = $('#reg_form [name=latitude]'),
			$longitude = $('#reg_form [name=longitude]');

		if (locationAddress === ''){
			locationAddress = geoipaddress;
		}

		editLocationDialog({
			mapZoom: 10,
			markerIcon: baseUrl + 'www/images/man.png',
			inputPlaceholder: 'Enter your Address',
			submitText: 'Use This Address',
			defaultAddress: locationAddress,
			center: new google.maps.LatLng($latitude.val(), $longitude.val()),
			infoWindowContent: function(address){
				if ($.trim(address) === ''){
					address = '<i>undefined</i>';
				}

				return '<div class="userLocation"><div>Address:</div><div>' + address + '</div></div>';
			},
			submit: function(dialogEvent, position, address){
				$address.val(address);
				$latitude.val(position.lat());
				$longitude.val(position.lng());
				$(dialogEvent.target).dialog('close');
			}
		});
	});
});
</script>
