<div class="loginCopyArea appendClr">
    <div class="rightBoxArea">
        <h2>See and Share What's Happening Near You</h2>
    </div> 
    <div class="leftBoxArea">
        <div class="users-popup">
            
        </div><!-- users-popup end -->
        <div class="regForm afterClr">

           <div class="fbImageMw">
                <span>Register Here or</span>
                <img class="afterClr" style="cursor: pointer;" onclick="fbLogin();" src="<?=BASE_PATH?>www/images/signupFacebookButton.png" alt="Sign Up" />
           </div>
           <p class="fbtext">
                *We´ll never post to facebook without your permission
           </p>
           <div  id="regForm">

                <form id="reg_form" class="form" method="post" name="reg_form">

                    <ul class="frm">

                        <li>

                            <input id="Name" name="Name" type="text" placeholder="Name" value="<?=$this->request->getParam('Name')?>" />

                        </li>

                        <? if($this->errors['Name']):?>

                        <span class="errors floatL" id="Name_Errors">

                            <?=$this->errors['Name']?>

                        </span>

                        <? endif;?>

                        <li>

                            <input id="Email_id" name="Email_id" type="text" placeholder="Email address" value="<?=($this->regEmail)?($this->regEmail):($this->request->getParam('Email_id'))?>" />

                        </li>

                        <? if($this->errors['Email_id']):?>

                        <span class="errors floatL" id="Name_Errors">

                            <? if($emailError = explode(',' ,$this->errors['Email_id'])) :?>

                                <?=$emailError[0]?>

                            <?else :?>

                                <?=$this->errors['Email_id']?>

                            <?endif;?>

                        </span>

                        <? endif;?>

                        <li>

                            <input id="Password" name="Password" type="password" placeholder="Password" value="" />

                        </li>

                        <? if($this->errors['Password']):?>

                        <span class="errors floatL" id="Name_Errors">

                            <?=$this->errors['Password']?>

                        </span>

                        <? endif;?>

                        <li>

                            <input id="Re-password" name="Re-password" type="password" placeholder="Re-password" value="" />

                        </li>

                        <? if($this->errors['Re-password']):?>

                        <span class="errors floatL" id="Name_Errors">

                            <?=$this->errors['Re-password']?>

                        </span>

                        <? endif;?>

                        <li>

                            <input class="Location-Popup-Class" id="Location" name="Location" readonly="true" type="text" placeholder="User Location" value="<?=$this->request->getParam('Location')?>" />

                            <img class="Location-Popup-Class myLoc" src="<?=BASE_PATH?>www/images/icn-location.gif" alt="My Location"/>

                            <input type="hidden" name="RLatitude" id="RLatitude" value="<?=$this->request->getParam('RLatitude')?>"/>

                            <input type="hidden" name="RLongitude" id="RLongitude" value="<?=$this->request->getParam('RLongitude')?>"/>                            

                        </li>

                        <? if($this->errors['Location']):?>

                        <span class="errors floatL" id="Name_Errors">

                            <?=$this->errors['Location']?>

                        </span>

                        <? endif;?>
                        <li class="clr"></li>

                    </ul>
                    <div class="terms">By clicking Register, you agree to the <a class="tems-of-service-popup" href="<?php echo $this->url(array(), 'terms'); ?>">Terms of Service</a><span> and </span><a class="privacy-policy-popup" href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a>.</div>
 
                    <input type="submit" class="btnBlueRpt regSub" value="Register" style="width: 100%; padding:6px 0px 7px; background-color: #3366cc;color: #FFFFFF;" />

                </form>

           </div>

    </div>
    </div>
    

</div>



<!-- code for location popup -->



<div style="display: none;">

    <div id="Location-Popup">

        <table width="100%" height="100%">

            <!--<tr>

                <td width="100%" height="10%" align="center" style="text-align:center;">

                    <div style="font-weight: bold; font-size: 18px;color: #8CBEFE;"> Enter your address or chose your location on the map</div>

                </td>

            </tr>-->

            <tr>

                <td>

                    <div>

                        <input type="hidden" class="registerField" id="address" name="address" value="" style="display: inline;"/>

                    </div>

                    <div id="mapSection1" class="normalScreen" style="height: 420px;"></div>						

                </td>

            </tr>

            <tr>

                <td width="100%" height="10%" align="center" style="text-align:center; padding: 13px 0; position: relative;">

                    <!--<label style="font-size: 12px; font-weight: bold;">Address : </label>-->
                    
                    <input id="searchAddres" type="text" class="loginmap-address" placeholder="Enter address" />

                    <!--<label style="font-size: 12px; font-weight: bold;">City : </label><input id="searchCity" type="text" class="" placeholder="Enter city" />

                    <label style="font-size: 12px; font-weight: bold;">State : </label><input id="searchState" type="text" class="" placeholder="Enter state" />-->

                   <!-- <input type="button" onclick="changeUserAddress('draw');" class="loginmap-srh" value="Search"/>-->
                    
                    <img class="loginmap-srh-img" onclick="changeUserAddress('draw');" src="<?=BASE_PATH?>www/images/map_search.png"/>
                    
                    <input type="button" id="useaddress" onclick="locationDone()" class="btnBlueRpt" value="Use This Address" />
                    
                    <img id="waitingAddress" src="<?=BASE_PATH?>www/images/wait.gif" style="display: none;" />

                </td>

            </tr>

        </table>

    </div>
    
       <div id="tems-of-service-popup-div">
       <div id='inline_content' style='padding:10px; background:#fff;'>
						  
              	<div>
					<p align="center" style="font-size:15px;">
						<strong>Seearound.me TERMS OF SERVICE<a name="_GoBack"></a></strong>
					</p>
				</div>
				
                <br/><br/>
				<p>Use of and access to this Website is subject to your compliance with the following terms. SeeAround.me reserves the right to limit or terminate your access to the Website if you don’t comply with them.</p>
                
				<br/><br/>
				<p><b>1. ACCEPTANCE OF TERMS</b></p>
                <br/>
				<p>PLEASE READ THE TERMS OF USE CAREFULLY BEFORE USING THIS WEBSITE (the “Website”). By accessing and using this Website in any way you agree to be bound by the terms of use described in this document (“Terms of Service”).</p>
                <br/>
				<p>IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS CONTAINED IN THE TERMS OF SERVICE, DO NOT USE THIS WEBSITE IN ANY MANNER. The Terms of Service are entered into by and between SeeAround.me and you. </p>
                
				<br/>
				<p><b>2. Use of THIS WEBSITE</b></p>
                <br/>><br/>
				<p>The Website offers users the ability to post and share information about local events and news. Postings include user-generated photos and messages (“Original Content”) for viewing by other Website users, and provides those other Website users the opportunity to reply and comment on the original postings (“Comments”). The terms, “Original Content” and “Comments” are collectively referred to herein as the “User Content”.</p>
                <br/>
				<p>The Website is not intended for any other purpose, and all other purposes are prohibited. SeeAround.me reserves the right to delete User Content that is not in alignment with the purposes described above. SeeAround.me may exercise that right at any time in its sole and absolute discretion. By using the Website you waive any claim or action against SeeAround.me if it exercises that right in regard to your User Content.</p>
                
			    <br/>
				<p><b>3. OWNERSHIP OF USER CONTENT AND RIGHTS TO USE USER CONTENT</b></p>
                 <br/><br/>
				<p>By using the Website you agree that SeeAround.me owns all posted User Content (including the copyrights); and by using the Website you waive and forever disclaim any ownership or proprietary right (including copyrights) in that User Content. You hereby assign all rights in your posted User Content to SeeAround.me. You also agree that there are no restrictions as to how SeeAround.me may use User Content.</p>
               
			    <br/>
				<p><b>4. CONDITIONS FOR USING THE WEBSITE</b></p>
                <br/><br/>
				<p>The following conditions apply specifically to your use of User Content on the Website.</p>
               <div style="margin-left:10px;">
					<p>a) SeeAround.me does not guarantee any confidentiality with respect to any User Content.</p>
	 
					<p>b) You shall be solely responsible for your own User Content and the consequences of posting or publishing them. You are also solely responsible for the security of your username and password.</p>

					<p>c) You represent and warrant that your postings are original works of authorship and that you own or have the necessary licenses, rights, consents, and permissions to post them on the Website. </p>

					<p>d) You agree that you will not submit User Content that is subject to third party proprietary rights, including privacy and publicity rights, unless you have permission from their rightful owner and the necessary consents from any individuals whose personally identifiable information is contained in such User Content to post the User Content and to assign SeeAround.me all of the ownership rights granted herein.</p>

					<p>e) SeeAround.me does not permit copyright infringing activities and infringement of intellectual property rights on its Website, and SeeAround.me will remove any User Content if properly notified that such User Content infringes a third party’s intellectual property rights or contravenes any Websitelicable privacy legislation. SeeAround.me will comply with the “notice and takedown” procedures described in the Digital Millennium Copyright Act and its implementing regulations, but SeeAround.me also reserves the right to remove User Content without prior notice.</p>

					<p>f) You grant SeeAround.me a worldwide, non-exclusive, royalty-free, transferable license to display your User Content on the Website.</p>

					<p>g) SeeAround.me does not endorse any User Content or any opinions or ideas expressed therein, and SeeAround.me expressly disclaims any and all liability in connection with User Content posted on the Website. SeeAround.me does not monitor the User Content. </p>

					<p>h) SeeAround.me reserves the right to decide whether any posting is appropriate and complies with these Terms of Service for violations other than copyright infringement or privacy law, such as, but not limited to any User Content that is crude, racist, homophobic, misogynistic, heretical or flat-out wrong. SeeAround.me may remove such User Content and/or terminate a user’s access for uploading such material in violation of these Terms of Service at any time, without prior notice and at its sole discretion.</p>
               </div>
				<br/>
				<p><b>5. RESTRICTIONS ON USE OF THE WEBSITE</b></p>
               <br/><br/>
				<p>Your use of the Website is subject to your agreement that:</p>

				<p>a) your use of the Website and the User Content is for informational, personal, and non-commercial purposes only; prohibited uses include, without limitation, any of the following actions taken without SeeAround.me’s express approval:</p>

				<p>a. sale of access to the Website or its related services on another Website;</p>

				<p>b. use of the Website or its related services for the primary purpose of gaining advertising or subscription revenue;</p>

				<p>c. the sale of advertising; and</p>

				<p>d. any use of the Website or its related services with the effect of competing with or displacing the market for SeeAround.me.</p>

				<p>b) you will not use the Website if you are under 13;</p>

				<p>c) you will not remove any copyright notices or substitute any copyright notices that imply that the materials you view, print, copy, or distribute are owned by anyone other than their true owner; and you will not add copyright or other proprietary notices to any User Content that is in the public domain, including without limitation, any User Content you post to the Website;</p>

				<p>e) you will keep your contact information in your registration profile accurate and up-to-date; </p>

				<p>f) you agree that SeeAround.me may revoke your right to use the Website at any time and you shall immediately stop your activities related to the Website upon notice from SeeAround.me;</p>

				<p>g) you agree not to access User Content through any technology or means other than the Website itself;</p>

				<p>h) In your use of the Website, you will otherwise comply with the terms and conditions of these Terms of Service and all applicable local, national, and international laws and regulations. </p>

				<p>Use for any other purpose is expressly prohibited by law, and may result in severe civil and criminal penalties. </p>

				<p>Permission to use the Website’s contents does not include permission to copy the design elements, look and feel, or layout of this Website. Those elements of the Website are protected by United States, international, and foreign laws and may not be copied or imitated in whole or in part. No logo, graphic, or image from the Website may be copied or retransmitted unless expressly permitted by SeeAround.me.</p>
                <br/>
				<p><b>6. REGISTRATION</b></p>
                 <br/><br/>
				<p>In order to access some features of the Website, you will have to register with SeeAround.me. You may never use another user’s account without permission. When registering, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account login and password secure. You must notify SeeAround.me immediately of any breach of security or unauthorized use of your account. Please only register one account. Registering multiple accounts for any malicious activity will result in immediate account termination. SeeAround.me reserves the right to terminate any account without notice. </p>
                <br/>
				<p><b>7. NO UNLAWFUL OR PROHIBITED USE</b></p>
                <br/><br/>
				<p>As a condition of your use of the Website, you will not use the Website for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the Website in any manner that could damage, disable, overburden, or impair any SeeAround.me server, or the network(s) connected to any SeeAround.me server, or interfere with any other party’s use and enjoyment of the Website. </p>
                <br/>
				<p><b>8. COPYRIGHT AND TRADEMARKS INFORMATION; INFRINGEMENT CLAIMS</b></p>
                <br/><br/>
				<p>COPYRIGHT NOTICE: Copyright © 2014 SeeAround.me. All Rights Reserved.</p>

				<p>SEEAROUND.ME is a trademarks belonging to Andrew Jones. All other trademarks, trade names, service marks, service names are the property of their respective holders.</p>

				<p>If you submit a post to the Website then you authorize SeeAround.me to act as your agent to issue take down notices under the Digital Millennium Copyright Act (the “DMCA”) and/or other similar legislation that allows for the submission of requests to Internet service providers for the removal of infringing or allegedly infringing copyright materials that are contained in or displayed on such service provider’s platforms and/or services. In general, you will be responsible for monitoring and enforcing your rights in your Submissions; however, in certain cases if SeeAround.me becomes aware of infringement claims pertaining to any User Content, then SeeAround.me may in its sole discretion elect to issue take down notices under the DMCA or similar legislation to attempt to curtail such infringement. </p>
                 <br/>
				<p><b>9. PRIVACY POLICY</b></p>
                <br/><br/>
				<p>SeeAround.me respects your desire for privacy. SeeAround.me’s Privacy Policy can be found at seearound.me/privacy. By using the Website, you are consenting to the terms of our Privacy Policy.</p>
                 <br/>
				<p><b>10. LINKS TO THIRD PARTY WEB WEBSITES</b></p>
                <br/><br/>
				<p>This Website may contain links to third-party Websites that are not under the control of SeeAround.me, and SeeAround.me is not responsible for the content of any linked Website or any link contained in a linked Website, or any changes or updates to such Websites. SeeAround.me is providing these links to you only as a convenience, and the inclusion of any link does not imply that SeeAround.me endorses or accepts any responsibility for the content on such third-party Website.</p>
                <br/>
				<p><b>11. USERS OUTSIDE THE UNITED STATES</b></p>
                <br/><br/>
				<p>The following provisions Apply to those accessing and using the Website outside the United States: (i) you consent to having your personal data transferred to and processed in the United States, and (ii) if you are located in a country embargoed by the United States, or are on the U.S. Treasury Department’s list of Specialty Designated Nationals, you will not engage in commercial activities on the Website.</p>
                <br/>
				<p><b>12. DISCLAIMER OF WARRANTY</b></p>
                <br/><br/>
				<p>EXCEPT AS EXPRESSLY PROVIDED OTHERWISE, ALL INFORMATION ON THIS WEBSITE IS PROVIDED “AS-IS” WITHOUT WARRANTY OF ANY KIND AND SEEAROUND.ME HEREBY DISCLAIMS ALL WARRANTIES EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN ADDITION, EXCEPT AS EXPRESSLY PROVIDED OTHERWISE, SEEAROUND.ME DISCLAIMS ANY WARRANTIES OF NON-INFRINGEMENT, TITLE, OR QUIET ENJOYMENT. In no event shall SeeAround.me be liable for any special, indirect or consequential damages or any damages whatsoever resulting from loss of use, data or profits, whether in an action of contract, negligence or other tortious action, arising out of or in connection with the use of this Website or information available from the Website.</p>

				<p>Except as expressly provided otherwise, you assume all risks concerning the suitability and accuracy of the information within the Website. The Website may contain technical inaccuracies or typographical errors. SeeAround.me assumes no responsibility for and disclaims all liability for any such inaccuracies, errors, or omissions in the Website.</p>

				<p>SeeAround.me may make changes to the Website, information, product offerings, and any other information and materials on the Website at any time and without notice.</p>
                <br/>
				 <p><b>13. INDEMNITY</b></p>
                <br/><br/>
				<p>You agree to indemnify, defend, and hold SeeAround.me and its affiliates, officers, agents, co-branders, partners, and employees harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your use of the Website, including without limitation, any use by your employees, your connection to the Website, your violation of these Terms of Service, or your violation of any rights of another.</p>
                <br/><br/>
				<p><b>14. GENERAL INFORMATION</b></p>
                <br/><br/>
				<p>These Terms of Service constitute the entire agreement between you and SeeAround.me and govern your use of the Website, superseding any prior agreements between you and SeeAround.me relating to your use of this Website (including, but not limited to, any prior versions of these Terms of Service). You also may be subject to additional terms and conditions that may apply when you use third-party content or third-party software. </p>

				<p>By accessing the Website you agree that the statutes and laws of California, without regard to any principles of conflicts of law, will apply to all matters relating to the use of this Website, and you further agree that any litigation shall be subject to the exclusive jurisdiction of the courts in San Francisco, California.</p>

				<p>The failure of SeeAround.me to exercise or enforce any right or provision of these Terms of Service does not constitute a waiver of such right or provision. If a court of competent jurisdiction finds any provision of these Terms of Service to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of these Terms of Service remain in full force and effect. Regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Website or these Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred. The section titles in these Terms of Service are for convenience only and have no legal or contractual effect.</p>
                 <br/>
				<p><b>15. MODIFICATION OF TERMS OF SERVICE</b></p>
                 <br/><br/>
				<p>SeeAround.me reserves the right, at its sole discretion, to change, modify, update, add, or remove portions of these Terms of Service at any time with or without notice. Please check these Terms of Service periodically for changes. Your continued use of this Website following the posting of changes to these Terms of Service will signify your acceptance of those changes.</p>
                <br/>
				<p><b>16. EFFECTIVE DATE</b></p>
                <br/><br/>
				<p>The effective date of this version of the Terms of Service is November 27, 2014.</p>

			 
			 
	  </div>
    </div>


    <div id="privacy-policy-popup-div">
        <div id='inline_content' style='padding:10px; background:#fff;'>
             <div>
				<p align="center" style="font-size:15px;">
					<strong>Seearound.me Privacy Policy<a name="_GoBack"></a></strong>
				</p>
			</div>
<br/><br/>
<p>
    SeeAround.meprovides its website/app (the “Services”) pursuant to the following terms relating to the collection and use of the personally identifiable
    information (“PII”) of its users (“Users”) from and by its website/app (the “Site”):
</p>
<br/><br/>
<p>
    WHAT KINDS OF PERSONALLY IDENTIFIABLE INFORMATION DO WE COLLECT FROM USERS?
</p>
<p>
    In order to use the Site, Users must register and open an account. In the course of doing so, the User is required to submit a username and a password. The
    username can be the User’s actual name or a made up name. SeeAround.me collects this information, but it may not be PII depending on whether the username
    is the User’s actual name. Alternatively, the User can establish the account using his/her Facebook login. The information SeeAround.me collects if the
    user logs in using his/her Facebook login is the following: name, email address, date of birth, and gender, and interests.If a User does submit this
    information, SeeAround.me collects it, although the User may still use a different display name. The information that SeeAround.me collects at the time a
    User establishes an account is referred to herein as his/her “Profile”.
</p>
<p>
    Each time a User posts a messageor photo to the Site, SeeAround.me collects the geo-location coordinates of that User as of that date and time. If a User
    submitted his/her real name when he/she established the account, SeeAround.me may be able to identify the location of that actual, named User, at least the
    location where the User was at the time of the post. In any event, SeeAround.me is able to match User posts with their geo-location coordinates and with
    the information in their Profiles. SeeAround.me collects, uses and retains all of that information, some of which (such as a User’s actual name used as the
    username, the User’s Profile photo and email address, with or without the geo-location information) may be personally identifiable.
</p>
<br/><br/>
<p>
    HOW DOES SEEAROUND.ME USE THE PII THAT IT COLLECTS FROM USERS?
</p>
<p>
    When a User posts a message or a photo, the Site displays that content along with the username, the User’s Profile picture, a map of the location where the
    User posted the content and a time stamp of the posting. SeeAround.me makes all of this information publicly available without restriction as part of the
    service. Profiles may also include the User’s email address, although Users are free to suppress that.
</p>
<br/><br/>
<p>
    DOES SEEAROUND.ME SHARE THE PII THAT IT COLLECTS FROM USERS WITH THIRD PARTIES?
</p>
<p>
    SeeAround.memakes the following information publicly available: username, the message and/or Profile photo, a map of the location where the User posted the
    content, a time stamp of the posting, and all of the User’s other Profile information that the User has not suppressed in the settings area of the Profile,
    including perhaps the User’s age, gender, interests, and Profile photo. SeeAround.medoes not sell any of this information to third parties.
</p>
<br/><br/>
<p>
    HOW LONG DOES SEEAROUND.ME RETAIN THE PII THAT IT COLLECTS FROM ITS USERS?
</p>
<p>
    SeeAround.mehas no current means of purging the information it collects from Users. SeeAround.me will retain that information indefinitely.
</p>
<br/><br/>
<p>
    CAN USERS REQUEST THAT SEEAROUND.ME PURGE THEIR PII THAT SeeAround.me HAS RETAINED?
</p>
<p>
    Users can request that SeeAround.me purge their PII, but SeeAround.me currently has no means to do so and will not respond to User requests.
</p>
<br/><br/>
<p>
    CAN USERS REVIEW THE PII THAT SEEAROUND.ME HAS COLLECTED AND RETAINED ABOUT THEM?
</p>
<p>
    The Site enables Users to review and edit their Profile information.
</p>
<br/><br/>
<p>
    DOES SEEAROUND.ME’S SITE PLACE COOKIES ON THE USERS’ MACHINES? IF SO, WHAT INFORMATION DO THOSE COOKIES COLLECT AND HOW IS THAT INFORMATION USED?
</p>
<p>
    The Site places certain cookies on Users’ machines. One type of cookie is placed on all Users’ machines and determines if a User is logged in or not.
    Another cookie is placed when a User checks the “remember me” option when logging in so that the User doesn’t have to log in every time he or she visits
    the website.
</p>
<br/><br/>
<p>
    WHAT SECURITY MEASURES DOES SeeAround.me EMPLOY TO PROTECT USERS’ PII FROM UNAUTHORIZED ACCESS OR USE?
</p>
<p>
    User data is saved in a database, withpasswords secured using SHA256 encryption.
</p>
<br/><br/>
<p>
    HOW CAN USERS CONTACT SeeAround.me WITH QUESTIONS ABOUT PRIVACY-RELATED ISSUES?
</p>
<p>
    Users having questions about SeeAround.me’s privacy-related practices and procedures may contact SeeAround.me by email at a@seearound.me.This is the
    exclusive way that Users may contact SeeAround.me about privacy related issues.
</p>
<br/><br/>
<p>
    IS SEEAROUND.ME INTENDED TO BE USED AND ACCESSED BY CHILDREN UNDER THIRTEEN YEARS OF AGE?
</p>
<p>
    SeeAround.me’sSiteis intended to be used only by adults. SeeAround.me will terminate access to the Site of any User who SeeAround.me learns is under age
    13.
</p>
<br/><br/>
<p>
    DOES SEEAROUND.ME RESPOND TO “DO NOT TRACK” REQUESTS FROM ITS USERS?
</p>
<p>
    At this time, SeeAround.me does not respond to “Do Not Track” requests.
</p>
<br/><br/>
<p>
    HOW WILL SEEAROUND.ME INFORM USERS OF CHANGES TO THIS PRIVACY POLICY?
</p>
<p>
    SeeAround.me reserves the right to make changes to this privacy policy at any time. When SeeAround.me does make changes, it will post a revised privacy
    policy containing those changes and including a new effective date at SeeAround.me/privacy. The revised privacy policy will become effective upon posting.
    Users are responsible for checking the privacy policy frequently to stay aware of SeeAround.me’s most current privacy policy and practices.
</p>
<br/><br/>
<p>
    EFFECTIVE DATE OF THIS PRIVACY POLICY
</p>
<p>
    The effective date of this privacy policy is November 16, 2014.
</p>
		    
			
           
        </div>

    </div>

</div>	

<!-- end of location popup -->



<script>

    $(document).ready(function(){

		$(".Location-Popup-Class").colorbox({width:"70%",height:"", inline:true, href:"#Location-Popup"},function(){

			$('html, body').animate({ scrollTop: 0 }, 0); 

			$("#address").val("");

			$("#Location").val("");

			$("#RLatitude").val("");

			$("#RLongitude").val("");

                        $("#searchAddres").val("");

                        $("#searchCity").val("");

                        $("#searchState").val("");

			initializeMap('search'); 

		});
        
       /* $(".tems-of-service-popup").colorbox({onComplete:function(){
					
					$("#tems-of-service-popup-div").mCustomScrollbar();
				},
		        width:"70%",height:"", inline:true, href:"#tems-of-service-popup-div"},function(){
          
		});
                
        $(".privacy-policy-popup").colorbox({onComplete:function(){
				
					$("#privacy-policy-popup-div").mCustomScrollbar();
				},width:"70%",height:"", inline:true, href:"#privacy-policy-popup-div"},function(){
          
		}); */

	});
    
	
	 (function($){
			 
			 $(document).ready(function(){
				
				$(".tems-of-service-popup").colorbox({
					width:"70%",
					height:"90%", 
					inline:true, 
					href:"#tems-of-service-popup-div",
					onComplete:function(){
						$("#cboxLoadedContent").mCustomScrollbar({
						  live:true,
					      theme:"3d-thick"
						});
					}
				});
				
				$(".privacy-policy-popup").colorbox({
					width:"70%",
					height:"90%", 
					inline:true, 
					href:"#privacy-policy-popup-div",
					onComplete:function(){
						$("#cboxLoadedContent").mCustomScrollbar({
						  live:true,
					      theme:"3d-thick"
						});
					}
				});
				
				/*$("#cboxLoadedContent").mCustomScrollbar({
					live:true,
					theme:"3d-thick"
				});*/
				
			});
		})(jQuery);
	

	function locationDone() {

		if($("#address").val()) {

                    $("#Location").val($("#address").val());

                    closePopup();

		} else {

                    alert("Please select location form map");

		}

	}

	

</script>