<div class="loginCopyArea appendClr">
	<div class="regSuccUpdated">
		<table width="100%" style="height:100%">
			<tr align="center">
				<td width="50%" style="vertical-align:top;" align="center">
					<br /><br /><br />
					<div style="font-size: 14px; font-weight: bold; color: grey; min-height: 300px;">Your account is not activated. Please check your email for the activation link. If you don't find the activation link in your inbox,  please check your spam or Click on resend activation link <a id="resend" href="#">resend</a></div>
				</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('#resend').click(function(e){
		e.preventDefault();

		$.ajax({
			url: baseUrl + 'index/resend',
			data: {'id': user.id},
			type: 'POST',
			dataType: 'json'
		}).done(function(response){
			if (response && response.status){
				alert('Confirmation mail send successfully');
			} else if (response){
				alert(response.error.message);
			} else {
				alert(ERROR_MESSAGE);
			}
		}).fail(function(jqXHR, textStatus){
			alert(textStatus);
		});
	});
});
</script>
