<link href="<?=BASE_PATH?>public/www/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<style>
    .ui_image{
       width:50px; 
       padding:8px;
    }
    .ui_name{
        color: #3B5998;
        font-weight: bold;        
    }
    .ui_main_text{
        margin-left: 64px;
        margin-top: -64px;
        padding: 8px;
        min-height: 48px;
    }
    .ui_email{
        color: #999;
        font-weight: normal;
        font-size: 12px;
        margin-left: 10px;
    }
    .ui_address{
        color: #666666;
        direction: ltr;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-size: 11px;
        line-height: 1.28;
        text-align: left;
    }
    /*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        background: #3B5998;
        color: #FFFFFF;
    }*/
</style>
<script language="JavaScript" src="<?=BASE_PATH?>public/www/script/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
    /*Auto completer code starts*/
    $(document).ready(function(){
        str = $("#search").attr("value","");
    });
    
    $(function () {
        $("#search").autocomplete({
            minLength: 1,
            source: function (request, response) {
            $.ajax({
                url: baseUrl+"contact/search",
                dataType: "json",
                data: {            
                    search: request.term
                },
                success: function (data) {        
                    response(data.success);
                }
                });
            },
            focus: function (event, ui) {
            if (ui.item.id < 0)
                return false;
            $("#search").val(ui.item.Name);
                return false;
            },
            select: function (event, ui) {
               //alert(11);
                if (ui.item.id < 0)
                    return false;        
                window.location.href = baseUrl+"home/profile/user/"+ui.item.id;    
                //return false;
            }
        })
        .data("autocomplete")._renderItem = function (ul, item) {
            var imgsrc ="";
            var address = "";
            if(item.Profile_image == null) {
                imgsrc = baseUrl+"www/images/img-prof40x40.jpg";
            }else if(item.Profile_image.indexOf("://") > 0) {
                imgsrc = item.Profile_image;
            }else {
                imgsrc = baseUrl+"uploads/"+item.Profile_image;
            }
            if(item.address != null) {
                address = item.address;
            }
            return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><div class='ui_image'><img height='50' width='50' src='"+imgsrc+"' /></div><div class='ui_main_text'><span class='ui_name'>"+ item.Name +"</span><br><span class='ui_address'>"+ address +"</span></div></a>")
            .appendTo(ul);
        };
    });


</script>
<div id="container">
    <div id="message">
        
    </div>
    <div style="height:70px; padding-top: 5%;">
        <input name="search" id="search" placeholder="Enter the keywords.." type="text" value="" style="width:431px;height: 28px" />
    </div>
    
</div>