<div class="loginCopyArea">
    <div class="regForm">
        <h2 style="padding: 30px 0 53px; color:#FEA427;margin-top: 63px;">
            Sign up for an invite to join seearound.me*
			<div class="clr"></div>
        </h2>
        <div id="regForm">
            <ul class="frm">
                <li>
                    <input id="Name" name="Email_id" type="text" placeholder="Email" value="<?php echo $this->email; ?>" />
                </li>                  
            </ul>  
            <table cellpadding="0" width="100%">
                <tr>
                    <td style="height: 40px; width:100%; text-align: left;">
                        <span class="errors" style="float:left;" id="err"></span>
                        <img style="display:none;" id="loader" src="<?php echo $this->baseUrl("www/images/wait.gif"); ?>" width="25" height="25" />
                    </td>
                </tr>
                <tr><td style="text-align: center;"><img class="crp" src="<?php echo $this->baseUrl("www/images/send-invite.png"); ?>" id="selfInvite" style="position: relative;"/></td></tr>
            </table>     
        </div>
        <div style="margin-top: 50px;">
            <span style="color:#FFA524; font-weight: bold; font-size: 14px;">*Or you can ask a friend to invite you</span>
        </div>
    </div>
    <div class="loginRightCol" style="margin: 170px 0 0 100px;">
            <h2>seearound.me</h2>
            Lets you see what's 
            happening near you and talk
            to other people in the area 
    </div>
	<div class="clr"></div>
</div>
<div id="popup_box">
    <h1 style="position:relative; top:20px; color:green;">Thank you for requesting an invite to seearound.me, we'll be sending out more soon!</h1>
    <a id="popupBoxClose"><img src="<?php echo $this->baseUrl("www/images/delete-icon.png"); ?>" /></a>
</div>
<script type="text/javascript">
$(function(){
	$('#popupBoxClose,#container').click( function() {
		$('#popup_box').fadeOut("slow");
		$("#container").css({
			"opacity": "1"  
		}); 
	});

    $('#selfInvite').click(function(){
        $('#popupBoxClose').trigger('click');
        $('#sent,#confirm').hide();
        $('#err').html('');
        $('#loader').show();

		$.ajax({
			url: baseUrl + 'index/send-invitation',
			data: {Email_id: $('#Name').val()},
			type: 'POST',
			dataType: 'json'
		}).done(function(response){
			if (response && response.status){
				$('#sent').show();
				$('#confirm,#loader').hide();

				$('#popup_box').fadeIn("slow");
				$("#container").css({
					"opacity": "0.3"  
				});
			} else {
				$('#sent,#confirm,#loader').hide();
				$('#err').html(response ? response.error.message : ERROR_MESSAGE);
			}
		}).fail(function(jqXHR, textStatus){
			$('#sent,#confirm,#loader').hide();
			$('#err').html(response ? response.error.message : ERROR_MESSAGE);
		});
	});
});
</script>
