<?php
$userVote = 0;
$voteModel = new Application_Model_Voting;
$canVote = $voteModel->canVote($this->user, $this->news);

if ($canVote && !$this->is_new)
{
	$vote = $voteModel->findVote($this->news->id, $this->user->id);

	if ($vote)
	{
		$userVote = $vote->vote;
	}
}
?>
<div class="vote">
	<div class="_3_copy"><?php echo $this->news->vote; ?></div>
	<div class="icon">
		<div class="like<?php if ($userVote == 1): ?> active<?php endif; ?>"<?php if (!$canVote): ?> disabled<?php endif; ?>></div>
		<div class="dislike<?php if ($userVote == -1): ?> active<?php endif; ?>"<?php if (!$canVote): ?> disabled<?php endif; ?>></div>
	</div>
</div>
