<?php
$commentsModel = new Application_Model_Comments;
$comments = !$this->is_new ? $commentsModel->findAllByNewsId($this->item->id, 3) : array();
$hide_comments = !$this->item->comment || !My_ArrayHelper::search(array('news_id' => $this->item->id), $comments->toArray(), 1);
?>
<div id="scrpBox_<?php echo $this->item->id; ?>" class="scrpBox">
<?php
echo My_ViewHelper::render('news/_body.html', array(
	'user' => $this->user,
	'owner' => $this->owner,
	'item' => $this->item,
	'is_new' => $this->is_new,
	'length' => 350
));
?>
	<div class="clr"></div>
	<div class="dur">
		<div class="news-footer">
			<?php if ($hide_comments): ?>
			<div class="post-comment">Comment</div>
			<?php endif; ?>
			<?php if ($this->item->comment > 3): ?>
			<div class="view-comment"><?php echo $commentsModel->viewMoreLabel($this->item->comment - 3); ?></div>
			<?php endif; ?>
			<span class="floatR">
				<span style="display: block; float: left;">Share:</span>
				<a class="share crp" href="<?php echo $this->serverUrl() . $this->baseUrl("post/" . $this->item->id); ?>">
					<img src="<?php echo $this->baseUrl("www/images/facebook.png"); ?>" style="width: 25px; height: 25px;" />
				</a>
				<a href="#" class="crp email-share">
					<img src="<?php echo $this->baseUrl("www/images/email.png"); ?>" style="width: 25px; height: 25px;" />
				</a>
			</span>
			<?php if ($this->user->id == $this->owner->id): ?>
			<input type="button" class="edit-post" value="Edit Post" />
			<?php endif; ?>
		</div>
		<div class="clr"></div>
	</div>
	<ul id="comment_list_<?php echo $this->item->id; ?>" class="cmntRow">
	<?php
		if ($this->item->comment)
		{
			for ($i = count($comments) - 1; $i >= 0; $i--)
			{
				echo My_ViewHelper::render('comment/item.html', array('item' => $comments[$i], 'limit' => 250));
			}
		}

		echo My_ViewHelper::render('comment/add-item.html', array('hidden' => $hide_comments));
	?>
	</ul>
	<div class="clr"></div>
</div>
