<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	<body>
	<p>
		<img src="<?php echo BASE_PATH; ?>www/images/logo.png" />
	</p>
	<p>Welcome to SeeAround.me! I started this site as a place to see and share local news. This is a personal project and a work in progress. I hope you find this a helpful resource, but please let me know if you have any questions or run into any problems: a@seearound.me.</p>
	<p>Please use this link to verify your account: <a href="<?php echo $this->activate_url; ?>"><?php echo $this->activate_url; ?></a></p>
	<p>Thanks,<br />Andrew</p>
  </body>
</html>
