<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	<body>
	<p>
		<img src="<?php echo BASE_PATH; ?>www/images/logo.png" />
	</p>
	<p><?php echo $this->sender_name; ?> has sent you a message on SeeAround.me.</p>
	<p><b>Subject:</b> <?php echo $this->mail_subject; ?></p>
	<p><b>Message:</b> <?php echo $this->mail_body; ?></p>
	<p>Please log in to SeeAround.me to reply to this message: <a href="<?php echo BASE_PATH; ?>"><?php echo BASE_PATH; ?></a> Please do not reply to this email</p>
  </body>
</html>
