<h1>Mobile API</h1>
<ol class="breadcrumb">
	<li><a href="<?php echo $this->baseUrl('admin'); ?>">Admin</a></li>
	<li class="active">Mobile Api</li>
</ol>
<div class="list-group">
	<p class="list-group-item active">Authentication</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/indexapi'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/index</h4>
		<p class = "list-group-item-text">Login</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/fb-login'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/fb-login</h4>
		<p class="list-group-item-text">Facebook Login</p>
	</a>
	<a href="#" class="list-group-item disabled">mobile/registration</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/reset-password'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/reset-password</h4>
		<p class="list-group-item-text">Reset user password</p>
	</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Friends</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/myfriendlist'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/myfriendlist</h4>
		<p class = "list-group-item-text">Frields list</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/follow'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/follow</h4>
		<p class = "list-group-item-text">Follow friend</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/unfollow'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/unfollow</h4>
		<p class = "list-group-item-text">Unollow friend</p>
	</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Messages</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/sendmessage'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/sendmessage</h4>
		<p class = "list-group-item-text">Send message</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/message-conversation'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/message-conversation</h4>
		<p class = "list-group-item-text">Message conversations list</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/conversation-message'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/conversation-message</h4>
		<p class = "list-group-item-text">Conversations messages list</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/viewed'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/viewed</h4>
		<p class = "list-group-item-text">Set conversation read status action</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/unreadmessages'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/unreadmessages</h4>
		<p class = "list-group-item-text">Unread conversations messages list</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/messages'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/messages</h4>
		<p class = "list-group-item-text">Messages list</p>
	</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Posts</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/post'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/post</h4>
		<p class="list-group-item-text">Post details</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/addimobinews'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/addimobinews</h4>
		<p class="list-group-item-text">Add new post</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/get-total-comments'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/get-total-comments</h4>
		<p class="list-group-item-text">Post comments list</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/myposts'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/myposts</h4>
		<p class = "list-group-item-text">Posts list with search parameters</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/post-comment'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/post-comment</h4>
		<p class = "list-group-item-text">Posts comment</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/post-like'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/post-like</h4>
		<p class = "list-group-item-text">Posts like</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/request-nearest'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/request-nearest</h4>
		<p class = "list-group-item-text">Posts list without search parameters</p>
	</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Profile</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/edit-profile'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/edit-profile</h4>
		<p class="list-group-item-text">Edit user profile data</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/getotheruserprofile'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/getotheruserprofile</h4>
		<p class="list-group-item-text">User profile details</p>
	</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Notification</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/notification'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/notification</h4>
		<p class="list-group-item-text">User notifications list</p>
	</a>
</div>
