<h1>Mobile API</h1>
<ol class="breadcrumb">
	<li><a href="<?php echo $this->baseUrl('/home'); ?>">Home</a></li>
	<li class="active">Mobile Api</li>
</ol>
<div class="list-group">
	<p class="list-group-item active">Authentication</p>
	<a href="#" class="list-group-item disabled">mobile/index</a>
	<a href="#" class="list-group-item disabled">mobile/fb-login</a>
	<a href="#" class="list-group-item disabled">mobile/registration</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Friends</p>
	<a href="#" class="list-group-item disabled">mobile/myfriendlist</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Messages</p>
	<a href="#" class="list-group-item disabled">mobile/sendmessage</a>
	<a href="#" class="list-group-item disabled">mobile/listmessage</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/message-conversation'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/message-conversation</h4>
		<p class = "list-group-item-text">Message conversations list between two users</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/conversation-message'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/conversation-message</h4>
		<p class = "list-group-item-text">Conversations messages list</p>
	</a>
	<a href="#" class="list-group-item disabled">mobile/viewed</a>
	<a href="#" class="list-group-item disabled">mobile/unreadmessages</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Posts</p>
	<a href="#" class="list-group-item disabled">mobile/addimobinews</a>
	<a href="#" class="list-group-item disabled">mobile/get-total-comments</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/myposts'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/myposts</h4>
		<p class = "list-group-item-text">Posts list with search parameters</p>
	</a>
	<a href="#" class="list-group-item disabled">mobile/post-comment</a>
	<a href="#" class="list-group-item disabled">mobile/post-like</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/request-nearest'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/request-nearest</h4>
		<p class = "list-group-item-text">Posts list without search parameters</p>
	</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Profile</p>
	<a href="#" class="list-group-item disabled">mobile/edit-profile</a>
	<a href="#" class="list-group-item disabled">mobile/getotheruserprofile</a>
</div>
