<h1>Mobile API</h1>
<ol class="breadcrumb">
	<li><a href="<?php echo $this->baseUrl('admin'); ?>">Admin</a></li>
	<li class="active">Mobile Api</li>
</ol>
<div class="list-group">
	<p class="list-group-item active">Authentication</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/indexapi'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/index</h4>
		<p class = "list-group-item-text">Login</p>
	</a>
	<a href="#" class="list-group-item disabled">mobile/fb-login</a>
	<a href="#" class="list-group-item disabled">mobile/registration</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Friends</p>
	<a href="#" class="list-group-item disabled">mobile/myfriendlist</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Messages</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/sendmessage'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/sendmessage</h4>
		<p class = "list-group-item-text">Send message</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/listmessage'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/listmessage</h4>
		<p class = "list-group-item-text">Received conversations list</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/message-conversation'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/message-conversation</h4>
		<p class = "list-group-item-text">Message conversations list between two users</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/conversation-message'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/conversation-message</h4>
		<p class = "list-group-item-text">Conversations messages list</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/viewed'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/viewed</h4>
		<p class = "list-group-item-text">Set conversation read status action</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/unreadmessages'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/unreadmessages</h4>
		<p class = "list-group-item-text">Unread conversations messages list</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/messages'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/messages</h4>
		<p class = "list-group-item-text">Messages list</p>
	</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Posts</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/addimobinews'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/addimobinews</h4>
		<p class="list-group-item-text">Add new post</p>
	</a>
	<a href="#" class="list-group-item disabled">mobile/get-total-comments</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/myposts'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/myposts</h4>
		<p class = "list-group-item-text">Posts list with search parameters</p>
	</a>
	<a href="#" class="list-group-item disabled">mobile/post-comment</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/post-like'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/post-like</h4>
		<p class = "list-group-item-text">Posts like</p>
	</a>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/request-nearest'); ?>"
		class="list-group-item">
		<h4 class = "list-group-item-heading">mobile/request-nearest</h4>
		<p class = "list-group-item-text">Posts list without search parameters</p>
	</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Profile</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/edit-profile'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/edit-profile</h4>
		<p class="list-group-item-text">Edit user profile data</p>
	</a>
	<a href="#" class="list-group-item disabled">mobile/getotheruserprofile</a>
</div>
<div class="list-group">
	<p class="list-group-item active">Notification</p>
	<a href="<?php echo $this->baseUrl('admin/mobile-api/notification'); ?>"
		class="list-group-item">
		<h4 class="list-group-item-heading">mobile/notification</h4>
		<p class="list-group-item-text">User notifications list</p>
	</a>
</div>
