<h2>mobile/notification-read</h2>
<ol class="breadcrumb">
	<li><a href="<?php echo $this->baseUrl('admin'); ?>">Admin</a></li>
	<li><a href="<?php echo $this->baseUrl('admin/mobile-api'); ?>">Mobile Api</a></li>
	<li class="active">notification-read</li>
</ol>
<div class="well">
<p>Update notification read status</p>
<a href="https://github.com/ajones05/seearound.me/wiki/Mobile-Api-Reference#-mobilenotification-read">
https://github.com/ajones05/seearound.me/wiki/Mobile-Api-Reference#-mobilenotification-read</a>
</div>
<form class="form-horizontal" role="form" action="<?php echo $this->baseUrl('mobile/notification-read'); ?>" method="post">
	<div class="form-group">
		<label class="control-label col-sm-2" for="user_id">User ID [user_id]:</label>
		<div class="col-sm-10">
			<input type="text" name="user_id" class="form-control"
				id="user_id" placeholder="Enter user ID"
				value="<?php echo $this->request->getParam('user_id'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="id">Notification ID [id]:</label>
		<div class="col-sm-10">
			<input type="text" name="id" class="form-control"
				id="id" placeholder="Enter notification ID"
				value="<?php echo $this->request->getParam('id'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="type">Notification Type [type]:</label>
		<div class="col-sm-10">
			<select class="form-control" id="type" name="type">
				<option value="">-- Select One --</option>
				<option value="friend">friend</option>
				<option value="message">message</option>
				<option value="vote">vote</option>
				<option value="comment">comment</option>
			</select>
		</div>
	</div>
	<div class="form-group">        
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
