<?php
$settings = Application_Model_Setting::getInstance();

$filter_id = (array) $this->request->getParam('filter');
$ne = $this->request->getParam('ne');
$sw = $this->request->getParam('sw');

if ($ne != null && $sw != null)
{
	$neLatLng = explode(',', $ne);
	$swLatLng = explode(',', $sw);
}
else
{
	$ne = '37.805741,-122.269452';
	$sw = '37.800401,-122.278539';
	$neLatLng = [37.805741, -122.269452];
	$swLatLng = [37.800401, -122.278539];
}
?>
<h2>mobile/request-nearest</h2>
<ol class="breadcrumb">
	<li><a href="<?php echo $this->baseUrl('admin'); ?>">Admin</a></li>
	<li><a href="<?php echo $this->baseUrl('admin/mobile-api'); ?>">Mobile Api</a></li>
	<li class="active">request-nearest</li>
</ol>
<div class="well">
<p>Posts list without search parameters</p>
<a href="https://github.com/ajones05/seearound.me/wiki/Mobile-Api-Reference#-mobilerequest-nearest">
https://github.com/ajones05/seearound.me/wiki/Mobile-Api-Reference#-mobilerequest-nearest</a>
</div>
<form class="form-horizontal" role="form" action="<?php echo $this->baseUrl('mobile/request-nearest'); ?>" method="post" id="apiForm">
	<div class="form-group">
		<label class="control-label col-sm-2" for="token">Token [token]:</label>
		<div class="col-sm-10">
			<input type="text" name="token" class="form-control"
				id="token" placeholder="Enter access token"
				value="<?php echo $this->request->getParam('token'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="start">Start [start]:</label>
		<div class="col-sm-10">
			<input type="text" name="start" class="form-control"
				id="start" placeholder="Enter rows start"
				value="<?php echo $this->request->getParam('start'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="filter">Filter [filter]:</label>
		<div class="col-sm-10">
			<select name="filter" class="form-control" id="filter" multiple>
				<?php foreach (Application_Model_News::$filters as $id => $filter): ?>
				<option
				value="<?php echo $id; ?>"
				<?php if (in_array($id, $filter_id)) echo ' selected'; ?>
				><?php echo $filter; ?></option>
				<?php endforeach; ?>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="latitude">North-East [ne]:</label>
		<div class="col-sm-10">
			<input type="text" name="ne" class="form-control"
				id="ne" placeholder="Enter North-East coordinates: latitude,longitude"
				value="<?php echo $ne; ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="longitude">Soth-West [sw]:</label>
		<div class="col-sm-10">
			<input type="text" name="sw" class="form-control"
				id="sw" placeholder="Enter Soth-West coordinates: latitude,longitude"
				value="<?php echo $sw; ?>">
		</div>
	</div>
	<div id="map" style="height:480px;"></div>
	<hr>
	<div class="form-group">
		<label class="control-label col-sm-2" for="latitude" style="color: #ccc">Latitude [latitude]:</label>
		<div class="col-sm-10">
			<input type="text" name="latitude" class="form-control"
				id="latitude" placeholder="Enter center latitude"
				value="<?php echo $this->request->getParam('latitude'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="longitude" style="color: #ccc">Longitude [longitude]:</label>
		<div class="col-sm-10">
			<input type="text" name="longitude" class="form-control"
				id="longitude" placeholder="Enter center longitude"
				value="<?php echo $this->request->getParam('longitude'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="radious" style="color: #ccc">Radius [radious]:</label>
		<div class="col-sm-10">
			<input type="text" name="radious" class="form-control"
				id="radious" placeholder="Enter radius"
				value="<?php echo $this->request->getParam('radious'); ?>">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
<script>
var map, rectangle, markers = [];
jQuery(function(){
	jQuery('#ne,#sw').on('change',function(){
		var ne = jQuery('#ne').val().split(','),
			sw = jQuery('#sw').val().split(',');

		rectangle.setBounds({
			north:parseFloat(ne[0]),
			south:parseFloat(sw[0]),
			east:parseFloat(ne[1]),
			west:parseFloat(sw[1])
		});
	});
});
function initMap(){
	var bounds = {
		north:<?= $neLatLng[0] ?>,
		south:<?= $swLatLng[0] ?>,
		east:<?= $neLatLng[1] ?>,
		west:<?= $swLatLng[1] ?>
	};

	map = new google.maps.Map(document.getElementById('map'));
	map.fitBounds(bounds);

	rectangle = new google.maps.Rectangle({
		map: map,
		bounds: bounds,
		editable: true
	});

	google.maps.event.addListener(rectangle, 'bounds_changed', function(){
		resetMarkers();
		var rectangleBounds = rectangle.getBounds();
		var ne = rectangleBounds.getNorthEast();
		var sw = rectangleBounds.getSouthWest();
		jQuery('#ne').val(ne.lat()+','+ne.lng());
		jQuery('#sw').val(sw.lat()+','+sw.lng());
		jQuery('#apiForm').submit();
	});
}
function resetMarkers(){
	if (markers.length > 0){
		for (var i in markers){
			markers[i].setMap(null);
		}
		markers = [];
	}
}
window.responseCallback = function(response){
	resetMarkers();
	if (response.result){
		for (var i in response.result){
			var marker = new google.maps.Marker({
				position: {
					lat:parseFloat(response.result[i].latitude),
					lng:parseFloat(response.result[i].longitude)
				},
				map: map,
				title: response.result[i].id
			});
			markers.push(marker);
		}
	}
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<?= $settings['google_mapsKey'] ?>&callback=initMap">
</script>
