<h2>mobile/save-post</h2>
<ol class="breadcrumb">
	<li><a href="<?php echo $this->baseUrl('admin'); ?>">Admin</a></li>
	<li><a href="<?php echo $this->baseUrl('admin/mobile-api'); ?>">Mobile Api</a></li>
	<li class="active">save-post</li>
</ol>
<div class="well">
<p>Save post</p>
<a href="https://github.com/ajones05/seearound.me/wiki/Mobile-Api-Reference#-mobilesave-post">
https://github.com/ajones05/seearound.me/wiki/Mobile-Api-Reference#-mobilesave-post</a>
</div>
<form class="form-horizontal" role="form" action="<?php echo $this->baseUrl('mobile/save-post'); ?>"
	method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label class="control-label col-sm-2" for="user_id">User ID [user_id]:</label>
		<div class="col-sm-10">
			<input type="text" name="user_id" class="form-control"
				id="user_id" placeholder="Enter user ID"
				value="<?php echo $this->request->getParam('user_id'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="post_id">Post [post_id]:</label>
		<div class="col-sm-10">
			<input type="text" name="post_id" class="form-control"
				id="post_id" placeholder="Enter post ID"
				value="<?php echo $this->request->getParam('post_id'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="body">Body [body]:</label>
		<div class="col-sm-10">
			<textarea name="body" class="form-control"
				id="body" placeholder="Enter post body"
				><?php echo htmlspecialchars($this->request->getParam('body')); ?></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="latitude">Latitude [latitude]:</label>
		<div class="col-sm-10">
			<input type="text" name="latitude" class="form-control"
				id="latitude" placeholder="Enter center latitude"
				value="<?php echo $this->request->getParam('latitude'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="longitude">Longitude [longitude]:</label>
		<div class="col-sm-10">
			<input type="text" name="longitude" class="form-control"
				id="longitude" placeholder="Enter center longitude"
				value="<?php echo $this->request->getParam('longitude'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="street_name">Street name [street_name]:</label>
		<div class="col-sm-10">
			<input type="text" name="street_name" class="form-control"
				id="street_name" placeholder="Enter street name"
				value="<?php echo $this->request->getParam('street_name'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="street_number">Street number [street_number]:</label>
		<div class="col-sm-10">
			<input type="text" name="street_number" class="form-control"
				id="street_number" placeholder="Enter street number"
				value="<?php echo $this->request->getParam('street_number'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="city">City [city]:</label>
		<div class="col-sm-10">
			<input type="text" name="city" class="form-control"
				id="city" placeholder="Enter street number"
				value="<?php echo $this->request->getParam('city'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="state">State [state]:</label>
		<div class="col-sm-10">
			<input type="text" name="state" class="form-control"
				id="state" placeholder="Enter state"
				value="<?php echo $this->request->getParam('state'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="country">Country [country]:</label>
		<div class="col-sm-10">
			<input type="text" name="country" class="form-control"
				id="country" placeholder="Enter country"
				value="<?php echo $this->request->getParam('country'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="zip">Zip [zip]:</label>
		<div class="col-sm-10">
			<input type="text" name="zip" class="form-control"
				id="zip" placeholder="Enter zip"
				value="<?php echo $this->request->getParam('zip'); ?>">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="image">Image [image]:</label>
		<div class="col-sm-10">
			<input type="file" name="image" id="image">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="delete_image">Delete Image [delete_image]:</label>
		<div class="col-sm-10">
			<input type="checkbox" name="delete_image" id="delete_image" value="1">
		</div>
	</div>
	<div class="form-group">        
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
<script>
$(function(){
	$('#delete_image').change(function(){
		var image = $('#image').val(''),
			imageContainer = image.closest('.form-group');
		if ($(this).is(':checked')){
			imageContainer.hide();
		} else {
			imageContainer.show();
		}
	});
});
</script>
