<h3 class="topHdGrayB12_updated">
	<img src="<?php echo $this->baseUrl("www/images/envelope-icon.gif"); ?>" class="tIcn" alt="My Connections" />Inbox
</h3>
<?php if (count($this->paginator) > 0): ?>
<div class="inboxSec">
	<?php
	foreach($this->paginator as $inboxData):
		$sender = $inboxData->findDependentRowset('Application_Model_User', 'Sender')->current();

		$higlight = '';

		if ($inboxData->sender_id == $this->user->id && $inboxData->sender_read == "false" ||
			$inboxData->receiver_id == $this->user->id && $inboxData->reciever_read == "false")
		{
			$higlight .= ' highLight';
		}

		$icon = $inboxData->reciever_read == "true" ? "message_checked.png" : "message_check.png";
	?>
	<ul>
		<li id="row_<?php echo $inboxData->id; ?>" class="message-list<?php echo $higlight; ?>">
			<div class="main-message-wrapper">
				<div class="message-frist">
					<img src="<?php echo $sender->getProfileImage($this->baseUrl('www/images/img-prof40x40.jpg')); ?>" />
				</div>
				<div class="message-second">
					<span class="name"><?php echo $sender->Name; ?></span>
					<div>
						<span class="messageSubject"><?php echo $inboxData->subject; ?></span>
						<span>-</span>
						<span class="messageBody"><?php echo $inboxData->message; ?></span>
					</div>
				</div>
				<div class="message-third">
					<span class="dateTime"><?php echo date('F j \a\t h:ia', strtotime($inboxData->created)); ?></span>
					<img src="<?php echo $this->baseUrl("www/images/" . $icon); ?>" />
                </div>
				<div class="clr"></div>
			</div>
		</li>
	</ul>
	<div class="clr"></div>
	<?php endforeach; ?>
	<?php echo $this->paginationControl($this->paginator, 'Sliding', 'message/message-paging.html'); ?>
	<div class="clr"></div>
</div>
<?php else: ?>
<div class="errorMessage1">No message found.</div>
<?php endif; ?>
