<h3 class="topHdGrayB12_updated">
	<img src="<?php echo $this->baseUrl("www/images/icn-inbox.gif"); ?>" width="26" height="20" class="tIcn" alt="My Connections" /> Inbox
</h3>
<?php if (count($this->paginator) > 0): ?>
<div class="inboxSec">
	<?php
	foreach($this->paginator as $inboxData):
		$receiver = $inboxData->findDependentRowset('Application_Model_User', 'Receiver')->current();

		$higlight = '';

		if ($inboxData->sender_id == $this->user->id && $inboxData->sender_read == "false" ||
			$inboxData->receiver_id == $this->user->id && $inboxData->reciever_read == "false")
		{
			$higlight .= 'highLight';
		}
	?>
	<ul>
        <li onclick="showData(this, '<?=$inboxData->id?>');" id="row_<?=$inboxData->id?>" class="<?php echo $higlight; ?>">
            <a href="javascript:void(0);"><? if($inboxData->subject != ""):?><?=$inboxData->subject?><? else:?>--<? endif;?></a> 
            <span class="name">(<?php echo $receiver->Name; ?>)</span>
			<span id="showAlll_<?=$inboxData->id?>" onclick="if (event.stopPropagation){event.stopPropagation();}else if (window.event){window.event.cancelBubble = true;} showAllReply(this, '<?=$inboxData->id?>'); " style="margin-left: 50px;display: none;" class="name">Show all</span>
            <span class="name">
				<img id="loading_<?=$inboxData->id?>" style="display:none;padding-left: 14px;" src="<?php echo $this->baseUrl("www/images/wait.gif"); ?>" />
			</span>
            <span class="dateTime"><?=date('Y-m-d H:i', strtotime($inboxData->created))?></span>
			<div class="clr"></div>
            <ul id="show_data_<?=$inboxData->id?>" class="replyFrm" onclick="if (event.stopPropagation){event.stopPropagation();}else if (window.event){window.event.cancelBubble = true;}"></ul>
        </li>
        <div class="clr"></div>        
	</ul>
	<div class="clr"></div>
    <?php endforeach;?>
	<?php echo $this->paginationControl($this->paginator, 'Sliding', 'message/message-paging.html'); ?>
	<div class="clr"></div>
</div>
<?php else: ?>
<div class="errorMessage1">No message found.</div>
<?php endif; ?>
