<h3 class="topHdGrayB12_updated">
	<img src="<?php echo $this->baseUrl("www/images/icn-inbox.gif"); ?>" width="26" height="20" class="tIcn" alt="My Connections" />Inbox
</h3>
<?php if (count($this->paginator) > 0): ?>
<div class="inboxSec">
<?php
foreach($this->paginator as $message):
$createdAt = (new DateTime($message->created_at))
	->setTimezone($this->userTimezone);
?>
	<ul>
        <li id="row_<?php echo $message->id; ?>" class="message-list<?php if ($message->is_read) echo ' highLight'; ?>">
			<div>
				<span class="subject"><?php echo $message->subject; ?></span>
				<span class="name">(<?php echo $message->user_name; ?>)</span>
				<span class="dateTime"><?php echo $createdAt->format(My_Time::OUTPUT); ?></span>
				<div class="clr"></div>
			</div>
        </li>
	</ul>
	<div class="clr"></div>
    <?php endforeach;?>
	<?php echo $this->paginationControl($this->paginator, 'Sliding', 'message/message-paging.html'); ?>
	<div class="clr"></div>
</div>
<?php else: ?>
<div class="errorMessage1">No message found.</div>
<?php endif; ?>
