/* v2.0 | 20110126

http://meyerweb.com/eric/tools/css/reset/

  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('/www/css/fonts/Lato-Bold.eot');
    src: local('☺'), url('/www/css/fonts/Lato-Bold.woff') format('woff'), url('/www/css/fonts/Lato-Bold.ttf') format('truetype'), url('/www/css/fonts/Lato-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Light';
    src: url('/www/css/fonts/Lato-Light.eot');
    src: local('☺'), url('/www/css/fonts/Lato-Light.woff') format('woff'), url('/www/css/fonts/Lato-Light.ttf') format('truetype'), url('/www/css/fonts/Lato-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('/www/css/fonts/Lato-LightItalic.eot');
    src: local('☺'), url('/www/css/fonts/Lato-LightItalic.woff') format('woff'), url('/www/css/fonts/Lato-LightItalic.ttf') format('truetype'), url('/www/css/fonts/Lato-LightItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('/www/css/fonts/Lato-Italic.eot');
    src: url('/www/css/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/Lato-Italic.woff2') format('woff2'),*/
         url('/www/css/fonts/Lato-Italic.woff') format('woff'),
         url('/www/css/fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('/www/css/fonts/Lato-Regular.eot');
    src: local('☺'), url('/www/css/fonts/Lato-Regular.woff') format('woff'), url('/www/css/fonts/Lato-Regular.ttf') format('truetype'), url('/www/css/fonts/Lato-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  position: relative;
  height: 100%;
}
body {
  background: #60c5ff;
  margin: 0;
  padding: 0 !important;
  font: normal 12px  'Lato-Regular';
  color: #afafaf;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.bgNewForm {
  background: url(../img/bg.jpg) no-repeat 0px 5%;
  background-size: cover;
  padding-top: 0px;
  width: 100%;
  height: 100%;
}
.header a {
  float: left;
}
.info {
  color: #fff;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 20px;
  /*font-size: 3vh;*/
  text-align: left;
  text-shadow: 0px 0px 4px #000;
}
.logo {
  height: auto;
  width: 185px;
  /*width: 28vh;*/
  margin: 10px 0px 16px 80px;
}
.header ul li a {
  text-decoration: none;
  background: none;
  font-size: 16px;
  /*font-size: 3vh;*/
  color: #464646;
  font-variant: normal;
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
  text-shadow: none;
  border: none;
  height: auto;
  width: auto;
  margin-top: 10px;
  margin-right: 50px;
  display: block;
}
.header ul {
  float: right;
}
.header ul li {
  float: left;
}
.header ul li:nth-child(1) a {
  padding-right: 15px;
}
.header ul li:nth-child(2) a {
  padding-left: 8px;
  padding-right: 8px;
}
.iphone {
  width: 43vh;
  max-width: 380px;
  margin-left: 100px;
  margin-right: 30px;
  float: right;
}
.appstore {
  width: 175px;
  /*width: 16vw;*/
  padding: 0 !important;
  margin-right: 10px;
  /*margin-right: 2vh;*/
}
.googleplay {
  width: 175px;
  /*width: 16vw;*/
}
.wr-appstore,
.wr-googleplay {
  float: left;
}
.newmainContainer {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: table;
}
.newmainContainer .d-table-cell {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 9%;
}
.app-s .h1 {
  font-size: 32px;
  /*font-size: 6vh;*/
  margin-bottom: 160px;
  /*margin-bottom: 25vh;*/
  margin-top: 20px;
  /*margin-top: 3vh;*/
  color: #fff;
  font-family: "Lato-Bold", sans-serif;
  display: inline-block;
  text-shadow: 0px 0px 4px #000;
}
.app-s {
  margin-top: -115px;
  float: left;
  margin-left: 120px;
}
.app-s img {
  margin-left: 0;
}
.app-s p span {
  display: block;
  vertical-align: middle;
  font-size: 32px;
  /*font-size: 6vh;*/
  margin-bottom: 25px;
  /*margin-bottom: 3vh;*/
  color: #ffffff;
  text-shadow: 0px 0px 4px #000;
}
.d-table {
  display: table;
  width: 100%;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.bg-blue {
  background-color: #60c5ff;
  width: 100%;
  height: 100%;
}
.left-text {
  color: #fff;
  font-family: "Lato-Bold", sans-serif;
  font-size: 40px;
  /*font-size: 6vh;*/
  text-align: left;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.radiusimage {
  width: 720px;
  /*width: 100vh;*/
  max-width: 100%;
}
.inner-bg {
  display: table;
  width: 100%;
}
.inner-bg > div {
  display: table-cell;
  vertical-align: middle;
}
.left-block {
  padding-left: 150px;
  line-height: 1.4;
  padding-top: 60px;
}
.bottom-text {
  text-align: center;
  font-family: "Lato-Bold", sans-serif;
  font-size: 38px;
   /*font-size: 6vh;*/
  color: #fff;
  margin-top: 30px;
  display: table;
  width: 100%;
  line-height: 2;
}
.bottom-text > div {
  display: table-cell;
  vertical-align: middle;
}
.bottom-text span {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
}
.swiper-pagination-bullet {
  border-radius: 0 !important;
  opacity: 0.7 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
.swiper-container-vertical>.swiper-pagination-bullets {
  left: 50%;
  margin-left: -60px;
}
.swiper-pagination-bullet:last-child {
  background: url(../img/arrow.png) no-repeat;
  width: 122px;
  height: 33px;
}
.swiper-container-vertical>.swiper-pagination-bullets {
  top: 95% !important;
}
.swiper-pagination-bullet:first-child {
  background: url(../img/arrow.png) no-repeat;
  width: 122px;
  height: 33px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none !important;
}
.swiper-pagination-bullet-active.swiper-pagination-bullet:last-child {
  display: none !important;
}
.swiper-pagination-bullet-active.swiper-pagination-bullet:first-child {
  display: none !important;
}
.wrapper-to-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 25px;
  background: rgba(40,40,40,0.8);
}
.to-bottom {
  float: right;
}
.to-bottom li {
  float: left;
  font-size: 16px;
  /*font-size: 3vh;*/
  color: #fff;
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
  margin-left: 50px;
}
.to-bottom li a {
  color: #fff;
  text-decoration: none;
}
.bgNewForm {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1370px) {
  .iphone {
    /*width: 260px;*/
  }
}
@media (max-width: 1200px) {
  .iphone {
    /*width: 250px;*/
  }
}
@media (max-width: 900px) {
  .app-s {
    margin-left: 50px;
  }
  .iphone {
    margin-left: 0px;
  }
}
.app-s .h2 {
  font-size: 32px;
  /*font-size: 6vh;*/
  margin-bottom: 30px;
  /*margin-bottom: 4vh;*/
  margin-top: 20px;
  /*margin-top: 3vh;*/
  color: #fff;
  font-family: "Lato-Bold", sans-serif;
  display: inline-block;
  text-shadow: 0px 0px 4px #000;
}
.last-info {
  margin-bottom: 25px;
  /*margin-bottom: 4vh;*/
}
.regForm,
.leftForm {
  width: 340px;
  background: #efeeee;
  padding: 25px 40px;
}
.desktop-login span {
  font-size: 22px;
  /*font-size: 3vh;*/
  color: #4d4a49;
  margin-top: 3px;
  margin-bottom: 40px;
  display: inline-block;
}
.loginForm span {
  font-size: 16px;
  /*font-size: 2vh;*/
  color: #4d4a49;
  margin-bottom: 20px;
  display: inline-block;
}
.login-f {
  width: 175px;
  /*width: 28vh;*/
  border-radius: 4px;
  float: right;
  cursor: pointer;
}
.regForm .loginForm ul.frm li input {
  width: 93%;
}
.frm-n li input {
  padding: 9px 10px;
  font-size: 16px;
  /*font-size: 3vh;*/
  width: 93%;
  margin-bottom: 6px;
}
.margin-top-0 {
  margin-top: 0px;
}
.app-s.margin-top-0 {
  float: right;
  margin-right: 200px;
  margin-left: 0px;
}
.wrapper-forgot {
  float: right;
}
.forgot {
  text-decoration: none;
  color: #4276cd;
  font-size: 16px;
  /*font-size: 3vh;*/
  margin-bottom: 20px;
  display: inline-block;
}
.sign-in {
  width: 100%;
  padding: 8px 0px 10px;
  background-color: #3366cc;
  color: #FFFFFF;
  font-size: 18px;
  /*font-size: 4vh;*/
  font-family: "Lato-Bold", sans-serif;
  font-weight: 700;
  border: none;
}
/* Special Classes */
.clearfix {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* END NEW Added changes */

.formErrors {
  margin-bottom: 15px;
}
.formErrors p {
  color: red;
  font-size: 16px;
}
input.error {
  background-color: #ff5959;
}

/* page about */
.t-and-c{
  background: rgba(0,0,0,0.3);
  width: 100%;
  max-width: 940px;
  margin: 30px auto 0;
  padding: 30px 30px 1px;
  border-radius: 30px;
  color: #fff;
  font-family: 'Lato-Regular';
  text-align: left;
}
.t-and-c h2{
  font-size: 22px;
  width:44%;
  display: inline-block;
  vertical-align: top;
}
.t-and-c .answer{
  display: inline-block;
  width:55%;
}
.t-and-c h3{
  font-size: 20px;
  margin-bottom: 36px;
}
.t-and-c p{
  font-size: 16px;
  margin-bottom: 36px;
}
.t-and-c a{
  color: #fff;
}
.t-and-c .further-step{
  text-align: center;
  margin-top:30px;
}
.paragraph {
	margin-top: 30px;
}
