<?php
$view = $request->getParam('view');
?>
<div class="special-footer">
<div class="loginFtr">
<ul>
<?php if ($view != null): ?>
<li>
<a href="<?php echo $this->baseUrl('/'); ?>">Home</a>
</li>
<?php endif; ?>
<?php if ($view != 'about'): ?>
<li>
<a href="<?php echo $this->url(array(), 'about'); ?>">About</a>
</li>
<?php endif; ?>
<li>
<a href="<?php echo $this->url(array(), 'terms'); ?>">Terms Of Service</a>
</li>
<li>
<a href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a>
</li>
<li>
<span class="ftrCopyRight">Copyright <?php echo date('Y'); ?> Seearound.me</span>
</li>
</ul>
</div>
</div>
