<div class="special-footer">
	<div class="loginFtr">
		<ul>
			<li>
				<a href="<?php echo $this->url(array(), 'about'); ?>">About</a>
			</li>
			<li class="tems-of-service-popup"  style="cursor: pointer;">
				<a style="color:#FFFFFF;cursor:pointer" href="<?php echo $this->url(array(), 'terms'); ?>">Terms Of Service</a>
			</li>
			<li class="privacy-policy-popup" style="cursor: pointer;">
				<p style="color:#FFFFFF;cursor: pointer;font-size:14px;font-weight:bold;">
					<a href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a>
				</p>
			</li>
			<li>
				<span class="copyRight ftrCopyRight">&copy; Copyright <?php echo date('Y'); ?> SeeAround.me</span>
			</li>
			<li class="clr"></li>
		</ul>
	</div>  
</div>
