<div class="special-footer">
<div class="loginFtr">
<ul>
<li>
<a href="<?php echo $this->baseUrl('/'); ?>">Home</a>
</li>
<?php if ($request->getParam('view') != 'about'): ?>
<li>
<a href="<?php echo $this->url(array(), 'about'); ?>">About</a>
</li>
<?php endif; ?>
<li>
<a href="<?php echo $this->url(array(), 'terms'); ?>">Terms Of Service</a>
</li>
<li>
<a href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a>
</li>
<li>
<span class="ftrCopyRight">Copyright 2012-<?php echo date('Y'); ?> Seearound.me</span>
</li>
</ul>
</div>
</div>
