<?php
$auth = Zend_Auth::getInstance()->getIdentity();
$request = Zend_Controller_Front::getInstance()->getRequest();
?>
<div class="uprBar">
	<?php if (Application_Model_User::checkId($auth['user_id'], $user)): ?>
	<div class="uprBar-wrapper">
		<ul class="uprBarInr">
			<li class="leftCol">
				<a class="logo" href="<?php echo $this->baseUrl('/'); ?>">
					<img src="<?php echo $this->baseUrl("www/images/logo.png"); ?>" />
				</a>
			</li>
			<li class="midCol">
				<form id="searchNews" action="<?php echo $this->baseUrl("home"); ?>" method="GET">
					<span class="sIcn">
						<input type="text" name="sv" value="<?php echo $request->getParam('sv', null); ?>" placeholder="Search posts..." />
						<img class="search" src="<?php echo $this->baseUrl("www/images/icn-search.png"); ?>" />
					</span>
				</form>
			</li>
			<li class="rightCol">
				<ul class="primNav">
					<li>
						<a href="#" id="ddMyConn" onclick="showFriendRequest(this);">
							<img src="<?php echo $this->baseUrl("www/images/friends.png"); ?>" style="margin-top:-6px; width: 27px; height: auto" alt="My Connections"  id="icnMyConn" />
							<span style="padding-left:33px;color: #5d5d5d;">My Friends</span>
						</a>
						<span style="display:none;" id="noteTotal" class="connQty"></span>
						<div class="clr"></div>
						<div id="ddMyConnList" class="ddMyConnList"></div>
					</li>
					<li>
						<a class="messageLiMargin" href="<?php echo $this->baseUrl("message"); ?>">
							<img src="<?php echo $this->baseUrl("www/images/message.png"); ?>" style="margin-top:-1px; width: 24px; height: 18px" alt="My Messages" id="icnMyMsg" />
							<span class="linkText" style="color: #5d5d5d;">My Messages</span>
							<span style="display:none;" id="msgTotal" class="connQty"></span>
						</a>
					</li>
					<li class="last">
						<a href="#" id="myProfLink">
							<img src="<?php echo $user->getProfileImage($this->baseUrl('www/images/img-prof40x40.jpg')); ?>" class="imgProf_Header" />
							<span style="color:#5d5d5d;">My Profile</span>
						</a>
						<div class="clr"></div>
						<div id="ddMyProf" class="ddMyProf dispNone">
							<ul class="ddMyProfLinks">
								<li>
									<a href="<?php echo $this->baseUrl("home/profile"); ?>">Profile</a>
								</li>
								<li id="logoutLi">
									<a href="<?php echo $this->baseUrl("home/logout"); ?>">Logout</a>
								</li>
							</ul>
							<div class="clr"></div>
						</div>
					</li>
					<li class="clr"></li>
				</ul>
			</li>
			<li class="clr"></li>
		</ul>
		<div class="clr"></div>
	</div>
	<?php else: ?>
	<div class="loginHdr">
		<a href="<?php echo $this->baseUrl('/'); ?>">
			<img src="<?php echo $this->baseUrl("www/images/logo.png"); ?>" style="height: auto;width:200px;margin: 8px 0px 8px 3px;" />
		</a>
		<form id="loginForm" action="<?php echo $this->baseUrl('login'); ?>" method="POST" class="loginForm">
			<ul>
				<?php if (isset($this->login_form)): ?>
				<li>
					<span id="loginError" class="loginerror"><?php echo implode('<br/>', $this->login_form->getMessages()); ?></span>
				</li>
				<?php endif; ?>
				<li>
					<input type="email" name="email" placeholder="Email Address" tabindex="1" />
					<span>
						<span> Keep me logged in </span>
						<input name="remember" type="checkbox" value="1" tabindex="3" />
						<div class="clr"></div>
					</span>
				</li>
				<li>
					<input type="password" name="password" placeholder="Password" tabindex="2" />
					<a class="hypDecNone" href="<?php echo $this->baseUrl("index/forgot"); ?>"><span>Forgot your password?</span></a>
				</li>
				<li class="btn">
					<input class="floatL" type="submit" value="Login" tabindex="4" />
				</li>
				<div class="clr"></div>
			</ul>
		</form>
		<div class="clr"></div>
	</div>
	<?php endif; ?>
</div>
