<?php
$settings = Application_Model_Setting::getInstance();

$this->doctype('XHTML1_RDFA');

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('www/css/beta.css'));

$this->headMeta()
	->setProperty('og:title', $settings['meta_title'])
	->setProperty('og:description', $settings['meta_description'])
	->setProperty('og:image', $this->serverUrl() .
		My_Layout::assetUrl('www/images/logo-social.png'))
	->setProperty('og:image:width', 278)
	->setProperty('og:image:height', 278);
?>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<?php include '_head.html'; ?>
</head>
<body>
<div class="uprBar">
<div class="loginHdr">
<a href="<?php echo $this->baseUrl('/'); ?>">
<img src="<?php echo $this->baseUrl('www/images/beta/logo-header.png'); ?>"
alt="logo" width="168" height="39">
</a>
<a href="<?php echo $this->baseUrl('about'); ?>" class="about-link">About</a>
</div>
</div>
<div class="mainContainer">
<h1>See and Share What's Happening Near You <br>
<span>A free, public, hyper-local community bulletin board</span></h1>
<div class="signup-form">
<form
action="https://docs.google.com/forms/d/1Fgw1vHniMWGgiXvtyndkIXZtRYWEW4kXxuG1Gq2C8ok/formResponse"
method="POST">
<input type="email" name="entry.364269482" placeholder="Email address..." required>
<input type="submit" value="Notify me!">
</form>
</div>
<img src="<?php echo $this->baseUrl('www/images/beta/phones.png'); ?>"
alt="" class="phones-bottom" width="500" height="491">
</div>
</body>
</html>
