<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
<p><img src="<?php echo $this->opts['baseUrl'] . 'www/images/logo.png'; ?>"></p>
<?php echo $this->layout()->content; ?>
<p>To view on mobile, download or log into the app (Download for
<a href="https://itunes.apple.com/us/app/seearoundme/id1186414014">iOS</a> or
<a href="https://play.google.com/store/apps/details?id=com.seearoundme.mobileapp"
>Android</a>)</p>
<?php if (!empty($this->unsubscribe)): ?>
<hr>
<?php foreach ($this->unsubscribe as $unsubscribe): ?>
<p style="text-align:center;"><a style="font-size:12px;"
href="<?php echo $unsubscribe[1]; ?>"><?php echo $unsubscribe[0]; ?></a></p>
<?php endforeach;
endif; ?>
</body>
</html>
