<?php
$auth = Zend_Auth::getInstance()->getIdentity();

if ($auth)
{
	$user = Application_Model_User::findById($auth['user_id']);
}

$geoip = My_Ip::geolocation();

My_Layout::renderFavicon($this);

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('bower_components/jquery-ui/themes/base/jquery-ui.min.css', $this))
	->appendStylesheet(My_Layout::assetUrl('www/css/global.css', $this));

$this->headScript()
	->appendScript(
		"	var isLogin = " . json_encode((boolean) $auth) . ";\n" .
		"	var baseUrl = " . json_encode($this->serverUrl() . $this->baseUrl('/')) . ";\n" .
		"	var	facebook_appId = " . json_encode(Zend_Registry::get('config_global')->facebook->app->id) . ";\n" .
		"	var	user_id = " . json_encode($auth ? $user->id : '') . ";\n" .
		My_Layout::deferLoadCss('//fonts.googleapis.com/css?family=Lato:400,700')
	)
	->prependFile(My_Layout::assetUrl('bower_components/jquery/dist/jquery.min.js', $this))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-ui/jquery-ui.min.js', $this))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-validation/dist/jquery.validate.min.js', $this))
	->appendFile(My_Layout::assetUrl('www/scripts/common.js', $this));

$image = $this->baseUrl('www/images/img-prof40x40.jpg');
$class = '';

if ($this->hideRight)
{
	$class .= ' hideRight';
}
	?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>seearound.me</title>
<?php echo implode("\n", array($this->headMeta(), $this->headLink(), $this->headScript())); ?>
<script language="javascript" type="text/javascript">
var userLatitude = <?php echo json_encode($auth ? $user->lat() : $geoip[0]); ?>;
var userLongitude = <?php echo json_encode($auth ? $user->lng() : $geoip[1]); ?>;
var userAddress = <?php echo json_encode($auth ? $user->address() : ''); ?>;
var userName = <?php echo json_encode($auth ? $user->Name : ''); ?>;
var imagePath = "<?php echo $auth ? $user->getProfileImage($image) : $image; ?>";
<?php if (empty($this->hideRight)): ?>
$(function(){
	$(window).resize(function(){
		var height, windowHeight = $(window).height();

		if (windowHeight > 770){
			height = 500;
		} else if (windowHeight > 450) {
			height = windowHeight - 230;
		} else {
			height = 150;
		}

		$('#map_canvas').height(height);
	}).resize();
});
<?php endif; ?>
</script>
</head>
<body class="layout<?php echo $class; ?>">
<?php include '_header.html'; ?>
<div class="mainContainer">
<div class="leftContainer">
	<div class="midCol eqlCH" id="midColLayout"><?php echo $this->layout()->content; ?></div>
</div>
<?php if (!$this->hideRight) { ?>
<div class="rightContainer">
	<div class="mapDiv <?php if(!empty($this->homePageExist)): ?>rightColUpdated eqlCH<?php else: ?><?php endif; ?>">
		<?php if (!empty($this->displayMapFilter) || !empty($this->displayMapZoom)) { ?>
		<div class="mapFilter">
			<?php if (!empty($this->displayMapFilter)) { ?>
			<span>Filter Posts By:</span>
			<dl class="menu">
				<dt>View All</dt>
				<dd>
					<ul style="display: none;">
						<li>View All</li>
						<li filter="Myconnection">Mine Only</li> 
						<li filter="Interest">My Interests</li>
						<li filter="Friends">Following</li>
					</ul>
				</dd>
			</dl>
			<select name="type" id="filter_type" style="display: none;" autocomplete="off">
				<option value="">View All</option>
				<option value="Myconnection">Mine Only</option>
				<option value="Interest">My Interests</option>
				<option value="Friends">Following</option>
			</select>
			<?php } ?>
		</div>
		<?php } ?>
		<div class="gMapSec">
			<?php if (!empty($this->displayMapZoom)) { ?>
			<div id="zoomController">
				<div>
					<img id="zoomIn" src="<?php echo $this->baseUrl("www/images/zoom_in.gif"); ?>" />
				</div>
				<div>
					<img id="zoomOut" src="<?php echo $this->baseUrl("www/images/zoom_out.gif"); ?>" />
				</div>
			</div>
			<?php } ?>
			<div class="gMap">
				<div id="map_canvas" class="mapCanvas"></div>
			</div>
			<?php if (!empty($this->displayMapSlider)) { ?>
			<div class="sliderBackground">
				<div>
					<span id="radious">0.8</span>
					<span>Miles</span>
				</div>
				<div id="slider"></div>
			</div>
			<?php } ?>
			<?php if (!empty($this->changeLocation)) { ?>
			<div class="gMapBtnBar">
				<input id="locationButton" type="button" value="Change Location" class="btnBlueRpt" />
			</div>
			<?php } ?>
		</div>
		<?php include '_layout_footer.html'; ?>
	</div>
</div>
<?php } else { ?>            
<?php include '_layout_footer.html'; ?>
<?php } ?>
</div>
<div id="fb-root"></div>
</body>
</html>
