<?php
$auth = Zend_Auth::getInstance()->getIdentity();
$config = Zend_Registry::get('config_global');
$request = Zend_Controller_Front::getInstance()->getRequest();
$config = Zend_Registry::get('config_global');

if ($auth)
{
	$user = Application_Model_User::findById($auth['user_id']);
	$image = $user->getThumb('55x55')['path'];
}
else
{
	$image = My_ArrayHelper::getProp($config, 'user.thumb.55x55.path');
}

$geoip = My_Ip::geolocation();

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('bower_components/jquery-ui/themes/base/jquery-ui.min.css', $this))
	->appendStylesheet(My_Layout::assetUrl('www/css/global.css', $this));

$this->headScript()
	->appendScript(
		"var isLogin = " . json_encode((boolean) $auth) . ";\n" .
		"var baseUrl = " . json_encode($this->serverUrl() . $this->baseUrl('/')) . ";\n" .
		"var facebook_appId = " . json_encode($config->facebook->app->id) . ";\n" .
		"var facebook_apiVer = " . json_encode($config->facebook->api->version) . ";\n" .
		"var user_id = " . json_encode($auth ? $user->id : '') . ";\n" .
		"var userName = " . json_encode($auth ? $user->Name : '') . ";\n" .
		"var imagePath = " . json_encode($this->baseUrl($image)) . ";\n" .
		My_Layout::deferLoadCss('//fonts.googleapis.com/css?family=Lato:400,700')
	)
	->prependFile(My_Layout::assetUrl('bower_components/jquery/dist/jquery.min.js', $this))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-ui/jquery-ui.min.js', $this))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-validation/dist/jquery.validate.min.js', $this))
	->appendFile(My_Layout::assetUrl('www/scripts/common.js', $this))
	->appendFile(My_Layout::assetUrl('www/scripts/commondev.js', $this));

if (empty($this->hideRight))
{
	$this->headScript()->appendScript('$(function(){
	$(window).resize(function(){
		var height, windowHeight = $(window).height();

		if (windowHeight > 770){
			height = 500;
		} else if (windowHeight > 450) {
			height = windowHeight - 230;
		} else {
			height = 150;
		}

		$("#map_canvas").height(height);
	}).resize();
});
');
}

$this->headMeta('text/html; charset=utf-8', 'Content-Type', 'http-equiv');

$class = '';

if ($this->hideRight)
{
	$class .= ' hideRight';
}
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php include '_head.html'; ?>
</head>
<body class="layout<?php echo $class; ?>">
<?php include '_header.html'; ?>
<div class="mainContainer">
<div class="leftContainer">
	<div class="midCol eqlCH" id="midColLayout"><?php echo $this->layout()->content; ?></div>
</div>
<?php if (!$this->hideRight) { ?>
<div class="rightContainer">
	<div class="mapDiv <?php if(!empty($this->homePageExist)): ?>rightColUpdated eqlCH<?php else: ?><?php endif; ?>">
		<?php if (!empty($this->displayMapFilter) || !empty($this->displayMapZoom)) { ?>
		<div class="mapFilter">
			<?php if (!empty($this->displayMapFilter)) { ?>
			<span>Filter Posts By:</span>
			<dl class="menu">
				<dt>View All</dt>
				<dd>
					<ul style="display: none;">
						<li>View All</li>
						<li filter="0">Mine Only</li>
						<li filter="1">My Interests</li>
						<li filter="2">Following</li>
					</ul>
				</dd>
			</dl>
			<select name="type" id="filter_type" style="display: none;" autocomplete="off">
				<option value="">View All</option>
				<option value="0">Mine Only</option>
				<option value="1">My Interests</option>
				<option value="2">Following</option>
			</select>
			<?php } ?>
		</div>
		<?php } ?>
		<div class="gMapSec">
			<?php if (!empty($this->displayMapZoom)) { ?>
			<div id="zoomController">
				<div>
					<img id="zoomIn" src="<?php echo $this->baseUrl("www/images/zoom_in.gif"); ?>" />
				</div>
				<div>
					<img id="zoomOut" src="<?php echo $this->baseUrl("www/images/zoom_out.gif"); ?>" />
				</div>
			</div>
			<?php } ?>
			<div class="gMap">
				<div id="map_canvas" class="mapCanvas"></div>
			</div>
			<?php if (!empty($this->displayMapSlider)) { ?>
			<div class="sliderBackground">
				<div>
					<span id="radious"><?php echo $request->getParam('radius', 0.8); ?></span>
					<span>Miles</span>
				</div>
				<div id="slider"></div>
			</div>
			<?php } ?>
			<?php if (!empty($this->changeLocation)) { ?>
			<div class="gMapBtnBar">
				<input id="locationButton" type="button" value="Change Location" class="btnBlueRpt" />
			</div>
			<?php } ?>
		</div>
		<?php include '_layout_footer.html'; ?>
	</div>
</div>
<?php } else { ?>
<?php include '_layout_footer.html'; ?>
<?php } ?>
</div>
<div id="fb-root"></div>
<?php echo My_Layout::asyncScript($this); ?>
</body>
</html>
