<?php
$geoip = My_Ip::getCity();

if ($geoip && isset($geoip->location->latitude) && isset($geoip->location->longitude))
{
	$geoip_lat = $geoip->location->latitude;
	$geoip_lng = $geoip->location->longitude;
}
else
{
	$geoip_lat = 0;
	$geoip_lng = 0;
}
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Here Spy</title>
	<?php echo $this->headScript(); ?>

	<link rel="stylesheet" media="screen" href="<?=BASE_PATH?>www/css/colorbox.css"/>
	<link rel="stylesheet" media="screen" href="<?=BASE_PATH?>www/css/boxy.css"/>
	<link rel="stylesheet" media="screen" href="<?=BASE_PATH?>www/css/jquery-ui.css"/>
	<link rel="stylesheet" media="screen" href="<?=BASE_PATH?>www/css/reset.css"/>
	<link rel="stylesheet" media="screen" href="<?=BASE_PATH?>www/css/global.css?3"/>
	<link rel="stylesheet" media="screen" href="<?=BASE_PATH?>www/css/layout.css?1"/>
	<link rel="stylesheet" media="screen" href="<?=BASE_PATH?>www/css/jquery.mCustomScrollbar.css"/>
	<?php if ($this->hideRight): ?>
	<style type="text/css">
    #midColLayout {
		width:986px;
		min-height: 593px;
		border-right:0px solid #D3DDE6;
	}
	</style>
	<?php endif; ?>
	<script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<script language="javascript" type="text/javascript">
	var geoiplatitude  = <?php echo $geoip_lat; ?>;
	var geoiplongitude = <?php echo $geoip_lng; ?>;
	var baseUrl = "<?=BASE_PATH?>";
	var userLatitude = "<?=$this->auth['latitude'];?>";
	var userLongitude = "<?=$this->auth['longitude'];?>";
	var userPosition = new google.maps.LatLng(userLatitude,userLongitude);
	var isLogin = "<?=$this->isLogin?>";
	var isFbLogin = "<?php echo !empty($this->auth['is_fb_login']); ?>";
	var user_id = "<?=$this->auth['user_id']?>";
	var reciever_userid =  "<?=$this->reciever?>";
	var userName = "<?=$this->auth['user_name']?>";
	var imagePath = "<?=$this->auth['pro_image']?>"; 
	var controller = "<?=$this->request->getParam('controller')?>";
	var action = "<?=$this->request->getParam('action')?>";
	var showMy = "<?=$this->request->getParam('my')?'search':'no'?>";
	var returnUrl = "<?=$this->request->getParam('url')?$this->request->getParam('url'):''?>";
	var currentRequests = 0;
	if (imagePath){
		if (imagePath.indexOf("://") > 0){
			imagePath ='<?=$this->auth["pro_image"]?>';
		}else {
			imagePath = '<?=BASE_PATH?>uploads/<?=$this->auth["pro_image"]?>';
		} 
	} else {
		imagePath = '<?=BASE_PATH?>www/images/img-prof40x40.jpg';
	}  
	</script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/jquery-ui.min.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/infobubble.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/customDatepicker.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/jquery.colorbox.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/json2.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/jquery.boxy.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/jquery.form.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/custom.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/layout.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/areaCircle.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/spy-common.js?1"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/spy-mainMap.js?1"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/upclick.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/jquery.autogrowtextarea.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/jquery.scrollTo-min.js"></script>
	<script language="javascript" type="text/javascript" src="<?=BASE_PATH?>www/scripts/jquery.mCustomScrollbar.js"></script>	   
	<script type="text/javascript">
	$(function(){
		$('.result').html("View All");

		$(document).bind('click', function(e){
			var $clicked = $(e.target);

			if (!$clicked.parents().hasClass("menu")){
				$(".menu dd ul").hide();
				$(".menu dt a").removeClass("selected");
			}
		});

		$(".menu dt a").click(function(){
			var clickedId = "#" + this.id.replace(/^link/,"ul");

			$(".menu dd ul").not(clickedId).hide();
			$(clickedId).toggle();
			if ($(clickedId).css("display") == "none"){
				$(this).removeClass("selected");
			} else {
				$(this).addClass("selected");
			}
		});

		$(".menu dd ul li a").click(function(){
			var text = $(this).html();
			$(this).closest('dl').find('.result').html(text);
			$(".menu dd ul").hide();
		});

		$('#searchText').keydown(function(e){
			if (e.keyCode == 13){
				searchLatest(); 
			} 
		});

		// TODO: remove
		$('#filter_all').click(function(e){
			e.preventDefault();
			$('#filter_type').val('').change();
		});

		// TODO: remove
		$('#filter_my').click(function(e){
			e.preventDefault();
			$('#filter_type').val('Myconnection').change();
		});

		// TODO: remove
		$('#filter_interests').click(function(e){
			e.preventDefault();
			$('#filter_type').val('Interest').change();
		});

		// TODO: remove
		$('#filter_friends').click(function(e){
			e.preventDefault();
			$('#filter_type').val('Friends').change();
		});

		$('#filter_type').change(function(){
			globalStart = 0;
			getAllNearestPoint();
		});
	});
	</script>
</head>
<body>
        <div id="fb-root"></div>
        <div style="display: none;"></div>
        <div class="uprBar">
            <div class="uprBar-wrapper">
            <ul class="uprBarInr afterClr">
                 <li class="leftCol">
                     <a class="logo" href="<?=BASE_PATH?>">
                         <img src="<?=BASE_PATH?>www/images/logo.png"/></a>
                 </li>

                <?if(!$this->publicProfile) :?>
                  
                <li class="midCol">
                    <span class="sIcn">
                        <?php if(!$this->message) :?>
                        <input type="text" id="searchText" value="<?=$this->request->getParam('sv', null)?>" placeholder="Search posts..." />
                        <img src="<?=BASE_PATH?>www/images/icn-search.png" alt="Search" onclick="getKeycodes(true);"/>
                        <?php endif;?>
                    </span>
                </li>
                
                <li class="rightCol">
                    <ul class="primNav">
                      <?php if(!$this->message) :?>   
                        <li>
                            <a href="javascript:void(0);" id="ddMyConn"  onclick="showFriendRequest(this);"><img src="<?=BASE_PATH?>www/images/friends.png"  style="margin-top:-6px; width: 27px; height: auto"  alt="My Connections"  id="icnMyConn" /> 
                                   <span style="padding-left:33px;color: #5d5d5d;">My Friends</span>
                            </a>
                            <span style="display:none;" id="noteTotal" class="connQty"></span>

                            <div id="ddMyConnList" class="ddMyConnList beforeClr"></div>

                        </li>
                        <li>
                            <a class="messageLiMargin" href="<?=BASE_PATH?>message">
                                <img src="<?=BASE_PATH?>www/images/message.png" style="margin-top:-1px; width: 24px; height: 18px" alt="My Messages" id="icnMyMsg" />
                                <span class="linkText" style="color: #5d5d5d;">My Messages</span>
                                <span style="display:none;" id="msgTotal" class="connQty"></span>
                            </a>
                        </li>
                       
                 
                       <li class="last">
                            <a href="javascript:void(0);" id="myProfLink">
                             <?php  if(isset($this->auth['pro_image'])) { ?>
                               <img src="<?if(strpos($this->auth['pro_image'], '://')){ echo $this->auth['pro_image']; } else { echo BASE_PATH.'uploads/'.$this->auth['pro_image'];}?>" class="imgProf_Header" style="margin-top:-8px;"/>
                              <?php } else { ?>
                               <img src="http://www.herespy.com//www/images/img-prof40x40.jpg" class="imgProf_Header" style="margin-top:-3px;"/>
                              <?php } ?>
                              <span style="color:#5d5d5d;">My Profile</span> 
                            </a>
                                <div id="ddMyProf" class="ddMyProf beforeClr dispNone">
                                <ul class="ddMyProfLinks afterClr">
                                    <li>
                                        <a href="<?=BASE_PATH?>/home/profile">Profile</a>
                                    </li>
                                    <li id="logoutLi">
                                        <a href="javascript:void(0)" onclick="fbLogout('general/logout');">Logout</a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <div class="clr"></div>
                   <?php endif; ?>
                   
                    </ul>
                </li>
                <div class="clr"></div>
                <?endif;?>
            </ul>
        </div>
        </div>
        <div id="line_1" class="mainContainer_line"></div>
        <div id="mainDiv" class="mainContainer appendClr">
            <?php if(isset($this->currentPage) && ($this->currentPage == 'Message')): ?>
                <div style="float:left;width:100%;">
                <div class="midCol eqlCH" id="midColLayout" style="min-height: auto; height: 100%; position: relative; float: right; margin-right: 0px;width: 100%;">
            <?php else: ?>
                <div style="float:left;width:49%;">
                    <?php if(isset($this->currentPage) && ($this->currentPage == 'Profile')):?>
                    <div class="midCol eqlCH" id="midColLayout" ddd="ddd" style="height: 100%;width:auto;position: relative; margin-right: 0px;">
                        <?php else: ?>
                            <div class="midCol eqlCH" id="midColLayout" ddd="ccc"  style="min-height: auto; height: 100%; position: relative; float: right; margin-right: 0px;">
                        <?php endif ?>
                        
                    <?php endif ?>
                          <?=$this->layout()->content;?>
                        </div>
                    </div>
       <?php if(!$this->message): ?>    
            <?if(!$this->hideRight):?>
                  <div style="float:right;width:49%;margin-left:0px;">
               <?if(!isset($this->homePageExist)) { ?>
                  <div id="mapDiv" class="rightCol textAlignCenter eqlCH" style="">                
               <? } else { ?>
                  <div id="mapDiv" class="rightColUpdated textAlignCenter eqlCH" style="margin-left: 0px;">                
            <? } ?>
              
          <?php if(!isset($this->friendListExist) && !isset($this->myprofileExist) && !isset($this->newsDetailExist) && !isset($this->message)  && !isset($this->myeditprofileExist)) { ?>
            <div style="height:44px;position:relative;width: 355px;border-right: 1px solid #d7d7d7;">
    			<div>
    			   <div style="color:#4276cd;font:normal 18px lato-Regular;display: inline-block; width: 160px; text-align: right;float: left;margin: 13px 15px 0px 0px;">Filter Posts By:</div>
                 <dl style="z-index:999999; display: inline-block; float: left; width: 160px;margin-top: 10px;" class="menu">
    			       <dt>
    				      <a  id="linkglobal" style="cursor: pointer;">
                              <span class="result" style="text-align: left;color: #8d8d8d; font: normal 15px lato-lightItalic;padding: 5px 0px 4px 15px;"></span>
                          </a>
                       </dt>

                       <dd style="margin-left:0px;">
                           <ul style="display: none;z-index:99999;" id="ulglobal" >
                               <li><a id="filter_all" href="#"><b>View All</b></a></li>
                               <li><a id="filter_my" href="#" ><b>Mine Only</b></a></li> 
                               <li><a id="filter_interests" href="#"><b>My Interests</b></a></li>
                              <li><a id="filter_friends" href="#"><b>Friends</b></a></li>
                           </ul>
                       </dd>
                       
    			    </dl>
    			</div>
		  </div>
			<select name="type" id="filter_type">
				<option value="">View All</option>
				<option value="Myconnection">Mine Only</option>
				<option value="Interest">My Interests</option>
				<option value="Friends">Friends</option>
			</select>
      <?php  } ?>       
          <?php if(!isset($this->friendListExist) && !isset($this->myprofileExist) && !isset($this->newsDetailExist) && !isset($this->myeditprofileExist)) { ?>
                <div class="gMapSec">
                 <?php } else { ?>
                    <div class="gMapSec" style="margin-top: 0px">
                      <?php } ?>   
                        <?php if(!$this->message) :?>
                         <div class="gMap">
                            <div id="map_canvas" class="mapCanvas"></div>
                         </div>
                        <?php endif; ?>  
                        <?if($this->changeLocation) :?>
                        <div class="gMapBtnBar">
                            <input id="locationButton" type="button" value="Change Location" class="Location-Popup-Class Map-Popup-Class1 btnBlueRpt" style="width: 100%; padding: 11px 0;"/>
                        </div>
                        <?endif;?>
                    </div>
              <?if(!isset($this->homePageExist)){?>
                <div class="footer">
                    <ul class="footerLinks" >
                        <li>
                            <a href="<?=BASE_PATH?>info/about-us">About</a>
                        </li>
                        <li>
                            <a href="<?=BASE_PATH?>info/privacy">Privacy Policy</a>
                        </li>
                        <li class="afterClr"><span class="copyRight">@ Copyright 2014 SeeAround.me </span></li>
                    </ul>
                </div> <?} else {?>
                  <div class="footer">
                    <ul class="footerLinks" >
                        <li>
                            <a href="<?=BASE_PATH?>info/about-us">About</a>
                        </li>
                        <li>
                            <a href="<?=BASE_PATH?>info/privacy">Privacy Policy</a>
                        </li>
                        <li class="afterClr"><span class="copyRight">@ Copyright 2014 SeeAround.me </span></li>
                    </ul>
                </div>
                 
                <? } ?>
            </div>
            <?else:?>            
            <div class="loginFooter">
                <ul style="float:right;" class="footerLinks" >
                    <li>
                        <a href="<?=BASE_PATH?>info/about-us">About</a>
                    </li>
                    <li>
                        <a href="<?=BASE_PATH?>info/privacy">Privacy Policy</a>
                    </li>
                    <li class="afterClr">
                        <span class="copyRight">@ Copyright 2014 SeeAround.me </span>
                    </li>
                </ul>                    
            </div>             
            <?endif?>
        </div>
     </div>
    <?endif?>
        <div style="display: none;">
            <div style="display:none;"><input type="button" class="Thanks-Popup-Class" id="thanksButton" /></div>
            <div id="Thanks-Popup">
                <table width="100%">
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>    
                    <tr>
                        <td colspan="2">
                            <div align="center">
                                <span style="color:#33CC00" id="messageSuccess" >
                                    <img src="<?=BASE_PATH?>www/images/correct.gif" />
                                    &nbsp;Message sent successful
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="display: none;">
            <div id="Message-Popup">
                <img style="vertical-align:middle;" src="<?=BASE_PATH?>www/images/mail_send.gif" />
                <span class="locppmsgimg">Send Message</span>                
                <div class="locationPopup">
                    <ul id="messageForm">
                        <? if($this->publicMessage):?>
                        <li>
                            <input type="text" id="to" name="to" onFocus="removeError(this);" style="width:300px;" placeholder="Please enter receiver email address..."/><br />
                            <span class="errors marginL" id="to_error"></span>
                        </li>
                        <? else:?>
                        <li>
                            <input type="text" id="subject" name="subject" onFocus="removeError(this);" style="width:300px;" placeholder="Please enter subject..."/><br />
                            <span class="errors marginL" id="subject_error"></span>
                        </li>
                        <? endif;?>
                        <li>
                            <textarea id="message" name="message" onFocus="removeError(this);" style="width:300px;" placeholder="Please enter message..."></textarea><br />
                            <span class="errors marginL" id="message_error"></span>
                        </li>
                        <input id="closeLocationPopup" class="btnBlueRpt" type="button" value="Send" <? if($this->publicMessage):?> onClick="publicMessage();"<?else:?> onClick="message();"<?endif;?> />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" onClick="closePopup();" class="btnBlueRpt" value="Cancel" />
                    </ul>
                </div>
            </div>
            <div id="Message-Popup_Email">
                <img style="vertical-align:middle;" src="<?=BASE_PATH?>www/images/mail_send.gif" />
                <span class="locppmsgimg">Send Message</span>                
                <div class="locationPopup">
                    <ul id="messageForm">
                        <li>
                            <input type="text" id="to" name="to" onFocus="removeError(this);" style="width:300px;" placeholder="Please enter receiver email address..."/><br />
                            <span class="errors marginL" id="to_error"></span>
                        </li>
                        <li>
                            <textarea id="message" name="message" onFocus="removeError(this);" style="width:300px;" placeholder="Please enter message..."></textarea><br />
                            <span class="errors marginL" id="message_error"></span>
                        </li>
                      
                        <input id="closeLocationPopup" class="btnBlueRpt" type="button" value="Send" <? if($this->publicMessage):?> onClick="publicMessageEmail();"<?else:?> onClick="publicMessageEmail();"<?endif;?> />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                      
                        <input type="button" onClick="closePopup();" class="btnBlueRpt" value="Cancel" />
                    </ul>
                 </div>
             </div>
        </div>
        <div style="display: none;">
            <div id="login-id" class="post-login">
                <span class="loginMsg">Please register or log in to do that.</span>
                <div class="loginPopup">
                    <ul>
                        <li>
                            <a class="hypDecNone" href="<?=BASE_PATH?><?php if ($this->returnUrl): ?>?url=<?php echo $this->returnUrl; endif; ?>">
								<input style="width:70px;" class="btnBlueRpt" type="button" value="OK" />
							</a>
                        </li>
                     </ul>
                </div>
            </div>
        </div>
           <div style="display: none;">
            <div id="voting-id">
                <span class="loginMsg">Please Login to vote!</span>
                <div class="loginPopup">
                    <ul>
                        <li>
                            <?php if($this->returnUrl) :?> 
                            <a class="hypDecNone" href="<?=BASE_PATH?>?url=<?=$this->returnUrl?>"><input onclick="goLoc('?url=<?=$this->returnUrl?>');" style="width:70px;" class="btnBlueRpt" type="button" value="Login"/></a>
                            <?php else :?>
                            <a class="hypDecNone" href="<?=BASE_PATH?>"><input onclick="goLoc('');" style="width:70px;" class="btnBlueRpt" type="button" value="Login"/></a>
                            <?php endif;?>
                        </li>
                        <li>
                            <span style="color: blue; font-size:17px;">or</span>
                        </li>
                        <li>
                            <span style="margin-top: 10px;font-size: 15px;">Register with us</b></span>
                        </li>
                        <li>
                            <?php if($this->returnUrl) :?> 
                            <a class="hypDecNone" href="<?=BASE_PATH?>?url=<?=$this->returnUrl?>"><input onclick="goLoc('?url=<?=$this->returnUrl?>');" style="width:80px;" class="btnBlueRpt" type="button" value="Register"/></a>
                            <?php else :?>
                            <a class="hypDecNone" href="<?=BASE_PATH?>"><input onclick="goLoc('');" style="width:70px;" class="btnBlueRpt" type="button" value="Register"/></a>
                            <?php endif;?>
                        </li>                    
                    </ul>
                </div>
            </div>
        </div>
                    <div style="display: none;">
                     <div id="Map-Popup-id">
                         <div id="mapSection"  class="normalScreen" style="height: 432px;"></div>
                             <div style="text-align:center; padding: 15px 0; position: relative;">
                                 <input type="text" placeholder="Enter address" class="homemap-address" id="searchAddresHome">
                                 <img src="<?=BASE_PATH?>www/images/map_search.png" class="homemap-srh-img" onclick="changeHomeLocation('draw');">
                                 <input class="btnBlueRpt" id="useNewAddress" type="button" disabled="disabled" value="Use This Address" onclick="fillUserAddress()" />
                                 <img id="waitingAddress" src="<?=BASE_PATH?>www/images/wait.gif" style="display: none;" />
                              </div>
                        </div>
                     </div>
                     <div style="display: none;">
                     <div id="Change-Postlocation-Map-Popup-id">
                         <div id="mapSection"  class="normalScreen" style="height: 432px;"></div>
                              <div style="text-align: center;padding: 15px 0;position: relative;">
                                 <input type="text" placeholder="Enter address" class="Change-homemap-address" id="Change-searchAddresHome">
                                 <img src="<?=BASE_PATH?>www/images/map_search.png" class="Change-srh-img" onclick="changepostLocation('draw');">
                                 
                                 <input class="btnBlueRpt" id="useNewAddress" type="button" disabled="disabled" value="Use This Address" onclick="fillPostLocationAddress()"/>
                                 <img id="waitingAddress" src="<?=BASE_PATH?>www/images/wait.gif" style="display: none;" />
                               </div>
                     </div>
                     </div>
                        <div style="display: none;">
                            <div id="Image-Popup">
                                <img id="imagePopup" src="" style="padding: 3px; min-height : 100px; min-width: 100px;" />            
                            </div>
                        </div>
                        <div id="contentUpdator" style="display: none;">
                        </div>
</body>
</html>
