<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$auth = Zend_Auth::getInstance()->getIdentity();

My_Layout::renderFavicon($this);

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('bower_components/jquery-ui/themes/base/jquery-ui.min.css', $this))
	->appendStylesheet(My_Layout::assetUrl('www/css/global.css', $this));

$this->headScript()
	->appendScript(
		"	var isLogin = " . json_encode((boolean) $auth) . ";\n" .
		"	var baseUrl = " . json_encode($this->serverUrl() . $this->baseUrl('/')) . ";\n" .
		"	var	facebook_appId = " . json_encode(Zend_Registry::get('config_global')->facebook->app->id) . ";\n" .
		My_Layout::deferLoadCss('//fonts.googleapis.com/css?family=Lato:400,700')
	)
	->prependFile(My_Layout::assetUrl('bower_components/jquery/dist/jquery.min.js', $this))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-ui/jquery-ui.min.js', $this))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-validation/dist/jquery.validate.min.js', $this))
	->appendFile(My_Layout::assetUrl('www/scripts/common.js', $this));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>seearound.me</title>
	<?php echo implode("\n", array($this->headMeta(), $this->headLink(), $this->headScript())); ?>
</head>
<body class="bgRegForm">
	<?php include '_header.html'; ?>
	<div align="center" class="mainContainer brdrNone">
		<?php echo $this->layout()->content; ?>
	</div>
	<div class="opacity-dev"></div>
	<?php include '_footer.html'; ?>
	<div id="fb-root"></div>
</body>
</html>
