<?php
$settings = Application_Model_Setting::getInstance();
$request = Zend_Controller_Front::getInstance()->getRequest();
$user = Application_Model_User::getAuth(true);

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('bower_components/jquery-ui/themes/base/jquery-ui.min.css'))
	->appendStylesheet(My_Layout::assetUrl('www/css/global.css'));

$this->headScript()
	->appendScript(
		"	var isLogin = " . ($user != null ? 1 : 0) . ";\n" .
		"	var baseUrl = " . json_encode($this->serverUrl() . $this->baseUrl('/')) . ";\n" .
		"	var facebook_appId = " . json_encode($settings['fb_appId']) . ";\n" .
		"	var facebook_apiVer = " . json_encode($settings['fb_apiVersion']) . ";\n" .
		My_Layout::deferLoadCss('//fonts.googleapis.com/css?family=Lato:400,700')
	)
	->prependFile(My_Layout::assetUrl('bower_components/jquery/dist/jquery.min.js'))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-ui/jquery-ui.min.js'))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-validation/dist/jquery.validate.min.js'))
	->appendFile(My_Layout::assetUrl('www/scripts/common.js'))
	->appendFile(My_Layout::assetUrl('www/scripts/commondev.js'));

$this->headMeta('text/html; charset=utf-8', 'Content-Type', 'http-equiv');
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php include '_head.html'; ?>
</head>
<body class="bgRegForm">
	<?php include '_header.html'; ?>
	<div align="center" class="mainContainer brdrNone">
		<?php echo $this->layout()->content; ?>
	</div>
	<div class="opacity-dev"></div>
	<?php include '_footer.html'; ?>
	<div id="fb-root"></div>
<?php echo My_Layout::asyncScript($this); ?>
</body>
</html>
