<?php
$settings = Application_Model_Setting::getInstance();
$userAgent = new Mobile_Detect;
$isTouch = $userAgent->isMobile() || $userAgent->isTablet();

My_Layout::renderFavicon($this);

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('www/css/map.min.css'));

$serverUrl = $this->serverUrl();

$this->headScript()
	->setAllowArbitraryAttributes(true)
	->appendScript('var ' . implode(',', array_merge([
			'baseUrl=' . json_encode($serverUrl . $this->baseUrl('/')),
			'assetsBaseUrl=' . json_encode($serverUrl . My_Layout::assetUrl()),
			'facebook_appId=' . json_encode($settings['fb_appId']),
			'facebook_apiVer=' . json_encode($settings['fb_apiVersion']),
			'mapsKey=' . json_encode($settings['google_mapsKey']),
			'viewPage="' . $this->viewPage . '"',
			'isLogin=' . (!empty($this->user) ? 'true' : 'false'),
			'isTouch=' . ($isTouch ? 'true' : 'false')
		], $this->appendScript)) . ';')
	->appendFile(My_Layout::assetUrl('bower_components/requirejs/require.js'),
		'text/javascript', array('defer' => 'defer',
		'data-main' => My_Layout::assetUrl('www/scripts/map.min')));

$this->headTitle()->setSeparator(' - ')->prepend($settings['site_titlePrefix']);

$addClass = [$this->viewPage];

if ($isTouch)
{
	$addClass[] = 'touch';
}

if ($this->viewPage == 'posts')
{
	$categoryVal = $this->searchForm->category_id->getValue();

	if ($categoryVal == null)
	{
		$categoryVal = array_keys(Application_Model_News::$categories);
	}

	$categorySel = '<select name="category_id[]" style="display:none" multiple>' .
		'<option value="">Filter</option>';

	foreach (Application_Model_News::$categories as $id => $cat)
	{
		$categorySel .= '<option value="' . $id . '"';

		if (in_array($id, $categoryVal))
		{
			$categorySel .= ' selected';
		}

		$categorySel .= '>' . $cat . '</option>';
	}

	$categorySel .= '</select>';
}
?>
<!DOCTYPE html>
<html lang="en">
<head><?php echo $this->headTitle() . $this->headMeta() .
$this->headLink() . $this->headScript(); ?></head>
<body class="<?php echo implode(' ', $addClass); ?>">
<div class="navbar">
<div class="logo">
<a href="<?php echo $this->baseUrl('/'); ?>">
<img width="194" height="41" src="<?php echo $this->baseUrl('www/images/template/logo194x41.png'); ?>" alt="logo">
</a>
</div>
<?php if ($this->viewPage == 'posts'): ?>
<div class="pnd pnd-popup">
<img width="29" height="26"
src="<?php echo $this->baseUrl('www/images/template/new-post.png'); ?>" alt="new">
<?php echo $this->partial('post/_edit-dialog.html', ['user' => $this->user]); ?>
</div>
<?php endif; ?>
<div class="post-search">
<form class="postSearch" action="<?php echo $this->baseUrl('/'); ?>" method="GET"
autocomplete="off">
<div class="keywords"><?php echo $this->searchForm->keywords; ?></div>
<?php if ($this->viewPage == 'posts'): ?>
<div class="filter">
<div class="cat catc dropdown">
<button class="drp-t" type="button">
<span>Filter</span>
<span class="caret"></span>
</button>
<div class="drp hsel" style="display:none;">
<ul>
<?php foreach (Application_Model_News::$categories as $id => $label): ?>
<li class="pcat<?php echo $id; if (in_array($id, $categoryVal)) echo ' ac'; ?>"
><span class="i"></span><span class="l"><?php echo $label; ?></span></li>
<?php endforeach; ?>
</ul>
<?php echo $categorySel; ?>
</div>
</div>
</div>
<?php endif; ?>
</form>
</div>
<div class="main-menu">
<a id="menu-button"></a>
<ul>
<?php if ($this->viewPage == 'posts'): ?>
<li class="search">
<form class="postSearch" action="<?php echo $this->baseUrl('/'); ?>" method="GET"
autocomplete="off">
<div class="keywords"><?php echo $this->searchForm->keywords; ?></div>
<div class="filter">
<div class="catc dropdown">
<a class="drp-t" href="#">
<span>Filter</span>
</a>
<div class="drp hsel" style="display:none;">
<ul class="dropdown-menu">
<?php foreach (Application_Model_News::$categories as $id => $label): ?>
<li<?php if (in_array($id, $categoryVal)) echo ' class="ac"'; ?>
><span><?php echo $label; ?></span></li>
<?php endforeach; ?>
</ul>
<?php echo $categorySel; ?>
</div>
</div>
</div>
</form>
</li>
<?php endif; ?>
<li class="dropdown community">
<a class="dropdown-toggle" href="#">
<span class="icon"></span><span class="text">Community</span><span class="count"></span>
</a>
<ul class="dropdown-menu">
<li class="load"><span>Loading...</span></li>
<li><a href="<?php echo $this->baseUrl('contacts/friends-list'); ?>">See all</a></li>
</ul>
</li>
<li class="message">
<a href="<?php echo $this->baseUrl('message'); ?>">
<span class="icon"></span><span class="text">Messages</span><span class="count"></span>
</a>
</li>
<li class="dropdown profile">
<a class="dropdown-toggle" href="#"><img class="profile" width="24" height="24"
src="<?php echo $this->baseUrl(Application_Model_User::getThumb($this->user, '26x26')); ?>"
alt="profile">Profile</a>
<ul class="dropdown-menu">
<li><a href="<?php echo $this->baseUrl('profile'); ?>">Profile</a></li>
<li><a href="<?php echo $this->baseUrl('home/logout'); ?>">Logout</a></li>
</ul>
</li>
</ul>
</div>
</div>
<div class="container">
<div class="footer">
<?php if ($this->viewPage == 'posts' || $this->viewPage == 'profile' || $this->viewPage == 'community'): ?>
<div class="map-radius">
<div class="radius">Radius</div>
<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
<span class="ui-slider-handle ui-state-default ui-corner-all"></span>
</div>
</div>
<div class="user-location"><button>Change Location</button></div>
<?php endif; ?>
<ul class="about-info">
<li><a href="<?php echo $this->baseUrl('about'); ?>">About</a></li>
<li><a href="<?php echo $this->baseUrl('privacy'); ?>">Privacy Policy</a></li>
<li><span>Copyright <?php echo date('Y'); ?> SeeAround.me</span></li>
</ul>
</div>
<div class="map-container">
<div id="map_canvas"></div>
</div>
<div class="posts-container">
<div class="posts"><?php echo $this->layout()->content; ?></div>
</div>
</div>
<?php include '_analytics.html'; ?>
</body>
</html>
