<?php
$this->doctype('<!DOCTYPE html>');

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('www/css/mobile.css', $this));

$this->headScript()
	->appendScript(My_Layout::deferLoadCss('//fonts.googleapis.com/css?family=Lato:400,700'));

$this->headMeta('width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', 'viewport')
	->setCharset('UTF-8');
?>
<!DOCTYPE html>
<html lang="en">
<head>
<?php include '_head.html'; ?>
</head>
<body>
	<div class="wraper-mobile">
		<img src="<?php echo $this->baseUrl("www/images/mobile/logo-mobile.png"); ?>" alt="" class="logo-mobile" />
		<h1>See &amp; Share What's Happening Near You</h1>
		<?php echo $this->layout()->content; ?>
	</div>
<?php echo My_Layout::asyncScript($this); ?>
</body>
</html>
