<?php
$config = Zend_Registry::get('config_global');
$this->headLink()->appendStylesheet('/www/css/mobile.css');
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>seearound.me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
	<div class="wraper-mobile">
		<img src="<?php echo BASE_PATH; ?>www/images/mobile/logo-mobile.png" alt="" class="logo-mobile">
		<h1>See &amp; Share What's Happening Near You</h1>
		<?php echo $this->layout()->content; ?>
	</div>
</body>
</html>
