<?php
$config = Zend_Registry::get('config_global');
$request = Zend_Controller_Front::getInstance()->getRequest();

$this->headLink()
	->appendStylesheet('/www/css/reset.css?' . $config->mediaversion)
	->appendStylesheet('/www/css/global.css?' . $config->mediaversion)
	->appendStylesheet('/www/css/login.css?' . $config->mediaversion);

$this->headScript()
	->appendScript(
"	var baseUrl = " . json_encode(BASE_PATH) . ";\n" .
"	var facebook_appId = " . json_encode($config->facebook->app->id) . ";\n"
	)
	->prependFile('/www/scripts/jquery.js')
	->appendFile('/www/scripts/jquery.validate.js')
	->appendFile('/www/scripts/common.js');
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>seearound.me</title>
<?php echo $this->headLink() . "\n" . $this->headScript() . "\n"; ?>
</head>
<body class="page">
	<?php include '_header.html'; ?>
	<div align="center" class="mainContainer brdrNone">
		<?php echo $this->layout()->content; ?>
	</div>
	<div class="opacity-dev"></div>
	<?php include '_footer.html'; ?>
	<div id="fb-root"></div>
</body>
</html>
