<?php
$settings = (new Application_Model_Setting)->findValuesByName([
	'fb_apiVersion',
	'fb_appId'
]);

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('bower_components/jquery-ui/themes/base/jquery-ui.min.css', $this))
	->appendStylesheet(My_Layout::assetUrl('www/css/global.css', $this));

$this->headScript()
	->appendScript(
		'var isLogin=' . json_encode(Zend_Auth::getInstance()->hasIdentity()) .
		',baseUrl=' . json_encode($this->serverUrl() . $this->baseUrl('/')) .
		',facebook_appId=' . json_encode($settings['fb_appId']) .
		',facebook_apiVer=' . json_encode($settings['fb_apiVersion']) .
		My_Layout::deferLoadCss('//fonts.googleapis.com/css?family=Lato:400,700')
	)
	->prependFile(My_Layout::assetUrl('bower_components/jquery/dist/jquery.min.js', $this))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-ui/jquery-ui.min.js', $this))
	->appendFile(My_Layout::assetUrl('bower_components/jquery-validation/dist/jquery.validate.min.js', $this))
	->appendFile(My_Layout::assetUrl('www/scripts/common.js', $this))
	->appendFile(My_Layout::assetUrl('www/scripts/commondev.js', $this));

$this->headMeta('text/html; charset=utf-8', 'Content-Type', 'http-equiv');

$bodyClass = ['page'];

if (!empty($this->bodyClass))
{
	$bodyClass =array_merge($bodyClass, $this->bodyClass);
}
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php include '_head.html'; ?>
</head>
<body class="<?php echo implode(' ', $bodyClass); ?>">
	<?php include '_header.html'; ?>
	<div align="center" class="mainContainer brdrNone">
		<?php echo $this->layout()->content; ?>
	</div>
	<div class="opacity-dev"></div>
	<?php include '_footer.html'; ?>
	<div id="fb-root"></div>
<?php echo My_Layout::asyncScript($this); ?>
</body>
</html>
