<?php
$config = Zend_Registry::get('config_global');
$profileImage = $this->user->getProfileImage($this->baseUrl('www/images/img-prof40x40.jpg'));

My_Layout::renderFavicon($this);

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('www/css/posts.css', $this));

$this->headScript()
	->setAllowArbitraryAttributes(true)
	->appendScript('var baseUrl=' . json_encode($this->serverUrl() . $this->baseUrl('/')) . ',' .
			'assetsBaseUrl=' . json_encode($this->serverUrl() . My_Layout::assetUrl('', $this)) . ',' .
			'facebook_appId=' . json_encode($config->facebook->app->id) . ';')
	->appendFile(My_Layout::assetUrl('bower_components/requirejs/require.js', $this),
		'text/javascript', array('defer' => 'defer',
		'data-main' => My_Layout::assetUrl('www/scripts/posts', $this)));

$this->headTitle()->setSeparator(' - ')->prepend($config->head->title);
?>
<!DOCTYPE html>
<html lang="en">
<head><?php echo $this->headTitle() . $this->headMeta() .
$this->headLink() . $this->headScript(); ?></head>
<body>
<div class="navbar">
	<div class="logo">
		<a href="<?php echo $this->baseUrl('/'); ?>">
			<img width="194" height="41" src="<?php echo $this->baseUrl('www/images/template/logo194x41.png'); ?>" alt="logo" />
		</a>
	</div>
	<div class="post-new">
		<img width="29" height="26" src="<?php echo $this->baseUrl('www/images/template/new-post.png'); ?>" alt="new" />
	</div>
	<div class="post-search">
		<form id="postSearch" action="<?php echo $this->baseUrl('post/list'); ?>" method="GET">
			<div class="keywords">
				<?php echo $this->searchForm->keywords; ?>
				<?php if (trim($this->searchForm->keywords->getValue()) !== ''): ?>
				<img class="clear" width="14" height="14" src="<?php echo $this->baseUrl('www/images/template/close14x14.png'); ?>" alt="clear">
				<?php else: ?>
				<img class="search" width="14" height="14" src="<?php echo $this->baseUrl('www/images/template/search14x14.png'); ?>" alt="search">
				<?php endif; ?>
			</div>
			<div class="filter">
				<div class="dropdown">
					<button class="dropdown-toggle" type="button">
						<span><?php echo $this->searchForm->filter->getMultiOption($this->searchForm->filter->getValue()); ?></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<?php foreach ($this->searchForm->filter->getMultiOptions() as $label): ?>
						<li><a href="#"><?php echo $label; ?></a></li>
						<?php endforeach; ?>
					</ul>
					<?php echo $this->searchForm->filter; ?>
				</div>
			</div>
		</form>
	</div>
	<div class="main-menu">
		<ul>
			<li class="dropdown community">
				<a class="dropdown-toggle" href="#">
					<span class="icon"></span><span class="text">Community</span>
				</a>
				<ul class="dropdown-menu">
					<li class="load"><span>Loading...</span></li>
					<li><a href="<?php echo $this->baseUrl('contacts/friends-list'); ?>">See all</a></li>
				</ul>
			</li>
			<li>
				<a href="<?php echo $this->baseUrl('message'); ?>">
					<span class="message"></span><span class="text">Messages</span>
				</a>
			</li>
			<li class="dropdown profile">
				<a class="dropdown-toggle" href="#">
					<?php // TODO: thumbnail 24x24 ?>
					<img class="profile" width="24" height="24" src="<?php echo $profileImage; ?>" alt="profile">Profile
				</a>
				<ul class="dropdown-menu">
					<li><a href="<?php echo $this->baseUrl('home/profile'); ?>">Profile</a></li>
					<li><a href="<?php echo $this->baseUrl('home/logout'); ?>">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="footer">
		<div class="map-radius">
			<div class="radius">Radius</div>
			<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				<span class="ui-slider-handle ui-state-default ui-corner-all"></span>
			</div>
		</div>
		<div class="user-location">
			<button>Change Location</button>
		</div>
		<div class="about-info">
			<a href="<?php echo $this->url(array(), 'about'); ?>">About</a>
			<a href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a>
			<span>Copyright <?php echo date('Y'); ?> SeeAround.me</span>
		</div>
	</div>
	<div class="map-container">
		<div id="map_canvas"></div>
	</div>
	<div class="posts"><?php echo $this->layout()->content; ?></div>
</div>
</body>
</html>
