<?php
$settings = Application_Model_Setting::getInstance();
$profileImage = Application_Model_User::getThumb($this->user, '26x26');

My_Layout::renderFavicon($this);

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('www/css/posts.css'));

$serverUrl = $this->serverUrl();

$headScripts = 'var baseUrl=' . json_encode($serverUrl . $this->baseUrl('/')) .
	',assetsBaseUrl=' . json_encode($serverUrl . My_Layout::assetUrl()) .
	',facebook_appId=' . json_encode($settings['fb_appId']) .
	',facebook_apiVer=' . json_encode($settings['fb_apiVersion']) .
	',mapsKey=' . json_encode($settings['google_mapsKey']);

if ($this->user)
{
	$headScripts .= ',isLogin=true';

	if ($this->user['is_admin'])
	{
		$headScripts .= ',isAdmin=true';
	}
}

$this->headScript()
	->setAllowArbitraryAttributes(true)
	->appendScript($headScripts . ';')
	->appendFile(My_Layout::assetUrl('bower_components/requirejs/require.js'),
		'text/javascript', array('defer' => 'defer',
		'data-main' => My_Layout::assetUrl('www/scripts/posts')));

$this->headTitle()->setSeparator(' - ')->prepend($settings['site_titlePrefix']);

$addClass = $this->addClass ?: [];

$userAgent = new Mobile_Detect;

if ($userAgent->isMobile() || $userAgent->isTablet())
{
	$addClass[] = 'touch';
}

$bodyAttributes = '';

if (count($addClass))
{
	$bodyAttributes = ' class="' . implode(' ', $addClass) . '"';
}
?>
<!DOCTYPE html>
<html lang="en">
<head><?php echo $this->headTitle() . $this->headMeta() .
$this->headLink() . $this->headScript(); ?></head>
<body<?php echo $bodyAttributes; ?>>
<div class="navbar">
	<div class="logo">
		<a href="<?php echo $this->baseUrl('/'); ?>">
			<img width="194" height="41" src="<?php echo $this->baseUrl('www/images/template/logo194x41.png'); ?>" alt="logo" />
		</a>
	</div>
	<?php if ($this->isList): ?>
	<div class="post-new">
		<img width="29" height="26" src="<?php echo $this->baseUrl('www/images/template/new-post.png'); ?>" alt="new" />
	</div>
	<?php endif; ?>
	<div class="post-search">
		<form class="postSearch" action="<?php echo $this->baseUrl('/'); ?>" method="GET">
			<div class="keywords"><?php echo $this->searchForm->keywords; ?></div>
			<?php if ($this->isList): ?>
			<div class="filter">
				<div class="dropdown">
					<button class="dropdown-toggle" type="button">
						<span><?php echo $this->searchForm->filter->getMultiOption($this->searchForm->filter->getValue()); ?></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<?php foreach ($this->searchForm->filter->getMultiOptions() as $label): ?>
						<li><a href="#"><?php echo $label; ?></a></li>
						<?php endforeach; ?>
					</ul>
					<?php echo $this->searchForm->filter; ?>
				</div>
			</div>
			<?php endif; ?>
		</form>
	</div>
	<div class="main-menu">
		<a id="menu-button"></a>
		<ul>
<?php if ($this->isList): ?>
			<li class="search">
				<form class="postSearch" action="<?php echo $this->baseUrl('/'); ?>" method="GET">
					<div class="keywords"><?php echo $this->searchForm->keywords; ?></div>
					<div class="filter">
						<div class="dropdown">
							<a class="dropdown-toggle" href="#">
								<span><?php echo $this->searchForm->filter->getMultiOption($this->searchForm->filter->getValue()); ?></span>
							</a>
							<ul class="dropdown-menu">
								<?php foreach ($this->searchForm->filter->getMultiOptions() as $label): ?>
								<li><a href="#"><?php echo $label; ?></a></li>
								<?php endforeach; ?>
							</ul>
							<?php echo $this->searchForm->filter; ?>
						</div>
					</div>
				</form>
			</li>
<?php endif; ?>
			<li class="dropdown community">
				<a class="dropdown-toggle" href="#">
					<span class="icon"></span><span class="text">Community</span><span class="count"></span>
				</a>
				<ul class="dropdown-menu">
					<li class="load"><span>Loading...</span></li>
					<li><a href="<?php echo $this->baseUrl('contacts/friends-list'); ?>">See all</a></li>
				</ul>
			</li>
			<li class="message">
				<a href="<?php echo $this->baseUrl('message'); ?>">
					<span class="icon"></span><span class="text">Messages</span><span class="count"></span>
				</a>
			</li>
			<li class="dropdown profile">
				<a class="dropdown-toggle" href="#">
					<img class="profile" width="24" height="24" src="<?php echo $this->baseUrl($profileImage); ?>" alt="profile">Profile
				</a>
				<ul class="dropdown-menu">
					<li><a href="<?php echo $this->baseUrl('home/profile'); ?>">Profile</a></li>
					<li><a href="<?php echo $this->baseUrl('home/logout'); ?>">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="container">
<div class="footer">
<?php if ($this->isList): ?>
<div class="map-radius">
<div class="radius">Radius</div>
<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
<span class="ui-slider-handle ui-state-default ui-corner-all"></span>
</div>
</div>
<div class="user-location">
<button>Change Location</button>
</div>
<?php endif; ?>
<ul class="about-info">
<li><a href="<?php echo $this->url(array(), 'about'); ?>">About</a></li>
<li><a href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a></li>
<li><span>Copyright <?php echo date('Y'); ?> SeeAround.me</span></li>
</ul>
</div>
	<div class="map-container">
		<div id="map_canvas"></div>
	</div>
<div class="posts-container">
<div class="posts"><?php echo $this->layout()->content; ?></div>
</div>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', <?php echo json_encode($settings['google_analyticsAccount']); ?>, 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
