<?php
$config = Zend_Registry::get('config_global');
$profileImage = $this->user->getProfileImage($this->baseUrl('www/images/img-prof40x40.jpg'));

My_Layout::renderFavicon($this);

$this->headLink()
	->appendStylesheet(My_Layout::assetUrl('www/css/posts.css', $this));

$this->headScript()
	->setAllowArbitraryAttributes(true)
	->appendScript('var baseUrl=' . json_encode($this->serverUrl() . $this->baseUrl('/')) . ',' .
			'assetsBaseUrl=' . json_encode($this->serverUrl() . My_Layout::assetUrl('', $this)))
	->appendFile(My_Layout::assetUrl('bower_components/requirejs/require.js', $this),
		'text/javascript', array('defer' => 'defer',
		'data-main' => My_Layout::assetUrl('www/scripts/posts', $this)));

$this->headTitle()->setSeparator(' - ')->prepend($config->head->title);
?>
<!DOCTYPE html>
<html lang="en">
<head><?php echo $this->headTitle() . $this->headMeta() .
$this->headLink() . $this->headScript(); ?></head>
<body>
<div class="navbar">
	<div class="logo">
		<a href="<?php echo $this->baseUrl('/'); ?>">
			<img width="194" height="41" src="<?php echo $this->baseUrl('www/images/template/logo194x41.png'); ?>" alt="logo" />
		</a>
	</div>
	<div class="post-new">
		<img width="29" height="26" src="<?php echo $this->baseUrl('www/images/template/new-post.png'); ?>" alt="new" />
		
	</div>
	<div class="post-search">
		<form id="postSearch" action="<?php echo $this->baseUrl('post/list'); ?>" method="GET">
			<div class="keywords">
				<input type="text" name="keywords" placeholder="Search Posts..." />
				<input type="image" src="<?php echo $this->baseUrl('www/images/template/search14x14.png'); ?>" alt="search" />
			</div>
			<div class="filter">
				<select name="filter" style="display: none;">
					<option value="">View all posts</option>
					<option value="0">Mine Only</option>
					<option value="1">My Interests</option>
					<option value="2">Following</option>
				</select>
				<?php /* http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_dropdown-menu&stacked=h */ ?>
				<div class="dropdown">
					<button type="button">View all posts <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">View all posts</a></li>
						<li><a href="#">Mine Only</a></li>
						<li><a href="#">My Interests</a></li>
						<li><a href="#">Following</a></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
	<div class="main-menu">
		<ul>
			<li>
				<a href="#">
					<span class="community"></span><span class="text">Community</span>
				</a>
			</li>
			<li>
				<a href="<?php echo $this->baseUrl('message'); ?>">
					<span class="message"></span><span class="text">Messages</span>
				</a>
			</li>
			<li>
				<a href="#">
					<?php // TODO: thumbnail 24x24 ?>
					<img class="profile" width="24" height="24" src="<?php echo $profileImage; ?>" alt="profile" />
					<span class="text">Profile</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="footer">
		<div class="map-radius">
			<div class="radius">Radius</div>
			<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				<span class="ui-slider-handle ui-state-default ui-corner-all"></span>
			</div>
		</div>
		<div class="user-location">
			<button>Change Location</button>
		</div>
		<div class="about-info">
			<a href="<?php echo $this->url(array(), 'about'); ?>">About</a>
			<a href="<?php echo $this->url(array(), 'privacy'); ?>">Privacy Policy</a>
			<span>Copyright <?php echo date('Y'); ?> SeeAround.me</span>
		</div>
	</div>
	<div class="map-container">
		<div id="map_canvas"></div>
	</div>
	<div class="posts"><?php echo $this->layout()->content; ?></div>
</div>
<div class="post-new-dialog" style="display: none;">
	<div class="wrapper">
		<div class="user">
			<img width="43" height="43" src="<?php echo $profileImage; ?>">
			<p><?php echo ucwords($this->user->Name); ?></p>
		</div>
		<div class="edit">
			<textarea placeholder="Share something about a location..."></textarea>
		</div>
		<div class="action">
			<a href="#"><img width="27" height="20" src="/www/images/icon-camera.png"></a>
			<a href="#">Post</a>
		</div>
	</div>
</div>
</body>
</html>
