<?php
$url = $this->opts['baseUrl'] . 'post/' . $this->post->id;
$label = $this->comments->count() == 1 ?
	$this->comments[0]['owner_name'] : 'Friends';

$label .= ' has commented on ';

if ($this->user->id == $this->post->user_id)
{
	$label .= 'your post';
}
else
{
	$label .= 'a post you commented on';
}
?>
<p><?php echo $label; ?>.</p>
<?php foreach ($this->comments as $comment): ?>
<p><?php echo nl2br(My_StringHelper::stringLimit($comment->comment, 100, '...')); ?></p>
<?php endforeach; ?>
<p>View the comments for this post: <a href="<?php echo $url; ?>"><?php echo $url; ?></a></p>
