<?php
$auth = Zend_Auth::getInstance()->getIdentity();
$auth_user_id = !empty($auth['user_id']) ? $auth['user_id'] : null;
$user = $this->news->findDependentRowset('Application_Model_User')->current();
?>
<div class="scrpBox scrpBox_new" id="scrpBox_<?php echo $this->news->id; ?>">
	<ul class="myScrp afterClr user_post">
		<?php if ($auth_user_id == $user->id): ?>
		<div class="deteleIcon1">
			<img src="<?php echo BASE_PATH; ?>www/images/delete-icon.png" />
		</div>
		<?php endif; ?>
		<li>
			<ul class="post">
				<li class="imgPro">
					<a href="<?php echo BASE_PATH; ?>home/profile/user/<?php echo $this->news->id; ?>" style="z-index:9999;">
						<img id="userImage" src="<?php echo $user->getProfileImage(BASE_PATH . 'www/images/img-prof40x40.jpg'); ?>" class="smallImage" /> 
					</a>
				</li>
				<li>
					<?php if ($this->auth): ?>
                    <div class="post-top">
                        <a class="title" href="<?php echo BASE_PATH; ?>home/profile/user/<?php echo $this->news->id; ?>" style="z-index:9999;color: #0068C4;text-decoration: none;"><?=$this->news_user->Name?></a> 
                        <span class="post-date"><?php echo date("d F Y h:i a", strtotime($this->news->created_date));?></span>
                        <span class="message_number" id="message_success_<?=$this->news->id?>"><?=$this->newsVote?></span>
                        <div id="thumbs_up1_<?=$this->news->id?>"  style="float: right; margin-right: -46px; margin-top: 22px;display:none;">
                            <span id="message_success" style="color: rgb(51, 204, 0);">
                            <img src="<?php echo BASE_PATH; ?>/www/images/correct_small.gif">Thanks!</span>
                         </div>
                         <div id="thumbs_up2_<?=$this->news->id?>"  style="float: right; margin-right: -46px; margin-top: 22px;display:none;">
                            <span id="message_success" style="color: rgb(51, 204, 0);">Already-Voted</span>
                         </div>
                         <div id="thumbsup_blck" class="deteleIcon12" style="display:inline;">
                          <?php if($this->newsVote == 0) { ?>      
                                <img id="img1_<?=$this->news->id?>" class="crp" src="<?=BASE_PATH?>www/images/thumsup_voted_gray.png" <?php if ($user->id != $auth_user_id) { ?> onclick="voting(this, 'news', '<?=$this->news->id?>' ,<?=$auth_user_id?>);" <?php } else { ?> onclick="alert('You can not vote your own post!');" <?php } ?> >
                          <?php } else { ?>     
                                <img id="img1_<?=$this->news->id?>" class="crp" src="<?=BASE_PATH?>www/images/thumsup_voted.jpg" <?php if ($user->id != $auth_user_id) { ?> onclick="voting(this, 'news', '<?=$this->news->id?>' ,<?=$auth_user_id?>);" <?php } else { ?> onclick="alert('You can not vote your own post!');" <?php } ?> >
                          <?php } ?> 
                                <img id="img2_<?=$this->news->id?>" class="crp" style="display: none" src="<?=BASE_PATH?>www/images/thumsup_voted.jpg" <?php if ($user->id != $auth_user_id) { ?> onclick="voting(this, 'news', '<?=$this->news->id?>' ,<?=$auth_user_id?>);" <?php } else { ?> onclick="alert('You can not vote your own post!');" <?php } ?> >
                         </div>
                         <?php if(!isset($auth_user_id)): ?>
                         <div id="thumbsup_blck" class="deteleIcon12" style="display:inline;">
                            <img id="img1" class="voting-popup-class" src="<?=BASE_PATH?>www/images/thumsup_voted.jpg">
                         </div>
                         <?php endif;?>
                    </div>
					<?php endif; ?>
					<div class="post-bottom">
						<div class="full"><?php echo My_CommonUtils::renderHtml($this->news->news, 0, true); ?></div>
					</div>
				</li>
				<li class="clr"></li>
			</ul>
		</li>
         <li class="cmnt">
            <?php if($this->news->images) :?>
                <?if(file_exists(realpath('.').'/newsimages/'.$this->news->images)):?>
                    <?list($source_image_width, $source_image_height, $source_image_type ) = getimagesize(realpath('.').'/newsimages/'.$this->news->images);?>
                <?else:?>
                    <?$source_image_width = ''?>
                    <?$source_image_height = ''?>
                <?endif?>
                <div>
                    <img onclick="openImage('<?=$this->news->images?>', '<?=$source_image_width?>', '<?=$source_image_height?>');" class="Image-Popup-Class" src="<?=BASE_PATH?>tbnewsimages/<?=$this->news->images?>" style="width: 100%;height: auto; cursor: pointer;">
                </div> 
            <?php endif;?>
         </li>
    </ul>
	<?php if ($this->totalcomments > 5): ?>
	<div class="dur" style="height: 25px;"></div>
	<?php endif;?>
	<ul class="cmntRow afterClr">
        <?php if ($this->totalcomments > 5): ?>
        <li class="viewCount">
			<div class="commentField"><?php echo $this->comentsModel->viewMoreLabel($this->totalcomments - 5); ?></div>
        </li>
        <?php
		endif;

		if ($this->totalcomments)
		{
			for ($i = count($this->comments) - 1; $i >= 0; $i--)
			{
				echo My_ViewHelper::render('comment/item.html', array('item' => $this->comments[$i]));
			}
		}

		echo My_ViewHelper::render('comment/add-item.html')
		?>
    </ul>
</div>
<script type="text/javascript">
	$(function(){
		renderNews();

        var data = {
            name: <?php echo json_encode($this->news_user->Name); ?>,
            image: $("#userImage").attr('src'),
            id: <?php echo $this->news->id; ?>,
            address: <?php echo json_encode($this->news->Address); ?>
        };

        newsMap("<?php echo $this->news->latitude; ?>","<?php echo $this->news->longitude; ?>", data); 

        $(".voting-popup-class").colorbox({width:"26%",height:"32%", inline:true, href:"#voting-id"},function(){
            $('html, body').animate({ scrollTop: 0 }, 0); 
        });

        setThisHeight(Number($("#midColLayout").height()+20));

        $(".Image-Popup-Class").colorbox({width:"60%",height:"80%", inline:true, href:"#Image-Popup"},
			function(){$.colorbox.resize({width:imageWidth+'px' , height:imageHeight+'px'});});
    });
</script>
