<?php foreach($this->comments as $comments) :?>
<li class="cmntList">
        <div class="imgPro">
                <a href="<?=BASE_PATH?>home/profile/user/<?=$comments['user_id']?>" style="z-index:9999;">
                <?php if($comments['Profile_image'] != 'null' && $comments['Profile_image'] != '') {?>
                <img id="userImage" <? if(strpos($comments['Profile_image'], '://')):?>src="<?=$comments['Profile_image']?>" <?else:?>src="<?=BASE_PATH?>uploads/<?=$comments['Profile_image']?>"<?endif;?> class='smallImage'/>    
                <?php } else { ?>
                        <img id="userImage" src="<?=BASE_PATH?>/www/images/img-prof40x40.jpg" class='smallImage'/>    
                <?php } ?>
                </a>
        </div>
        <ul>
            <li class="title">
                <div class="title-wrapper">
                    <a href="<?=BASE_PATH?>home/profile/user/<?=$comments['user_id']?>" style="z-index:9999;color: #0068C4;text-decoration: none;"><?=$comments['user_name']?></a>
                    <span class="cmnt"><?=$comments['comment']?></span>    
                </div>
            </li>
            
            <li class="dur"><p><?=date("d F Y h:i a", strtotime($comments['commTime']));?></p></li>
        </ul>
        <div class="clr"></div>
</li>
<?php endforeach;?>
<li class="cmntList-last">
    <ul class="inpCmnt afterClr">
        <li class="imgPro">
            <?if($this->auth["pro_image"]){?> 
                <img src="<?if(strpos($this->auth['pro_image'], '://')){ echo $this->auth['pro_image']; } else { echo BASE_PATH.'uploads/'.$this->auth['pro_image'];}?>" class="smallImage"/> 
            <? } else { ?>
                <img src="<?=BASE_PATH?>www/images/img-prof40x40.jpg" class="smallImage"/>
            <? } ?>
        </li>
        <li class="inpCmnt-last">
            <?php if($this->isLogin) :?>
                <textarea id="comment<?=$this->newsId?>" class="textAreaClass" onkeydown="textLimit(250, this);" onkeyup="textLimit(250, this);resizeArea('<?=$this->newsId?>', this);"></textarea>
            <?php else:?>
                <textarea id="comment<?=$this->newsId?>" class="login-popup-class textAreaClass" onkeydown="$(this).trigger('click');" onkeyup="$(this).trigger('click');"></textarea>
            <?php endif;?>
        </li>
        <div class="clr"></div>
    </ul>
</li>
 