<?php
$user_id = $this->user ? $this->user['id'] : null;
$ownerName = $this->is_new ? $this->user['Name'] : $this->comment['owner_name'];
$ownerThumb = $this->is_new ?
	Application_Model_User::getThumb($this->user, '55x55') :
	Application_Model_User::getThumb($this->comment, '55x55',
		['alias' => 'owner_']);
$profileUrl = $this->user ?
	$this->baseUrl('home/profile/user/' . $this->comment['user_id']) : '#';

$timeAttr = '';
$timeVal = '';

$createdAt = new DateTime(!$this->is_new ? $this->comment['created_at'] : null);

if ($this->user)
{
	$timeVal = My_Time::time_ago($createdAt);
	$createdAt->setTimezone(Application_Model_User::getTimezone($this->user));
	$timeAttr = 'title="' . $createdAt->format(My_Time::OUTPUT) . '"';
}
else
{
	$timeAttr = 'data-time="' . $createdAt->format('c') . '"';
}
$limit = My_ArrayHelper::getProp($this, 'limit', false);
?>
<div class="post-comment__item" data-id="<?php echo $this->comment['id']; ?>">
<a class="post-comment__item-owner" href="<?php echo $profileUrl; ?>">
<img width="43" height="43"
src="<?php echo $this->baseUrl($ownerThumb); ?>"
alt="<?php echo $ownerName; ?>">
</a>
<?php if (Application_Model_Comments::canEdit($this->comment, $this->post, $this->user)): ?>
<div class="post-comment__delete">
<img width="12" height="12" src="<?php echo $this->baseUrl('www/images/delete-icon12x12.png'); ?>" alt="delete">
</div>
<?php endif; ?>
<div class="post-comment__body">
<a href="<?php echo $profileUrl; ?>"
class="post-coment-user-name"><?php echo $ownerName; ?>:</a>
<span><?php echo Application_Model_Comments::renderContent($this->comment, $limit); ?></span>
<p class="post-coment__date" <?php echo $timeAttr; ?>><?php echo $timeVal; ?></p>
</div>
</div>
