<?php
$ownerImage = $this->baseUrl('www/images/img-prof40x40.jpg');

if ($this->user)
{
	$ownerImage = $this->user->getProfileImage($ownerImage);
}
?>
<div class="post-comment__new<?php if (!empty($this->hidden)) echo ' hidden'; ?>">
<div class="post-comment__new-owner">
<img width="43" height="43" src="<?php echo $ownerImage; ?>" alt="<?php echo $this->user ? $this->user->Name : 'owner' ?>" />
</div>
<div class="post-comment__new-body">
<textarea placeholder="Write a Comment..."></textarea>
</div>
</div>
