<?php
$user_id = $this->user ? $this->user->id : null;
// TODO: refactoring
$owner = Application_Model_User::findById($this->comment->user_id);

$profileUrl = $this->user ?
	$this->baseUrl('home/profile/user/' . $owner->id) : '#';

$timeAttr = '';
$timeVal = '';

if ($this->user)
{
	$createdAt = new DateTime($this->comment->created_at);
	$timeVal = My_Time::time_ago($createdAt);
	$createdAt->setTimezone($this->user->getTimezone());
	$timeAttr = 'title="' . $createdAt->format(My_Time::OUTPUT) . '"';
}
else
{
	$timeAttr = 'data-time="' . (new DateTime($this->comment->created_at))
		->format('c') . '"';
}
?>
<div class="post-comment__item" data-id="<?php echo $this->comment->id; ?>">
<a class="post-comment__item-owner" href="<?php echo $profileUrl; ?>">
<img width="43" height="43" src="<?php echo $this->baseUrl($owner->getThumb('55x55')['path']); ?>" alt="<?php echo $owner->Name; ?>" />
</a>
<?php if ($user_id == $this->post->user_id || $user_id == $owner->id): ?>
<div class="post-comment__delete">
<img width="12" height="12" src="<?php echo $this->baseUrl('www/images/delete-icon12x12.png'); ?>" alt="delete">
</div>
<?php endif; ?>
<div class="post-comment__body">
<a href="<?php echo $profileUrl; ?>" class="post-coment-user-name"><?php echo $owner->Name; ?>:</a>
<span><?php echo $this->comment->renderContent(My_ArrayHelper::getProp($this, 'limit', false)); ?></span>
<p class="post-coment__date" <?php echo $timeAttr; ?>><?php echo $timeVal; ?></p>
</div>
</div>
