<?php
$link = My_CommonUtils::renderLink($this->link->link);
$image = $this->link->findManyToManyRowset('Application_Model_Image', 'Application_Model_NewsLinkImage')->current();
?>
<div class="link-meta">
	<?php if ($image): ?>
	<div class="image">
		<a href="<?php echo htmlspecialchars($link); ?>" target="_blank">
			<img src="<?php echo $this->baseUrl($image->findThumb(array(448, 320))->path); ?>" />
		</a>
	</div>
	<?php endif; ?>
	<div class="meta-content">
		<a class="title" href="<?php echo htmlspecialchars($link); ?>" target="_blank"><?php echo $this->link->title; ?></a>
		<?php if ($this->link->description != null): ?>
		<div class="description"><?php echo My_StringHelper::stringLimit($this->link->description, 185, '...'); ?></div>
		<?php endif; ?>
		<div>
			<span><?php echo strtoupper(parse_url($link, PHP_URL_HOST)); ?></span>
			<?php if ($this->link->author != null): ?>
			<span class="delim">|</span>
			<span>BY <?php echo strtoupper($this->link->author); ?></span>
			<?php endif; ?>
		</div>
	</div>
</div>
