<?php
$commentsLimit = 3;
$user_id = $this->user ? $this->user->id : null;
$profileUrl = $this->user ?
	$this->baseUrl('home/profile/user/' . $this->post->user_id) : '#';
$commentsModel = new Application_Model_Comments;
$comments = $commentsModel->findAllByNewsId($this->post->id, $commentsLimit);
$hideComments = !$this->post->comment || !My_ArrayHelper::search(array('news_id' => $this->post->id), $comments->toArray(), 1);

if ($this->post->image_id)
{
	$thumb960x960 = My_Query::getThumb($this->post, '960x960', 'news');
	$thumb448x320 = My_Query::getThumb($this->post, '448x320', 'news');
}

$userVote = 0;
$voteModel = new Application_Model_Voting;
$canVote = $voteModel->canVote($this->user, $this->post);

if ($canVote && !$this->is_new)
{
	// TODO: merge with post query
	$vote = $voteModel->findVote($this->post->id, $this->user->id);

	if ($vote)
	{
		$userVote = $vote->vote;
	}
}

$link = $this->baseUrl('post/' . $this->post->id);


$timeAttr = '';
$timeVal = '';

if ($this->user)
{
	$createdAt = new DateTime($this->post->created_date);
	$timeVal = My_Time::time_ago($createdAt, ['ago' => true]);
	$createdAt->setTimezone($this->user->getTimezone());
	$timeAttr = 'title="' . $createdAt->format(My_Time::OUTPUT) . '"';
}
else
{
	$timeAttr = 'data-time="' . (new DateTime($this->post->created_date))
		->format('c') . '"';
}

if ($this->owner)
{
	$ownerName = $this->owner->Name;
	$ownerThumb = $this->owner->getThumb('55x55');
}
else
{
	$ownerName = $this->post->owner_name;
	$ownerThumb = My_Query::getThumb($this->post, '55x55', 'owner', true);
}
?>
<div class="post <?php if ($this->hidden) echo ' hidden';?>" data-id="<?php echo $this->post->id; ?>">
<a href="<?php echo $profileUrl; ?>" class="user_avatar">
<img src="<?php echo $this->baseUrl($ownerThumb['path']); ?>">
</a>
<a href="<?php echo $profileUrl; ?>" class="user_name"><?php echo ucfirst($ownerName); ?></a>
<a href="<?php echo $link; ?>" class="post-time"
<?php echo $timeAttr; ?>><?php echo $timeVal; ?></a>
<div class="vote"<?php if (!$canVote): ?> disabled<?php endif; ?>>
<div class="_3_copy"><?php echo $this->post->vote; ?></div>
<div class="icon">
<div class="like<?php if ($userVote == 1): ?> active<?php endif; ?>"></div>
<div class="dislike<?php if ($userVote == -1): ?> active<?php endif; ?>"></div>
</div>
</div>
<div class="post_text"><?php echo $this->post->renderContent(My_ArrayHelper::getProp($this, 'limit')); ?></div>
<?php if ($this->post->image_id != null): ?>
<div class="image">
<img src="<?php echo $this->baseUrl($thumb448x320['path']); ?>"
data-src="<?php echo $this->baseUrl($thumb960x960['path']); ?>"
data-width="<?php echo $thumb960x960['width']; ?>"
data-height="<?php echo $thumb960x960['height']; ?>">
</div>
<?php endif; ?>
<div class="social_share">
<div class="default-panel">
<?php if ($hideComments): ?>
<a class="add-comment" href="#">Comment</a>
<?php elseif ($this->post->comment > $commentsLimit): ?>
<a class="view-comments" href="#"><?php echo $commentsModel->viewMoreLabel($this->post->comment - $commentsLimit); ?></a>
<?php endif; ?>
<a class="email" href="#"><img src="<?php echo $this->baseUrl("www/images/email.png"); ?>" /></a>
<a class="facebook" href="<?php echo $this->serverUrl() . $link; ?>">
<img src="<?php echo $this->baseUrl("www/images/facebook.png"); ?>" />
</a>
<?php if ($user_id == $this->post->user_id): ?>
<a class="edit">Edit Post</a>
<?php endif; ?>
</div>
</div>
<div class="post-coments">
<?php
if ($this->post->comment)
{
	for ($i = count($comments) - 1; $i >= 0; $i--)
	{
		echo $this->partial('post/_comment.html', array(
			'user' => $this->user,
			'comment' => $comments[$i],
			'post' => $this->post,
			'limit' => 250
		));
	}
}
if ($this->post->comment > $commentsLimit):
?>
<div class="post-comments__more">
<a href="#">
<img width="36" height="7" src="<?php echo $this->baseUrl("www/images/template/comment-read-more.png"); ?>" alt="more" />
</a>
</div>
<?php
endif;
echo $this->partial('post/_comment_new.html', array(
	'user' => $this->user,
	'hidden' => $hideComments
));
?>
</div>
</div>
