<?php
$body = trim($this->post->news);
$ownerThumb = Application_Model_User::getThumb($this->post, '55x55', 'owner');
?>
<div class="tooltip-content">
<img src="<?php echo $this->baseUrl($ownerThumb['path']); ?>" />
<h4><?php echo $this->post->owner_name; ?></h4>
<div class="tooltip-body">
<?php echo My_StringHelper::stringLimit($body, 100, '...'); ?>
<?php if ($this->readmore && strlen($body) > 100): ?>
<a class="more" data-id="<?php echo $this->post->id; ?>" href="#">More</a>
<?php endif; ?>
</div>
<div class="tooltip-footer">
<?php if (!$this->point && (isset($this->prev) || isset($this->next))): ?>
<a href="<?php echo $this->baseUrl('center/' . $this->position . '?point=1'); ?>">More details</a>
<?php else: ?>
<a href="<?php echo $this->baseUrl('post/' . $this->post->id); ?>">More details</a>
<?php endif; ?>
<?php if (isset($this->prev)): ?>
<a class="prev" data-start="<?php echo $this->prev; ?>" href="#">&lt;</a>
<?php endif; ?>
<?php if (isset($this->next)): ?>
<a class="next" data-start="<?php echo $this->next; ?>" href="#">&gt;</a>
<?php endif; ?>
</div>
</div>
