<?php
$body = Application_Model_News::renderContent($this->post, [
	'limit' => 100,
	'more_button' => false
]);
$userThumb = Application_Model_User::getThumb($this->post, '55x55',
	['alias' => 'owner_']);
$detailsLink = $this->group ? 'center/' . $this->position . '?point=1' :
	'post/' . $this->post->id;
?>
<div class="tooltip-content">
<img src="<?php echo $this->baseUrl($userThumb); ?>">
<h4><?php echo $this->post->owner_name; ?></h4>
<div class="tooltip-body">
<?php echo $body; ?>
<?php if (!empty($this->readmore) && strlen($this->post->news) > 100): ?>
<a class="more" data-id="<?php echo $this->post->id; ?>" href="#">More</a>
<?php endif; ?>
</div>
<div class="tooltip-footer">
<a href="<?php echo $this->baseUrl($detailsLink); ?>">More details</a>
<?php if (isset($this->prev)): ?>
<a class="prev" data-start="<?php echo $this->prev; ?>" href="#">&lt;</a>
<?php endif; ?>
<?php if (isset($this->next)): ?>
<a class="next" data-start="<?php echo $this->next; ?>" href="#">&gt;</a>
<?php endif; ?>
</div>
</div>
