<?php
$body = trim($this->post->news);
$next = My_ArrayHelper::getProp($this, 'next');
$prev = My_ArrayHelper::getProp($this, 'prev');
?>
<div class="tooltip-content">
<img src="<?php echo $this->owner->getProfileImage($this->baseUrl('www/images/img-prof40x40.jpg')); ?>" />
<h4><?php echo $this->owner->Name; ?></h4>
<div class="tooltip-body">
<?php echo My_StringHelper::stringLimit($body, 100, '...'); ?>
<?php if ($this->readmore && strlen($body) > 100): ?>
<a class="more" data-id="<?php echo $this->post->id; ?>" href="#">More</a>
<?php endif; ?>
</div>
<div class="tooltip-footer">
<?php if ($prev || $next): ?>
<a href="<?php echo $this->baseUrl('home/index/point/' . $this->position); ?>">More details</a>
<?php else: ?>
<a href="<?php echo $this->baseUrl('info/news/nwid/' . $this->post->id); ?>">More details</a>
<?php endif; ?>
<?php if ($prev): ?>
<a class="prev" data-id="<?php echo $prev->id; ?>" href="#">&lt;</a>
<?php endif; ?>
<?php if ($next): ?>
<a class="next" data-id="<?php echo $next->id; ?>" href="#">&gt;</a>
<?php endif; ?>
</div>
</div>
