<?php
$commentsLimit = 3;
$isGuest = empty($this->user);
$user_id = !$isGuest ? $this->user['id'] : null;
$profileUrl = !$isGuest ? $this->baseUrl('profile/' .
	$this->post['user_id']) : '#';
$link = $this->baseUrl('post/' . $this->post['id']);
$userVote = My_ArrayHelper::getProp($this->post, 'user_vote');
$postComments = My_ArrayHelper::getProp($this->post, 'comment', 0);
$canVote = Application_Model_Voting::canVote($this->user, $this->post);

$commentsModel = new Application_Model_Comments;

$hideComments = true;

if ($postComments > 0)
{
	$comments = $commentsModel->findAllByNewsId($this->post['id'], [
		'limit' => $commentsLimit,
		'owner_thumbs' => [[55,55]]
	]);
	$hideComments = !My_ArrayHelper::search(['news_id' => $this->post['id']],
		$comments->toArray(), 1);
}

if (!empty($this->post['image_id']))
{
	if (isset($this->thumbs))
	{
		$thumb960x960 = $this->thumbs['960x960'];
		$thumb448x320 = $this->thumbs['448x320'];
	}
	else
	{
		$thumb960x960 = My_Query::getThumb($this->post, [960,960], 'news');
		$thumb448x320 = My_Query::getThumb($this->post, [448,320], 'news');
	}
}

$timeAttr = '';
$timeVal = '';

$createdAt = new DateTime($this->post['created_date']);

if ($isGuest)
{
	$timeAttr = 'data-time="' . $createdAt->format('c') . '"';
}
else
{
	$timeVal = My_Time::time_ago($createdAt, ['ago' => true]);
	$createdAt->setTimezone(Application_Model_User::getTimezone($this->user));
	$timeAttr = 'title="' . $createdAt->format(My_Time::OUTPUT) . '"';
}
$ownerThumb = Application_Model_User::getThumb($this->owner, '55x55');
?>
<div class="post <?php if ($this->hidden) echo ' hidden';?>"
data-id="<?php echo $this->post['id']; ?>">
<a href="<?php echo $profileUrl; ?>" class="user_avatar"
><img src="<?php echo $this->baseUrl($ownerThumb); ?>" width="55" height="55"
></a><a href="<?php echo $profileUrl; ?>" class="user_name"
><?php echo ucfirst($this->owner['Name']); ?></a>
<a href="<?php echo $link; ?>" class="post-time"
<?php echo $timeAttr; ?>><?php echo $timeVal; ?></a>
<div class="vote"<?php if (!$canVote): ?> disabled<?php endif; ?>>
<div class="_3_copy"
><?php echo My_ArrayHelper::getProp($this->post, 'vote', 0); ?></div>
<div class="icon">
<div class="like<?php if ($userVote == 1): ?> active<?php endif; ?>"></div>
<div class="dislike<?php if ($userVote == -1): ?> active<?php endif; ?>"></div>
</div>
</div>
<div class="post_text"
><?php echo Application_Model_News::renderContent($this->post, [
	'limit' => My_ArrayHelper::getProp($this, 'limit'),
	'link' => $this->link
]); ?></div>
<?php if (!empty($this->post['image_id'])): ?>
<div class="image">
<img src="<?php echo $this->baseUrl($thumb448x320['path']); ?>"
width="<?php echo $thumb448x320['width']; ?>"
height="<?php echo $thumb448x320['height']; ?>"
data-src="<?php echo $this->baseUrl($thumb960x960['path']); ?>"
data-width="<?php echo $thumb960x960['width']; ?>"
data-height="<?php echo $thumb960x960['height']; ?>">
</div>
<?php endif; ?>
<div class="social_share">
<div class="default-panel">
<?php if ($hideComments): ?>
<a class="add-comment" href="#">Comment</a>
<?php elseif ($postComments > $commentsLimit): ?>
<a class="view-comments" href="#"
><?php echo $commentsModel->viewMoreLabel($postComments-$commentsLimit); ?></a>
<?php endif; ?>
<a class="email" href="#"><img
src="<?php echo $this->baseUrl("www/images/email.png"); ?>"></a>
<a class="facebook" href="<?php echo $this->serverUrl() . $link; ?>">
<img src="<?php echo $this->baseUrl("www/images/facebook.png"); ?>">
</a>
<?php if ($user_id == $this->post['user_id']): ?>
<a class="edit">Edit Post</a>
<?php endif; ?>
</div>
</div>
<div class="post-coments">
<?php
if ($postComments > 0)
{
	for ($i = $comments->count() - 1; $i >= 0; $i--)
	{
		echo $this->partial('post/_comment.html', [
			'user' => $this->user,
			'comment' => $comments[$i],
			'post' => $this->post,
			'limit' => 250
		]);
	}
}
echo $this->partial('post/_comment_new.html', [
	'user' => $this->user,
	'hidden' => $hideComments
]);
?>
</div>
</div>
