@font-face {
    font-family: 'Lato-Italic';
    src: url('fonts/Lato-Italic.eot');
    src: url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/Lato-Italic.woff2') format('woff2'),*/
         url('fonts/Lato-Italic.woff') format('woff'),
         url('fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.eot');
    src: local('☺'),
		url('fonts/Lato-Bold.woff') format('woff'),
		url('fonts/Lato-Bold.ttf') format('truetype'),
		url('fonts/Lato-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/Lato-Light.eot');
    src: local('☺'),
		url('fonts/Lato-Light.woff') format('woff'),
		url('fonts/Lato-Light.ttf') format('truetype'),
		url('fonts/Lato-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.eot');
    src: local('☺'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'Lato-LightItalic';
	src: url('fonts/Lato-LightItalic.eot');
	src:local('☺'),url('fonts/Lato-LightItalic.woff')format('woff'), url('fonts/Lato-LightItalic.ttf')format('truetype'), url('fonts/Lato-LightItalic.svg')format('svg');
	font-weight:400;font-style:normal;
}
.hidden {
	display: none;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}
.navbar {
	background-color: rgb(255,255,255);
	border-bottom: 2px solid rgb(216,216,216);
	padding-right: 24px;
	padding-left: 43px;
	height: 51px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50000;
}
.navbar .logo {
	float: left;
	padding-top: 8px;
}
.navbar .logo a {
    display: block;
    height: 41px;
    text-decoration: none;
    width: 194px;
}
.navbar .logo img {
}
.post-new {
	float: left;
    padding-left: 151px;
    padding-top: 15px;
}
.post-new img {
	cursor: pointer;
}
.post-search {
	position: relative;
	padding-left: 34px;
}
body.post .post-search,
body.profile .post-search {
	padding-left: 30%;
}
.post-search {
	display: inline-block;
	float: left;
	padding-top: 13px;
}
.post-search .dropdown,
.post-search input[type=text] {
	border: 2px solid rgb(216,216,216);
	background-color: rgb(255,255,255);
}
.post-search input[type=text],
.main-menu .keywords input[type=text] {
	font-size: 13.43px;
	font-family: "Lato-Italic";
	color: rgb(125,125,125);
	font-style: italic;
	line-height: 1.2;
	text-align: left;
	height: 17px;
}
.post-search input[type=text],
.main-menu .keywords input[type=text] {
	width: 254px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 3px;
}
.post-search .keywords img,
.main-menu .keywords img {
	position: absolute;
	cursor: pointer;
}
.post-search .keywords img {
	right: 11px;
	top: 8px;
}
.post-search .keywords,
.main-menu .keywords {
	position: relative;
}
.post-search .filter {
	padding-left: 85px;
}
.post-search .filter,
.post-search .keywords {
	float: left;
}
.post-search .dropdown {
	height: 27px;
	width: 149px;
	position: relative;
}
.dropdown {
	position: relative;
}
.dropdown button {
	background: none;
	border: 0;
	width: 100%;
	line-height: 2;
	cursor: pointer;
}
.dropdown button,
.dropdown a,
.dropdown-menu > li > span {
	font-size: 13.43px;
	font-family: 'Lato-Regular';
	color:#666;
}
.dropdown .caret {
    background: url('../images/template/caret-down.png') no-repeat right center;
    width: 15px;
    height: 9px;
    display: inline-block;
    padding-left: 12px;
}
.dropdown .caret.up {
    background: url('../images/template/caret-up.png') no-repeat right center;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	width: 100%;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
		background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu li a,
.dropdown-menu > li > span {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
	text-decoration: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > span:hover,
.dropdown-menu > li > span:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown.profile .dropdown-menu {
	 width: 90px;
}
.main-menu {
	float: right;
	padding-top: 20px;
}
.main-menu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-menu > ul > li {
	float: left;
	margin-left: 15px;
}
.main-menu a {
	font-family: "Lato-Light";
	font-size: 15px;
	font-weight: 600;
	color: rgb(51,51,51);
	text-decoration: none;
}
.main-menu img.profile {
    border-radius: 30px;
	width: 24px;
    height: 24px;
	float: left;
}
.main-menu .message .icon,
.main-menu .community .icon {
    display: inline-block;
    vertical-align: middle;
}
.main-menu .message .icon {
    background: url('../images/template/message22x16.png') no-repeat;
	width: 22px;
    height: 16px;
}
.main-menu .community .icon {
    background: url('../images/template/community.png') no-repeat;
	width: 24px;
    height: 20px;
}
.main-menu .community .dropdown-menu {
    width: 220px;
}
.main-menu .count {
    font-size: 12px;
    position: absolute;
}
.community-row .thumb {
	margin-right: 10px;
	float: left;
}
.community-row .name {
	white-space: normal;
}
.container {
	position: relative;
}
.posts-container {
	z-index: 2;
}
.posts-container,
.posts-container .posts {
    position: relative;
}
.posts-container,
.post-new__dialog {
    top: 60px;
	left: 17px;
    width: 435px;
}
body.touch {
	overflow: hidden;
}
body.touch .posts-container {
	overflow: hidden;
}
body.touch .posts-container .posts {
	overflow-y: scroll;
	width: 452px;
	height: 424px;
}
.post-new__dialog {
	position: fixed;
	z-index: 3;
	background-color: #f1f1f1;
	border-bottom: solid 2px #999;
	min-height: 97px;
	display: none;
	text-align: right;
}
.post-new__dialog .wrapper {
	padding: 6px 12px 0 13px;
}
.post-new__dialog textarea {
	font-size: 13.65px;
	outline: 0;
	padding: 10px 10px 11px;
	margin: 0;
	width: 326px;
	height: 38px;
	font-family: 'Lato-LightItalic';
	background: #fff;
	color: #7d7d7d;
	line-height: 17px;
	border: none;
	resize: none;
	display: block;
}
.post-new__dialog .user {
	float: left;
}
.post-new__dialog .user img {
	width: 43px;
	height: 43px;
	border-radius: 50px;
	margin: 0 5px;
	display: block;
}
.post-new__dialog .user p {
	margin: 0;
	font-size: 15.17px;
	color: #cc0000;
	font-family: 'Lato-Regular';
	text-align: center;
	width: 53px;
	overflow: hidden;
	height: 18px;
}
.post-new__dialog .edit {
    background-image: url('../images/user-symbol-small.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top 7px;
	padding-left: 11px;
	margin-top: 2px;
    margin-left: 53px;
}
.post-new__dialog .options {
	float: left;
	cursor: pointer;
	color: #cc3333;
	font-weight: bold;
}
.post-new__dialog .options:hover {
	text-decoration: underline;
}
.post-new__dialog .action {
	margin-top: 4px;
	display: inline-block;
}
.post-new__dialog .action > img,
.post-new__dialog .image {
	margin: 0 50px 0 0;
}
.post-new__dialog .image,
.post-new__dialog .action input[type=submit] {
	font-family: 'Lato-Regular';
	font-size: 18.95px;
	line-height: 15.95px;
	color: #cc3333;
}
.post-new__dialog .action > img,
.post-new__dialog .action input[type=submit] {
	cursor: pointer;
}
.post-new__dialog .action input[type=submit] {
	background: none;
	border: none;
}
.post-new__dialog .action input[type=submit] {
	float: right;
	width: 38px;
	padding: 0;
}
.post-new__dialog .image {
	float: left;
	width: 180px;
	margin-bottom: 10px;
	text-align: center;
}
.post-new__dialog .image > div {
	display: inline-block;
	position: relative;
}
.post-new__dialog .image img.preview {
	max-width: 190px;
	max-height: 190px;
}
.post-new__dialog .image img.delete {
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    top: 50%;
	margin-top: -4px;
}
.post-new__notify {
	padding: 15px 0;
}
.posts-container .post {
	background-color: #fff;
}
.posts-container .post:not(:last-child) {
	margin-bottom: 9px;
}
.posts-container .post.higlight {
	background-color: #E17E79;
}
.posts-container .post.empty {
	background-color: #fff;
	padding: 20px;
	font-size: 15.17px;
	color: #cc0000;
	font-family: 'Lato-Regular';
	text-align: center;
}
.vote {
  float: right;
  padding: 13px 9px;
  text-align: center;
}
.vote .count {
  font-family: 'Lato-Bold', sans-serif;
  color: #ce2424;
  font-size: 12px;
}
.vote .like {
  background: rgba(0, 0, 0, 0) url("../images/template/like-small-off.png") no-repeat scroll center center;
  margin-bottom: 4px;
  cursor: pointer;
  height: 17px;
  width: 18px;
}
.vote .like.active {
  background: rgba(0, 0, 0, 0) url("../images/template/like-small-on.png") no-repeat scroll center center;
}
.post > .body,
.post > .body textarea {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 14.5px;
}
.post > .body {
  padding: 15px 30px 20px 20px;
  word-wrap: break-word;
  min-height: 22px;
}
.post .details .dropdown-toggle {
  color: red;
  float: right;
  font-size: 50px;
  line-height: 0;
  margin-top: -5px;
  cursor: pointer;
}
.post .details .dropdown-toggle > span {
  height: 6px;
  width: 6px;
  display: inline-block;
  background: #c81f1f;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 3px;
}
.post .details {
  padding: 5px 13px 5px 20px;
  position: relative;
}
.post .details,
.post .details a.time {
  font-family: 'Lato-Italic', sans-serif;
  color: #939393;
  font-size: 13.5px;
}
.post .details > a.profile,
.post-coments > .more span {
  color: #bd0e0e;
  font-weight: 600;
}
.post .details a.time:hover {
  text-decoration: underline;
}
.post .details .dropdown-menu {
  left: auto;
  right: 0;
  width: 180px;
}
.post .details .dropdown-menu.top {
  top: auto;
  bottom: 100%;
}
.post .details .dropdown-menu span,
.post .details .dropdown-menu a {
  font-family: Lato-Light;
  font-size: 15px;
  cursor: pointer;
}
.post .details .dropdown-menu span.disabled{
  opacity: 0.5;
  pointer-events: none;
}
.post .edit-panel {
  text-align: center;
  padding: 5px 13px 5px 20px;
  height: 17px;
}
.post .edit-panel span {
  font: 16px/16px 'Lato-Regular',sans-serif;
  color: rgb(204, 0, 0);
  cursor: pointer;
}
.post .edit-panel span:nth-child(1),
.post .edit-panel span:nth-child(2) {
  float: left;
}
.post .edit-panel span:nth-child(2) {
  margin-left: 20%;
}
.post .edit-panel span:nth-child(3) {
  float: right;
}

.map-container {
    height: 100%;
    padding: 53px 0 0;
    z-index: 1;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#map_canvas {
	background-color: rgb(229, 227, 223);
	height: 100%;
	width: 100%;
}
.customMapControl {
	padding: 12px 21px 0;
}
.customMapControl > div {
	cursor: pointer;
}
.customMapControl .zoom_in,
.customMapControl .zoom_out {
	width: 25px;
	height: 25px;
}
.customMapControl .zoom_in {
	margin-bottom: 3px;
}
.customMapControl .zoom_out {
	margin-bottom: 6px;
}
.customMapControl .my_location {
	width: 25px;
	height: 25px;
}
.footer {
	display: none;
	height: 28px;
	background-color: rgb(255,255,255);
	position: fixed;
	bottom: 0;
	top: auto;
	right: 0;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: rgb(153,153,153);
	z-index: 3;
	text-align: center;
	min-width: 550px !important;
}
.about-info {
	padding: 4px 21px 4px 0;
	text-align: right;
	float: right;
	margin: 0;
	list-style: none;
}
.about-info li {
	float: left;
}
.about-info li:not(:last-child) {
	margin-right: 38px;
}
.about-info span,
.about-info a {
  font-size: 10.53px;
  font-family: "Lato-Light";
  color: rgb( 135, 135, 135 );
}
.about-info a {
	text-decoration: none;
}
.map-radius {
	float: left;
}
.map-radius .radius {
	float: left;
    color: rgb(204, 0, 0);
    font-size: 13.48px;
  font-family: "Lato-Bold";
    font-weight: bold;
    line-height: 30px;
        margin-left: 10px;
}
.map-radius #slider {
	float: left;
	width: 196px;
	margin-left: 15px;
	    height: 0;
    margin-top: 15px;
}
.user-location {
	display: inline;
	padding-left: 16px;
}
.user-location button {
	width: 153px;
	height: 27px;
	background-color: rgb( 255, 153, 153 );
	border: 0;
    font-size: 13.48px;
	font-family: 'Lato-Bold';
	color: rgb(255,255,255);
}
.map-radius .ui-widget-content .ui-state-default {
	border-radius: 50px;
	width: 12px;
	height: 12px;
	top: -7px;
	background: #cc0000;
	cursor: pointer;
}

/* new styling */
.profile .address,
.post .user_name {
	word-wrap: break-word;
}
.post a{text-decoration: none;}
.post .user_avatar {
	float: left;
	margin: 8px 8px 6px 8px;
}
.user_avatar img{width: 50px; height: 50px; border-radius: 50px; border:2px solid #cc3333;}
.post .user_name {
	color: rgb(204, 51, 0);
	font: 15.17px 'Lato-Regular',sans-serif;
	max-width: 256px;
	display: inline-block;
	margin: 13px 0 10px;
}
.post .post-time {
	color: rgb(204, 0, 0);
	font: normal 10px 'Lato-Regular',sans-serif;
}
.profile .address,
body.profile .post li span {
	color: rgb(51, 51, 51);
	font: normal 14.37px/19.55px 'Lato-Regular',sans-serif;
}
.profile .address {
  margin: 0 0 12px 70px;
  padding-right: 18px;
}
.profile .action {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 3px 0;
  width: 100%;
  display: inline-block;
  height: 18px;
}
.profile .action span,
.profile .action a {
  font: 16px/16px 'Lato-Regular',sans-serif;
  color: rgb(204, 0, 0);
  cursor: pointer;
}
.link-meta {
  width: 100%;
}
.link-meta img {
  margin-left: -20px;
  width: 435px;
}
.link-meta a.title {
  font-size: 18px;
}
.link-meta .description {
  font-size: 12px;
}
.post > .body a,
.post .post-coments a {
	color: #c30;
}
.post > .image img {
	width: 100%;
	cursor: pointer;
	display: block;
	border-bottom: 1px solid #dddddd;
}
.post-coments {
	background: #eee;
}
.post-coments > .more {
  text-align: center;
  padding: 10px;
  font-family: "Lato-Regular",sans-serif;
  font-size: 13.65px;
}
.post-coments > .more span {
  cursor: pointer;
}
.post-coments > .more span.disabled {
  color: #ccc;
}
.post-comment__item-owner img,
.post-comment__new-owner img {
	width: 43px;
	height: 43px;
	border-radius: 50px;
}
.post-comment__item-owner img {
	margin: 6px 16px 6px 13px;
}
.post-comment__new-owner img {
	margin: 10px 6px 6px 13px;
}
.post-comment__item,
.post-comment__new {
	display: inline-block;
	width: 100%;
}
.post-comment__body {
	display: inline-block;
	max-width: 317px;
	word-wrap: break-word;
	margin-top: 4px;
}
.post-comment__new {
	border-top: 2px solid #e4e4e4;
}
.post-comment__new-owner,
.post-comment__new-body {
	float: left;
}
.post-comment__new-body {
	background: url('../images/user-symbol-small.png') no-repeat 0 0px;
	padding-left: 12px;
	margin-top: 12px;
	margin-right: 23px;
}
.post-comment__new-body textarea {
	height: 17px;
	outline: 0;
	padding: 10px;
	resize: none;
	width: 318px;
	font-family: 'Lato-LightItalic';
    background: #fff;
	color: #7d7d7d;
	border: none;
	margin-bottom: 7px;
	line-height: 17px;
	overflow-y: hidden;
}
.post-comment__item,
.post-comment__new-body textarea {
	font-size: 13.65px;
}
.post-comment__item {
	font-family: 'Lato-Regular';
	min-height: 58px;
}
.post-comment__item:first-child {
	padding-top: 11px;
}
.post-comment__item:not(:first-child) {
	padding-top: 5px;
}
.post-comment__item > a {
	display: block;
	float: left;
}
.post .post-comment__item span {
	color: rgb(51, 51, 51);
}
.post-coment__date {
	color: rgb(204, 0, 0);
	font: normal 9.1px 'Lato-Regular',sans-serif;
	margin: 4px 0 0;
}
.post .post-coment-user-name {
	font-family: 'Lato-Regular',sans-serif;
	color: rgb(204, 0, 0);
}
.post-comment__delete {
    position: absolute;
    right: 15px;
    cursor: pointer;
	display: none;
}
.post .body textarea {
  width: 90%;
  border: none;
  resize: none;
  box-sizing: border-box;
  min-height: 18px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #fff;
  outline: none;
}
.post .body textarea:disabled {
  background-color: #fff;
}
.ui-tooltip.postTooltip {
	position: fixed;
    border-width: 0;
	z-index: 50001;
	min-height: 55px;
	font: 14.37px/19.55px 'Lato-Regular', Arial;
}
.ui-tooltip.postTooltip .ui-tooltip-content {
	width: 220px;
}
.ui-tooltip.postTooltip .tooltip-content {
	display: inline-block;
	width: 100%;
}
.ui-tooltip.postTooltip .tooltip-content > img {
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius: 40px;
	-khtml-border-radius: 40px;
	margin-left: 4x;
	float: left;
	width: 55px;
	height: 55px;
	margin-right: 10px;
}
.ui-tooltip.postTooltip .tooltip-body {
	float: right;
	text-align: left;
	width: 155px;
	word-wrap: break-word;
}
.ui-tooltip.postTooltip h4 {
	font-size: 16px;
	font-weight: 400;
	color: #4276cd;
	word-wrap: break-word;
	margin: 0;
}
.ui-tooltip.postTooltip .tooltip-body > div {
	margin-top: 5px;
	display: block;
	word-wrap: break-word;
}
.ui-tooltip.postTooltip .tooltip-footer {
	margin-top: 3px;
	text-align: right;
	float: right;
	width: 100%;
}
.ui-tooltip.postTooltip a {
    color: #4276cd;
    text-decoration: none;
}
.ui-tooltip.postTooltip .tooltip-footer a:first-child {
	font: normal 11px Lato-LightItalic;
}
.ui-tooltip.postTooltip .tooltip-footer a:not(:first-child) {
	font-weight: bold;
	font: italic 12px lato-Bold;
	margin-left: 3px;
}
.ui-tooltip.postTooltip .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -34px;
}
.ui-tooltip.postTooltip .arrow.top {
	top: -16px;
}
.ui-tooltip.postTooltip .arrow.bottom {
	bottom: -16px;
}
.ui-tooltip.postTooltip .arrow:after {
	background: #fff;
	border: 2px solid white;
	content: "";
	position: absolute;
	left: 20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -6px #aaa;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ui-tooltip.postTooltip .arrow.top:after {
	bottom: -20px;
}
.ui-tooltip.postTooltip .arrow.bottom:after {
	top: -20px;
}
.rootMarker {
	z-index: 1001;
}
/**
 * Share post by email dialog
 */
.ui-widget .post__share-email input[type=button],
.ui-widget .post__share-email input[type=submit] {
	color: white;
	background-color: #0064CD;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064CD #0064CD #003F81;
	border-color: rgba(0, 0, 0, 0.1);
    font-family: Lato-Bold;
    font-size: 17px;
	cursor: pointer;
}
.post__share-email > img {
	vertical-align: middle;
}
.post__share-email .content {
	text-align: center;
}
.post__share-email input[type=text],
.post__share-email input[type=email],
.post__share-email textarea {
	width: 300px;
}
.post__share-email input[type=button] {
	margin-left: 13px;
}
.post__share-email form > div:not(:first-child) {
	margin-top: 30px;
}
.post__share-email .title {
	font-size:18px;
	font-weight:800;
	margin-left:150px;
	margin-bottom:10px;
	color: #afafaf;
	font: 800 18px Lato-Regular;
}
.post__share-email label.error {
    color: #ff5959;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
}
.post__share-email .success {
	text-align: center;
	color: #33CC00;
	font-size: 16px;
	padding: 112px 0;
}
.post__share-email .success img {
	margin-right: 5px;
}
/**
 * jQuery ui dialog custom template
 */
 .dialog.fixed {
	 position: fixed;
 }
 .dialog.ui-widget-content {
	background: none;
	border: none;
}
.dialog .ui-dialog-titlebar {
	padding: 0 !important;
	border: none;
	background: none;
	z-index: 1;
}
.dialog .ui-dialog-title {
	display: none;
}
.dialog.ui-dialog .ui-dialog-content {
	background-color: #fff !important;
	margin: 5px 5px 0;
	padding: 0 !important;
	overflow: hidden !important;
	text-align: center;
}
.dialog .ui-dialog-titlebar-close {
	background: url(../images/mycontrols.png) no-repeat center !important;
	width: 22px !important;
	height: 22px !important;
	background-color: #fff !important;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-khtml-border-radius: 20px;
	border: 1px solid #7d7d7d !important;
	top: 0 !important;
	right: 0 !important;
	margin: 0 !important;
}
.dialog .ui-dialog-titlebar-close > span {
	display: none !important;
}
.dialog .ui-dialog-buttonpane {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0 !important;
}
.alert .ui-dialog-titlebar {
  padding: 0 !important;
  border: none;
  background: none;
  z-index: 1;
}
.alert .ui-dialog-title {
  display: none;
}
.alert.ui-dialog .ui-dialog-content {
  text-align: center;
  font-size: 18px;
}
.alert .ui-dialog-titlebar-close {
  display: none;
}
.alert.ui-dialog .ui-dialog-buttonpane {
  border: none;
  text-align: center;
}
.alert.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}
/**
 * Edit location dialog.
 */
.location-dialog {
	text-align: center;
	display: none;
}
.location-dialog #map-canvas {
	height: 416px;
}
.location-dialog .panel {
	text-align: center;
	padding: 15px 0;
	display: inline-block;
}
.location-dialog .panel input {
	float: left;
}
.location-dialog .panel input[type=button],
.location-dialog .panel input[type=submit],
.message-dialog input[type=button],
.message-dialog input[type=submit] {
	border-width: 0;
}
.location-dialog .panel input[type=text] {
	width: 290px;
	padding: 8px 10px;
	font: normal 15px Lato-lightItalic;
	color: #8d8d8d;
	border: 1px solid #d7d7d7;
}
.location-dialog .panel input.save,
.location-dialog .panel input.cancel,
.message-dialog input[type=button],
.message-dialog input[type=submit] {
	font: normal 17px/17px lato-Bold;
	color: #fff;
	background: #4276cd;
	-webkit-box-shadow: 0px 5px 18px -3px rgba(121,149,196,1);
	-moz-box-shadow: 0px 5px 18px -3px rgba(121,149,196,1);
	box-shadow: 0px 5px 18px -3px rgba(121,149,196,1);
	padding: 8.8px 10px;
	cursor: pointer;
	min-width: 140px;
}
.location-dialog .panel input.save {
	margin-left: 50px;
}
.location-dialog .panel input.cancel {
	margin-right: 50px;
}
.location-dialog .panel input.save:hover,
.location-dialog .panel input.cancel:hover,
.message-dialog input[type=button]:hover,
.message-dialog input[type=submit]:hover {
	color:#ccc;
}
.location-dialog .panel .search {
	cursor: pointer;
	float: left;
	background-image: url('../images/map_search39x36.png');
	background-repeat: none;
	width: 39px;
	height: 36px;
}

/**
 * User tooltip.
 */
.location-dialog__user {
	min-height: 55px;
	width: 200px;
}
.location-dialog__user img {
	float: left;
	margin-right: 8px;
    width: 55px;
    height: 55px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius: 50px;
    -khtml-border-radius: 50px;
}
.location-dialog__user .address {
    font: normal 14px Lato-Regular;
    color: #8d8d8d;
	word-wrap: break-word;
}
.main-menu .search,
.main-menu .search .keywords {
	display: none;
}
.main-menu #menu-button {
  display: none;
}

/**
 * profile
 */
body.profile .post ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
}
body.profile .post li {
	padding: 10px 0;
	border-top: 1px solid #fff;
}
body.profile .post li:nth-child(2n+1) {
	background: #fbf9f9 none repeat scroll 0 0;
}
body.profile .post li:nth-child(2n) {
	background: #f8f7f7 none repeat scroll 0 0;
}
body.profile .post li:nth-child(1) {
	border-top: 1px solid #d7d7d7;
}
body.profile .post li h3 {
	color: rgb(204, 51, 0);
	font: 14.37px/19.55px 'Lato-Regular',sans-serif;
	float: left;
	width: 100px;
	padding-left: 10px;
	margin: 0;
}
body.profile .post li span {
	margin-left: 100px;
	padding: 0 10px 0  0;
	display: block;
}
body.profile .action {
	text-align: center;
}
body.profile .action span:nth-child(2) {
	margin-left: 30px;
}
body.profile .action span[disabled]{
	color: #ccc;
}

.ui-widget .message-dialog input[type=text],
.ui-widget .message-dialog textarea {
	border: 1px solid #d7d7d7;
	color: #8d8d8d;
	font: 15px Lato-lightItalic;
	padding: 8px 10px;
	width: 290px;
}
.message-dialog .panel {
	margin-top: 10px;
}
.message-dialog input[type=button] {
	margin-left: 30px;
}
.ui-dialog .message-dialog.success {
	color: #3c0;
	font-size: 16px;
	padding: 112px 0;
	text-align: center;
}
.ui-dialog .message-dialog.success * {
	margin-top: 112px;
}
.ui-dialog .message-dialog.success img {
	margin-left: 5px;
}
.ui-widget input[type=text].error,
.ui-widget textarea.error {
	border: 1px solid #ff5959;
}

@media all and (max-width: 1100px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min-resolution: 192dpi) and (max-width: 1024px),
only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
	.main-menu {
		padding-top: 0;
	}
	.main-menu #menu-button {
		display: block;
		color: #000000;
		cursor: pointer;
	}
	.main-menu #menu-button::after {
		content: '';
		position: absolute;
		top: 20px;
		display: block;
		width: 15px;
		height: 2px;
		background: #000000;
	}
	.main-menu #menu-button::before {
		content: '';
		position: absolute;
		top: 25px;
		display: block;
		width: 15px;
		height: 3px;
		border-top: 2px solid #000000;
		border-bottom: 2px solid #000000;
	}
	.main-menu > ul.open {
		display: block;
	}
	.main-menu .dropdown-menu {
		width: 100% !important;
		box-shadow: none;
		border: none;
		float: none;
	}
	.main-menu ul {
		width: 30%;
		background-color: #fff;
	}
	.main-menu > ul {
		display: none;
		position: absolute;
		right: 0;
		top: 50px;
	}
	.main-menu > ul > li {
		margin: 0;
		border-top: 1px solid rgba(120, 120, 120, 0.15);
		float: none;
	}
	.main-menu ul li a {
		display: block;
		padding: 20px;
	}
	.main-menu ul li a:hover,
	.main-menu ul li a:focus {
	  color: #262626;
	  text-decoration: none;
	  background-color: #f5f5f5;
	}
	.main-menu ul ul {
		position: relative;
		left: 0;
		right: auto;
		margin: 0;
	}
	.main-menu .keywords {
		padding: 10px;
	}
	.main-menu .keywords input[type=text] {
		width: 100%;
		box-sizing: border-box;
		height: auto;
	}
	.main-menu .keywords img {
		right: 20px;
		top: 15px;
	}
}

@media (max-width: 1350px) {
	.user-location {
		padding-left: 0;
	}
	.about-info {
		padding-right: 5px;
	}
	.about-info li:not(:last-child) {
		margin-right: 5px;
	}
	.post-search .filter {
		padding-left: 1px;
	}
	body.posts .post-search input[type="text"] {
		width: 95px;
	}
}
@media (max-width: 1200px) {
	.map-radius #slider {
		width: 70px;
	}
	body.post .post-search,
	body.profile .post-search {
		padding-left: 20%;
	}
}
@media (max-width: 1050px) {
	.footer {
		width: 100% !important;
	}
}
@media (max-width: 800px) {
	.main-menu .search {
		display: block;
	}
	.post-search .filter {
		display: none;
	}
	body.post .post-search,
	body.profile .post-search {
		padding-left: 10%;
	}
}
@media (max-width: 650px) {
	.post-search {
		display: none;
	}
	.main-menu .search .keywords {
		display: block;
	}
}
@media (max-width: 550px) {
	.footer {
		left: 0;
		min-width: auto !important;
	}
	.footer .user-location {
		display: none;
	}
	.main-menu ul {
		width: 50%;
	}
}
@media (max-width: 500px) {
	.post-new {
		display: none;
	}
	.post-new__dialog {
		display: none !important;
	}
}
@media (max-width: 420px) {
	.footer .map-radius {
		display: none;
	}
	.main-menu ul {
		width: 100%;
	}
}
