<?php
// TODO: remove
if (!Application_Model_User::checkId($this->comment['user_id'], $user))
{
	return '';
}
?>
<li id="comment_<?php echo $this->comment['id']; ?>" class="cmntList">
	<div class="imgPro">
		<img src="<?php echo $user->getProfileImage(BASE_PATH . 'www/images/img-prof40x40.jpg'); ?>" />
	</div>
	<ul>
		<li class="title">
			<div class="title-wrapper">
				<?php echo $user->Name; ?>:
				<span class="cmnt">
					<?php echo substr($this->comment['comment'], 0, 250); ?>
					<?php if(strlen($this->comment['comment']) > 250): ?>
					<span>
						<a href="javascript:void(0)" class='commentFont' onclick="showMoreNews(this,'<?php echo $this->comment['id']; ?>')">...more</a>
						<span id="morecontent_<?php echo $this->comment['id']; ?>" style="display: none;">
							<?php echo substr($this->comment['comment'], 250, strlen($this->comment['comment'])); ?>
						</span>
					</span>
					<?php endif; ?>
				</span>
			</div>
		</li>
		<li class="dur">
			<p><?php echo date('d F Y h:i a', strtotime($this->comment['created_at'])); ?></p>
		</li>
	</ul>
	<div class="clr"></div>
</li>
