<?php
$thumb = Application_Model_User::getThumb($this->user, '55x55');
?>
<script type="text/javascript">
	$(function(){
		var editAddress = typeof postData !== 'undefined' ? true : false,
			userAddress = editAddress ? postData.address : profileData.address,
			userPosition = editAddress ?
				new google.maps.LatLng(postData.latitude,postData.longitude):
				new google.maps.LatLng(profileData.latitude,profileData.longitude);

		$('#birth_month, #birth_year').change(function(){
			if ($('#birth_month').val() && $('#birth_year').val()){
				var count = new Date($('#birth_year').val(), $('#birth_month').val(), 0).getDate();

				if (($('#birth_day option').size() - 1) != count){
					var selected = $('#birth_day').val();

					$('#birth_day option:not(:first-child)').remove();

					for (var day = 1; day <= count; day++){
						$('#birth_day').append($('<option/>', {selected: day == selected}).val(day).text(day))
					}
				}
			}
		});

		$('#birth_month').change();

		$("#locationButton, #Location").click(function(){
			var form = $('#editProfileForm'),
				$latitude = $('[name=latitude]', form),
				positionLat = $latitude.val(),
				$longitude = $('[name=longitude]', form),
				positionLng = $longitude.val(),
				isValidLocation = $.trim(positionLat) !== '' &&
					$.trim(positionLng) !== '';

			editLocationDialog({
				mapZoom: 14,
				markerIcon: baseUrl + 'www/images/icons/icon_1.png',
				inputPlaceholder: 'Enter your Address',
				submitText: 'Use This Address',
				defaultAddress: userAddress,
				center:	userPosition,
				infoWindowContent: function(address){
					return userAddressTooltip(address, imagePath);
				},
				submit: function(dialogMap,event,position,place){
					if (latlngDistance(position,userPosition) > 0){
						locationTimezone(position,function(timezone){
							var data = place?parsePlaceAddress(place):{};
							userAddress = place.formatted_address;
							userPosition = position;
							$latitude.val(position.lat());
							$longitude.val(position.lng());
							$('[name=street_name]', form).val(data.street_name?data.street_name:'');
							$('[name=street_number]', form).val(data.street_number?data.street_number:'');
							$('[name=city]', form).val(data.city?data.city:'');
							$('[name=state]', form).val(data.state?data.state:'');
							$('[name=country]', form).val(data.country?data.country:'');
							$('[name=zip]', form).val(data.zip?data.zip:'');
							$('[name=timezone]',form).val(timezone);
							map.setCenter(position);
							marker.setPosition(position);
							infowindow.setContent(userAddressTooltip(place.formatted_address, imagePath));
							$(event.target).dialog('close');
						});
					} else if (profileData.timezone===null) {
						locationTimezone(position,function(timezone){
							$('[name=timezone]',form).val(timezone);
							$(event.target).dialog('close');
						});
					} else {
						$(event.target).dialog('close');
					}
				}
			});
		});

		var map = new google.maps.Map($('#map_canvas')[0], {
			zoom: 14,
			minZoom: 13,
			maxZoom: 15,
			center: userPosition,
			disableDefaultUI: true,
			panControl: false,
			zoomControl: false,
			scaleControl: false,
			streetViewControl: false,
			overviewMapControl: false,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var marker = new google.maps.Marker({
			position: userPosition,
			icon: baseUrl + 'www/images/icons/icon_1.png'
		});

		var infowindow = new google.maps.InfoWindow({
			content: userAddressTooltip(userAddress, imagePath)
		});

		google.maps.event.addListenerOnce(map, 'idle', function(){
			marker.setMap(map);
			infowindow.open(map, marker);
		});

		setHeight('.eqlCH');

		$('#imageButton').click(function(e){
			e.preventDefault();
			$('#ImageFile').trigger('click');
		});

		$('#ImageFile').change(function(){
			if ($.trim($(this).val())===''){
				return false;
			}

			$('.proImgChange').show();

			var data = new FormData();
			data.append('image', $(this)[0].files[0]);

			ajaxJson({
				url: baseUrl+'home/image-upload',
				data: data,
				cache: false,
				contentType: false,
				processData: false,
				done: function(response){
					$('.proImgChange').hide();
					$('.imgProf').attr('src', response.url);
				}
			});
		});

		$("#imageSection").mouseover(function(){
			$("#imageButton").show();
		});	

		$("#imageSection").mouseout(function(){
			$("#imageButton").hide();
		});	
	});
</script>
<h3 class="topHdGrayB12">Edit Profile Info</h3>
<div id="userDiv" class="leftCol" >
	<div class="profDtl"> 
		<div class="profile-img">
			<a style="z-index:9999;" href="<?php echo $this->baseUrl("home/profile"); ?>">
				<span id="image_upload_field">
					<img src="<?php echo $this->baseUrl($thumb); ?>" class="imgProf">
				</span>
			</a> 
		</div>
		<div class="profile-describe">   
			<a class="hypDecNone" href="<?php echo $this->baseUrl("home/profile"); ?>">
				<h3 class="name"><?php echo ucfirst($this->user['Name']);?></h3>
			</a>
			<p class="loc"><?php echo My_StringHelper::stringLimit($this->addressFormat, 50, '...'); ?></p>
		</div>
		<div class="clr"></div>
	</div>
</div>
<ul class="editProfInfoTopNav">
	<li class="txtBold">Profile Picture</li>
	<li>
		<div style="height: 1px; width: 1px;"> 
			<form>
				<input style="height: 0px; width: 1px;background-color: white;color: white;" type='file' id='ImageFile' name='ImageFile' accept='image/*'/>                
			</form>
		</div>
		<a id="imageButton" href="#" class="btnBlue">Choose New File</a>
	</li>
	<li>
		<img src="<?php echo $this->baseUrl("www/images/wait.gif"); ?>" class="proImgChange" />
	</li>
	<li>
		<div class='answers'></div>
	</li>
	<div class="clr"></div>
</ul>
<?php if ($this->profileForm->isErrors()): ?>
<div class="errors">
<?php echo implode("\n", $this->profileForm->getErrorMessages()); ?>
</div>
<?php endif; ?>
<form method="post" id="editProfileForm">
<input type="hidden" name="latitude" value="<?php echo $this->profileForm->latitude->getValue(); ?>">
<input type="hidden" name="longitude" value="<?php echo $this->profileForm->longitude->getValue(); ?>">
<input type="hidden" name="street_name" value="<?php echo $this->profileForm->street_name->getValue(); ?>">
<input type="hidden" name="street_number" value="<?php echo $this->profileForm->street_number->getValue(); ?>">
<input type="hidden" name="city" value="<?php echo $this->profileForm->city->getValue(); ?>">
<input type="hidden" name="state" value="<?php echo $this->profileForm->state->getValue(); ?>">
<input type="hidden" name="country" value="<?php echo $this->profileForm->country->getValue(); ?>">
<input type="hidden" name="zip" value="<?php echo $this->profileForm->zip->getValue(); ?>">
	<ul class="editProfInfoForm">
		<li>
			<?php echo $this->profileForm->email; ?>
			<?php echo $this->profileForm->public_profile; ?>
		</li>
		<li><?php echo $this->profileForm->name; ?></li>
		<li><?php echo $this->profileForm->gender; ?></li>
		<li><?php echo $this->profileForm->activities; ?></li>
		<li>
			<dt>
				<label>Date of Birth</label>
			</dt>
			<dd class="dob">
				<?php
				echo $this->formSelect(
					'birth_month',
					$this->profileForm->birth_month->getValue(),
					$this->profileForm->getErrors('birth_month') ? array('class' => 'error') : null,
					$this->profileForm->birth_month->getMultiOptions()
				);
				echo $this->formSelect(
					'birth_day',
					$this->profileForm->birth_day->getValue(),
					$this->profileForm->getErrors('birth_day') ? array('class' => 'error') : null,
					$this->profileForm->birth_day->getMultiOptions()
				);
				echo $this->formSelect(
					'birth_year',
					$this->profileForm->birth_year->getValue(),
					$this->profileForm->getErrors('birth_year') ? array('class' => 'error') : null,
					$this->profileForm->birth_year->getMultiOptions()
				);
				?>
			</dd>
		</li>
<?php if (empty($this->user['timezone'])): ?>
<li><?php echo $this->profileForm->timezone; ?></li>
<?php else: ?>
<input type="hidden" name="timezone" value="<?php echo $this->profileForm->timezone->getValue(); ?>">
<?php endif; ?>
	</ul>
	<div class="clr"></div>
	<div class="btnBarM20">
		<input type="submit" value="Apply" class="btnBlueRptType2" style="margin-right:8%" />
		<input type="button" onclick="window.location.href = '<?php echo $this->baseUrl("home/profile"); ?>'" value="Cancel" class="btnBlueRptType2" />
	</div>
</form>
