<script type="text/javascript">
	$(function(){
		$('#birth_month, #birth_year').change(function(){
			if ($('#birth_month').val() && $('#birth_year').val()){
				var count = new Date($('#birth_year').val(), $('#birth_month').val(), 0).getDate();

				if (($('#birth_day option').size() - 1) != count){
					var selected = $('#birth_day').val();

					$('#birth_day option:not(:first-child)').remove();

					for (var day = 1; day <= count; day++){
						$('#birth_day').append($('<option/>', {selected: day == selected}).val(day).text(day))
					}
				}
			}
		});

		$('#birth_month').change();

		var $address = $('#editProfileForm [name=address]'),
			$latitude = $('#editProfileForm [name=latitude]'),
			$longitude = $('#editProfileForm [name=longitude]');

		$("#locationButton, #Location").click(function(){
			editLocationDialog({
				mapZoom: 14,
				markerIcon: baseUrl + 'www/images/icons/icon_1.png',
				inputPlaceholder: 'Enter your Address',
				submitText: 'Use This Address',
				defaultAddress: $address.val(),
				center: new google.maps.LatLng($latitude.val(), $longitude.val()),
				infoWindowContent: function(address){
					return userAddressTooltip(address, imagePath);
				},
				submit: function(dialogEvent, position, address){
					$address.val(address);
					$latitude.val(position.lat());
					$longitude.val(position.lng());
					map.setCenter(position);
					marker.setPosition(position);
					infowindow.setContent(userAddressTooltip(address, imagePath));
					$(dialogEvent.target).dialog('close');
				}
			});
		});

		var map = new google.maps.Map($('#map_canvas')[0], {
			zoom: 14,
			minZoom: 13,
			maxZoom: 15,
			center: new google.maps.LatLng(userLatitude, userLongitude),
			disableDefaultUI: true,
			panControl: false,
			zoomControl: false,
			scaleControl: false,
			streetViewControl: false,
			overviewMapControl: false,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});
		
		var marker = new google.maps.Marker({
			position: map.getCenter(),
			icon: baseUrl + 'www/images/icons/icon_1.png'
		});

		var infowindow = new google.maps.InfoWindow({
			content: userAddressTooltip(userAddress, imagePath)
		});

		google.maps.event.addListenerOnce(map, 'idle', function(){
			marker.setMap(map);
			infowindow.open(map, marker);
		});

		setHeight('.eqlCH');

		$('#imageButton').click(function() {
			$('#ImageFile').trigger('click');
		});

		$('#ImageFile').bind('change', function() { 
			$(".proImgChange").toggle();

			$("#imageform").ajaxForm({
				success : function(data){
					$(".proImgChange").toggle();
					data = $.parseJSON(data);
					var html ='<img src="'+data.url+'" class="imgProf"/>';
					$("#image_upload_field").html(html);
				}
			}).submit();
		});	

		$("#imageSection").mouseover(function(){
			$("#imageButton").show();
		});	

		$("#imageSection").mouseout(function(){
			$("#imageButton").hide();
		});	
	});
</script>
<h3 class="topHdGrayB12">Edit Profile Info</h3>
<div id="userDiv" class="leftCol" >
	<div class="profDtl"> 
		<div class="profile-img">
			<a style="z-index:9999;" href="<?php echo $this->baseUrl("home/profile"); ?>">
				<span id="image_upload_field">
					<img src="<?php echo $this->user->getprofileImage($this->baseUrl("www/images/img-prof40x40.jpg")); ?>" class="imgProf" />
				</span>
			</a> 
		</div>
		<div class="profile-describe">   
			<a class="hypDecNone" href="<?php echo $this->baseUrl("home/profile"); ?>">
				<h3 class="name"><?php echo ucfirst($this->user->Name);?></h3>
			</a>
			<p class="loc"><?php echo ucfirst(My_StringHelper::stringLimit($this->user->address(), 50, '...')); ?></p>
		</div>
		<div class="clr"></div>
	</div>
</div>
<ul class="editProfInfoTopNav">
	<li class="txtBold">Profile Picture</li>
	<li>
		<div style="height: 1px; width: 1px;"> 
			<form enctype='multipart/form-data' action='<?php echo $this->baseUrl("home/image-upload"); ?>' id='imageform' method='POST'>
				<input style="height: 0px; width: 1px;background-color: white;color: white;" type='file' id='ImageFile' name='ImageFile' accept='image/*'/>                
			</form>
		</div>
		<a id="imageButton" href="javascript:void(0);" class="btnBlue">Choose New File </a>
	</li>
	<li>
		<img src="<?php echo $this->baseUrl("www/images/wait.gif"); ?>" class="proImgChange" />
	</li>
	<li>
		<div class='answers'></div>
	</li>
	<div class="clr"></div>
</ul>
<form method="post" id="editProfileForm">
	<ul class="editProfInfoForm">
		<li>
			<?php echo $this->form->email; ?>
			<?php echo $this->form->public_profile; ?>
		</li>
		<li><?php echo $this->form->name; ?></li>
		<li><?php echo $this->form->gender; ?></li>
		<li><?php echo $this->form->activities; ?></li>
		<li>
			<?php echo $this->form->address; ?>
			<dd>
			<input id="latitude" type="hidden" value="<?php echo $this->form->latitude->getValue(); ?>" name="latitude" />
			<?php echo $this->form->latitude->renderErrors(); ?>
			<input id="longitude" type="hidden" value="<?php echo $this->form->longitude->getValue(); ?>" name="longitude" />
			<?php echo $this->form->longitude->renderErrors(); ?>
			</dd>
		</li>
		<li>
			<dt>
				<label>Date of Birth</label>
			</dt>
			<dd class="dob">
				<?php
				echo $this->formSelect(
					'birth_month',
					$this->form->birth_month->getValue(),
					$this->form->getErrors('birth_month') ? array('class' => 'error') : null,
					$this->form->birth_month->getMultiOptions()
				);
				echo $this->formSelect(
					'birth_day',
					$this->form->birth_day->getValue(),
					$this->form->getErrors('birth_day') ? array('class' => 'error') : null,
					$this->form->birth_day->getMultiOptions()
				);
				echo $this->formSelect(
					'birth_year',
					$this->form->birth_year->getValue(),
					$this->form->getErrors('birth_year') ? array('class' => 'error') : null,
					$this->form->birth_year->getMultiOptions()
				);
				?>
			</dd>
		</li>
	</ul>
	<div class="clr"></div>
	<div class="btnBarM20">
		<input type="submit" value="Apply" class="btnBlueRptType2" style="margin-right:8%" />
		<input type="button" onclick="window.location.href = '<?php echo $this->baseUrl("home/profile"); ?>'" value="Cancel" class="btnBlueRptType2" />
	</div>
</form>
