<ul class="scrpRow">
	<li class="imgPro">
       <a class="user-img" href="<?php echo BASE_PATH; ?>home/profile">
			<img src="<?php echo $this->user->getProfileImage(BASE_PATH . 'www/images/img-prof40x40.jpg'); ?>" class="smallImage" />
       </a>
		<a class="user-name" title="<?php echo $this->user->Name; ?>" href="<?php echo BASE_PATH; ?>home/profile">
			<?php echo My_StringHelper::stringLimit($this->user->Name, 10, '...'); ?>
		</a>
	</li>
	<li class="bgTxtArea">
		<textarea id="newsPost" class="textAreaClassPost" placeholder="Share something from your current location..."></textarea>
		<div id="postOptionId" style="margin-right: 4px;margin-top:-5px;display:none;">
			<input type="button" value="Post" class="floatR marginT10 btnBlueRpt post addNews" />
			<input type="button" class="btnBlueRpt" value="Post From Different Location" id="postlocationButton" />
			<input id="uploader" type="button" class="floatR marginT10 crp imgInput" style="margin-right:10px;"/>
		</div>
		<img id="newsWaitOnAdd" class="waitimg" src="<?php echo BASE_PATH; ?>www/images/wait.gif" />
		<div class="clr"></div>
		<div style="display:inline;width:80px;" id="fileNm"></div>
	</li>
	<div class="clr"></div>
</ul>
<div class="clr"></div>
<div id="loading" align="center" style="position: relative; height: 100%;margin-left:-125px;width:157%">
	<img src="<?php echo BASE_PATH; ?>www/images/LoadingBar.gif" />
</div>
<div id="newsData" align="left" style="position: relative; height: 100%;width:100%"></div>
