<?php
if (count($this->news)):
	$comentsModel = new Application_Model_Comments;
	$votingModel = new Application_Model_Voting;

	$isLogin = !empty($this->auth['user_id']);

	$auth_pro_image = BASE_PATH . 'www/images/img-prof40x40.jpg';

	if ($isLogin)
	{
		$auth_user_id = $this->auth['user_id'];

		if (!Application_Model_User::checkId($auth_user_id, $auth_user))
		{
			return false;
		}

		$auth_pro_image = $auth_user->getProfileImage($auth_pro_image);
	}
	else
	{
		$auth_user_id = null;
	}

	foreach($this->news as $row):
		if (!Application_Model_User::checkId($row['user_id'], $user))
		{
			continue;
		}

		$row['news_count'] = $votingModel->findCountByNewsId($row['id']);
?>
<div id="scrpBox_<?php echo $row['id']; ?>" class="scrpBox" onmouseover="toggleBounce('<?php echo $row['id']; ?>','<?php echo $user->id?>');" onmouseout="stopBounce('<?php echo $row['id']; ?>',<?php echo $user->id; ?>);">
	<ul class="myScrp afterClr" id="newsDiv<?php echo $row['id']; ?>">
		<?php if ($auth_user_id == $user->id): ?>
		<div class="deteleIcon">
			<img class="crp deteleIcon_img" onclick="deletes(this, 'news', <?php echo $row['id']; ?>);" src="<?php echo BASE_PATH; ?>www/images/delete-icon.png">
		</div>
		<?php endif; ?>
		<li>
			<ul class="post">
				<li class="imgPro">
					<a href="<?php echo BASE_PATH; ?>home/profile/user/<?php echo $user->id; ?>">
						<img src="<?php echo $user->getProfileImage(BASE_PATH . 'www/images/img-prof40x40.jpg'); ?>" class="smallImage" />
					</a>
				</li>
				<li>
					<div class="post-top">
						<a class="title" href="<?php echo BASE_PATH; ?>home/profile/user/<?php echo $user->id; ?>"><?php echo ucfirst($user->Name); ?></a>
						<span class="post-date"><?php echo date("d F Y h:i a", strtotime($row['created_date'])); ?></span>
						<?php if ($row['id']): ?>
						<span class="message_number" id="message_success_<?php echo $row['id']; ?>"><?php echo $row['news_count']; ?></span>
						<?php endif; if ($auth_user_id != $user->id): ?>
						<img class="crp" id="img1_<?php echo $row['id']; ?>" onclick="voting(this, 'news', <?php echo $row['id']; ?>,<?php echo $auth_user_id; ?>);" src="<?php echo BASE_PATH; ?>www/images/<?php echo $row['news_count'] ? 'thumsup_voted.jpg' : 'thumsup_voted_gray.png'; ?>">
						<img class="crp" id="img2_<?php echo $row['id']; ?>" style="display:none" onclick="voting(this, 'news', <?php echo $row['id']; ?>,<?php echo $auth_user_id; ?>);" src="<?php echo BASE_PATH; ?>www/images/thumsup_voted.jpg" />
						<div id="thumbs_up1_<?php echo $row['id']; ?>"  style="float: right; margin-right: -45px; margin-top: 22px;display:none;">
							<span id="message_success_5" style="color: rgb(51, 204, 0);"><img src="<?php echo BASE_PATH; ?>www/images/correct_small.gif" />Thanks!</span>
						</div>
						<div id="thumbs_up2_<?php echo $row['id']; ?>"  style="float: right; margin-right: -45px; margin-top: 22px;display:none;">
							<span id="message_success_5" style="color: rgb(51, 204, 0);">Already-Voted</span>
						</div>
						<?php endif; if ($auth_user_id == $user->id): ?>
						<img class="crp" id="img1_<?php echo $row['id']; ?>" onclick="alert('You can not vote your own post!');" src="<?php echo BASE_PATH; ?>www/images/<?php echo $row['news_count'] ? 'thumsup_voted.jpg' : 'thumsup_voted_gray.png'; ?>" />
						<?php endif; ?>
					</div>
					<div class="post-bottom">
						<p><?php echo My_CommonUtils::linkClickable(nl2br(htmlspecialchars(substr($row['news'], 0, 350)))); ?></p>
					</div>
				</li>
				<li class="clr"></li>
			</ul>
		</li>
		<?php if ($row['images']): ?>
		<li class="cmnti">
			<div>
				<?php
				// TODO: fix
				if (file_exists(realpath('.').'/newsimages/'.$row['images']))
				{
					list($source_image_width, $source_image_height, $source_image_type) = getimagesize(realpath('.') . '/newsimages/' . $row['images']);
				}
				else
				{
					$source_image_width = '';
					$source_image_height = '';
				}
				?>
				<img onclick="openImage('<?php echo $row['images']; ?>','<?php echo $source_image_width; ?>', '<?php echo $source_image_height; ?>');" class="Image-Popup-Class" src="<?php echo BASE_PATH; ?>tbnewsimages/<?php echo $row['images']; ?>" style="cursor: pointer;width:100%;">
			</div>
			<?php endif; if (strlen($row['news']) > 350): ?>
			<span>
				<span id="morecontent_<?php echo $row['id']; ?>" style="display: none;"><?php echo My_CommonUtils::linkClickable(nl2br(htmlspecialchars(substr($row['news'],350,strlen($row['news']))))); ?></span>
				<span>
					<a id="moreButton_<?php echo $row['id']; ?>" href="javascript:void(0)" class='commentFont' onclick="showMoreNews(this,'<?php echo $row['id']; ?>')">...More</a>
				</span>
			</span>
			<?php endif; ?>
		</li>
		<li class="post-comment">
		<?php
		if (!My_ArrayHelper::search(array('news_id' => $row['id']), $this->comments[$row['id']]->toArray(), 1)):
			if ($isLogin):
		?>
			<span id="comment_text_<?php echo $row['id']; ?>" onclick="showCommentField(<?php echo $row['id']; ?>);" style="cursor:pointer;color: #4276cd;">Comment</span>
		<?php else: ?>
			<span class="login-popup-class" style="color: #4276cd;">Comment</span>
		<?php
			endif;
		endif;
		?>
		</li>
	</ul>
	<div class="dur">
		<span class="floatR">
			<span style="display: block; float: left;">Share this Post:</span>
			<a class="crp" onclick="fbshare('scrpBox_<?php echo $row['id']; ?>','<?php echo BASE_PATH; ?>tbnewsimages/<?php echo $row['images']; ?>','<?php echo $row['news']; ?>','<?php echo BASE_PATH; ?>info/news/nwid/<?php echo $row['id']; ?>')">
				<img src="<?php echo BASE_PATH; ?>www/images/facebook.png" style="width: 25px; height: 25px;" />
			</a>
			<?php if($isLogin):?>
			<a class="crp Message-Popup-Class cboxElement" onclick="clearErrors('<?php echo $row['id']; ?>');user_id=2;$('#message').val($.trim($('#<?php echo $row['news']; ?>').html()));">
				<img src="<?php echo BASE_PATH; ?>www/images/email.png" style="width: 25px; height: 25px;" />
			</a>
			<?php else: ?>
			<a class="login-popup-class crp">
				<img src="<?php echo BASE_PATH; ?>www/images/email.png" />
			</a>
			<?php endif; ?>
		</span>
		<div class="clr"></div>
	</div>
	<ul id="comment_list_<?php echo $row['id']; ?>"<?php if ($this->commentCount[$row['id']]): ?> class="cmntRow afterClr"<?php endif; ?>>
	<?php if ($this->commentCount[$row['id']]): ?>
		<?php if ($this->commentCount[$row['id']] > 2): ?>
		<li class="viewCount">
			<?php if ($this->filter != 'all'): ?>
			<div onclick="getComments(this);" class="commentField"><?php echo $comentsModel->viewMoreLabel($this->commentCount[$row['id']], $comentsModel->news_limit); ?></div>
			<?php endif; ?>
		</li>
		<?php
			for ($i = count($this->comments[$row['id']]) - 1; $i >= 0; $i--)
			{
				echo My_ViewHelper::render('home/comment-item.html', array('comment' => $this->comments[$row['id']][$i]));
			}
		endif;
		?>
		<li id="commentTextarea_<?php echo $row['id']; ?>" class="cmntList-last afterClr">
			<ul class="inpCmnt afterClr">
				<span style="display: block; text-align: center;">
					<img id="rpl_loading_<?php echo $row['id']; ?>" src="<?php echo BASE_PATH; ?>www/images/wait.gif" style="display: none;">
				</span>
				<li class="imgPro">
					<img src="<?php echo $auth_pro_image; ?>" class="smallImage" />
				</li>
				<li class="inpCmnt-last">
					<textarea id="comment<?php echo $row['id']; ?>" placeholder="Write a Comment" class="textAreaClass" onkeydown="textLimit(250, this);" onkeydown="textLimit(250, this);" onkeyup="textLimit(250, this);resizeArea(<?php echo $row['id']; ?>);"></textarea>
				</li>
				<div class="clr"></div>
			</ul>
		</li>
	<?php else: ?>
		<ul id="commentTextarea_<?php echo $row['id']; ?>" class="cmntRow afterClr" style="display: none;">
			<li id='tempDiv_<?php echo $row['id']; ?>' class="cmntList-last" style="margin-top: 0; border-top: none;">
				<ul class="inpCmnt afterClr">
					<span>
						<img id="rpl_loading_<?php echo $row['id']; ?>"  src="<?php echo BASE_PATH; ?>www/images/wait.gif" style="margin-bottom: 0px; float: right; margin-right: 131px; margin-top: 9px; display: none;" />
					</span>
					<li class="imgPro">
						<img src="<?php echo $auth_pro_image; ?>" class="smallImage" />
					</li>
					<li class="inpCmnt-last">
						<textarea id="comment<?php echo $row['id']; ?>" class="textAreaClass" onkeydown="textLimit(250, this);" onkeyup="textLimit(250, this);resizeArea(<?php echo $row['id']; ?>);"></textarea>
					</li>
					<div class="clr"></div>
				</ul>
			</li>
		</ul>
	<?php endif; ?>
	</ul>
</div>
<?php endforeach; elseif (!$this->fromPage): ?>
<div class="newsDiv" style="border:none; text-align:center;">
	<div id="noNews" style="margin:50px 0 50px 0">
		<span style="font-size:25px;color:#FC7567;font-weight: bold;">Be the first to post in this area!</span>
	</div>
</div>
<?php endif; ?>
<div id="pagingDiv" class="pagination"></div>
<script type="text/javascript">
<?php // TODO: fix ?>
$(document).ready(function(){
	$(".login-popup-class").colorbox({width:"26%",height:"32%", inline:true, href:"#login-id"});
	$(".Message-Popup-Class").colorbox({width:"40%",height:"45%", inline:true, href:"#Message-Popup_Email"},function(){$('html, body').animate({ scrollTop: 0 }, 0);});
	$('html, body').animate({ scrollTop: 0 }, 0);
});
$(document).ready(function(){
	$( ".scrpBox" ).hover(function(){
		$(this).find(".deteleIcon").each(function(){
			$(this).css("display", "block");
		});
	}, function(){
		$(this).find(".deteleIcon").each(function(){
			$(this).css("display", "none");
		});
	});
});
</script>
