<?php if($this->pageNumber != 0):?>

	 <?php 
       /*if($this->filter==''){
	          $this->filter="ALL";
	       	   
        $this->pageNumber = ($this->pageNumber-1)*15+1;
        } */ 
    //Next page
        ?>
    
  <div class="row show-grid">
    
       <div id="pagingDiv" class="pagination"></div>
        <!--<div class="postClass" align='center' onclick="paging(<?=$this->pageNumber?>,'<?=$this->filter?>')">-->
        
        <div class="postClass" align='center' onclick="paging(<?=$this->pageNumber?>,'ALL')"> 
	    <b style="margin-left:-119px;">	Older Posts </b>
        </div>
        

    </div>

<?php endif;?>



<?php if($this->pageNumber != 0):?>
<!--<div class="row show-grid">
		<div class="postClass" align='center' onclick="paging(<?=$this->pageNumber?>,'<?=$this->filter?>')">
			Older Posts
		</div>
	</div>
<?php endif;?>