<?php
$auth = Zend_Auth::getInstance()->getIdentity();
$auth_id = $auth ? $auth['user_id'] : null;
?>
<div id="userDiv" class="leftCol">
	<div class="profDtl">
		<div class="profile-img">
			<span id="image_upload_field">
				<img src="<?php echo $this->user_data->getProfileImage(BASE_PATH . 'www/images/img-prof40x40.jpg'); ?>" />
			</span>
		</div>
		<div class="profile-describe">
			<h3 class="name"><?php echo ucfirst($this->user_data->Name); ?></h3>
			<p class="loc"><?php echo ucfirst(My_StringHelper::stringLimit($this->user_data->address, 50, '...')); ?></p>
		</div>
		<div class="clr"></div>
	</div>
</div>
<ul class="viewForm" style="width:100%; margin-left: 0px;">
	<?php if ($auth_id == $this->reciever || $this->publicProfile): ?>
	<li>
		<label>Email Address</label>
		<span><?php echo $this->user_data->Email_id; ?></span>
	</li>
	<?php endif; ?>
    <li>
        <label>Gender</label>
        <span><?php echo $this->user_data->Gender; ?></span>
    </li>
    <li>
		<label>Intererst</label>
        <span><?php echo $this->user_data->Activities; ?></span>
    </li>
    <?php if ($this->user_data->address && !$this->publicProfile): ?>
	<li>
        <label>Location</label>
        <span><?php echo $this->user_data->address; ?></span>
    </li>
    <?php endif; ?>
    <li>
        <label>Age</label>
		<?php if ($this->user_data->Birth_date): ?>
        <span><?php echo $this->dateConversion(strtotime($this->user_data->Birth_date)); ?></span>
		<?php endif; ?>
    </li>
</ul>
<?php if ($this->user_data->id == $auth_id): ?>
<div class="btnBarM20">
	<a style="z-index: 999;" class="hypDecNone btnBlueRpt wAuto" href="<?=BASE_PATH?>home/edit-profile">Edit Profile Info</a>
</div>
<?php elseif (!$this->publicProfile): ?>
<div id="friendAction" class="btnBarM20">
	<?php if($auth_id != $this->user_id): ?>
		<?if(count($this->friendStatus) > 0) :?>
			<?if($this->friendStatus->status == '0'):?>
				<?if($this->friendStatus->sender_id == $auth_id):?>
					<input class="wAuto btnBlueRpt" type="button" value="Pending" />
				<?else:?>
					<input class="wAuto btnBlueRpt" type="button" value="Add Friend" onclick="makeFriend('confirm');" />
				<?endif;?>
			<?elseif($this->friendStatus->status == '1'):?>
				<input class="wAuto btnBlueRpt" type="button" value="Unfriend" onclick="makeFriend('reject');" />
			<?elseif($this->friendStatus->status == '2'):?>
				<?if($this->friendStatus->reciever_id == $auth_id):?>
					<input class="wAuto btnBlueRpt" type="button" value="Add Friend" onclick="makeFriend('confirm');" />
				<?else:?>
					<input class="wAuto btnBlueRpt" type="button" value="Blocked" />
				<?endif;?>
			<?endif;?>
		<?else :?>
			<input class="wAuto btnBlueRpt" type="button" value="Friend" onclick="makeFriend('add', true);" />
		<?endif;?>
	<?endif;?>
    <img class="frndReqImg" src="<?php echo BASE_PATH; ?>www/images/wait.gif" />
    <input class="wAuto btnBlueRpt Message-Popup-Class" type="button" value="Message" onclick="clearErrors();user_id=<?=$this->reciever?>;" />
</div>
<?php endif; ?>
<script type="text/javascript">
$(function(){
	$(window).scroll(function(){
		if ($("#midColLayout").height() > 714){
			setThisHeight(Number($("#midColLayout").height()));
		}
	});

	if (reciever_userid == user_id){
		profileMap(userLatitude, userLongitude, '', {
			name: userName,
			id: user_id,
			news: '',
			userImage: imagePath,
			user_id: user_id
		});
	} else {
		profileMapOther(user_profile.lat, user_profile.lng, '', {
			name: user_profile.name,
			id: user_id,
			news: '',
			userImage: user_profile.image,
			user_id: user_id,
			comment: user_profile.latestPost
		});
	}

	setHeight('.eqlCH');
});

function makeFriend(action, isnew){
	$('.frndReqImg').show();

	$.ajax({
		url: baseUrl + 'contacts/friend',
		type: 'POST',
		data: {
			user: reciever_userid,
			action: action
		},
		dataType: 'json'
	}).done(function(response){
		if (response && response.status){
			$('.frndReqImg').hide();

			if (isnew){
				$("#friendAction").html('<input class="wAuto btnBlueRpt" type="button" value="Pending" />');
			} else {
				if (action == 'confirm'){
					$("#friendAction").html('<input class="wAuto btnBlueRpt" type="button" value="Unfriend" onclick="makeFriend(\'reject\');" />');
				} else if (action == 'reject'){
					$("#friendAction").html('<input class="wAuto btnBlueRpt" type="button" value="Add Friend" onclick="makeFriend(\'confirm\');" />');
				}
			}

			$("#friendAction").append(
				'<img class="frndReqImg" src="<?=BASE_PATH?>www/images/wait.gif">' +
				'&nbsp;&nbsp;&nbsp;&nbsp;' +
				'<input class="wAuto btnBlueRpt Message-Popup-Class" type="button" value="Message" onclick="clearErrors();user_id='+user_profile.id+';" />'
			);
		} else {
			alert(ERROR_MESSAGE);
		}
	}).fail(function(jqXHR, textStatus){
		alert(textStatus);
	});
}
</script>
