<?php
$karma_post = $this->karma_posts->news_count +
	(.25 * ($this->karma_posts->votings_count + $this->karma_posts->comments_count)) +
	$this->karma_posts->other_comments_count * .25;

$karma_post_title = 'User posts: ' . $this->karma_posts->news_count . '<br/>' .
	'User posts comments: ' . $this->karma_posts->comments_count . '<br/>' .
	'User posts votings: ' . $this->karma_posts->votings_count . '<br/>' .
	'User comments on other posts: ' . $this->karma_posts->other_comments_count;
?>
<div id="userDiv" class="leftCol">
	<div class="profDtl">
		<div class="profile-img">
			<span id="image_upload_field">
				<img src="<?php echo $this->profile->getProfileImage($this->baseUrl('www/images/img-prof40x40.jpg')); ?>" />
			</span>
		</div>
		<div class="profile-describe">
			<h3 class="name"><?php echo ucfirst($this->profile->Name); ?></h3>
			<p class="loc"><?php echo ucfirst(My_StringHelper::stringLimit($this->profile->address, 50, '...')); ?></p>
		</div>
		<div class="clr"></div>
	</div>
</div>
<ul class="viewForm" style="width:100%; margin-left: 0px;">
	<li>
		<label>Karma</label>
		<span class="karma">
			<b title="<?php echo htmlspecialchars($karma_post_title); ?>"><?php echo round($karma_post, 4); ?></b>(Calculated based on posts &amp; comments)
		</span>
		<div class="clr"></div>
	</li>
	<?php if ($this->auth_id == $this->profile->id): ?>
	<li>
		<label>Email Address</label>
		<span><?php echo $this->profile->Email_id; ?></span>
		<div class="clr"></div>
	</li>
	<?php endif; ?>
    <li>
        <label>Gender</label>
        <span><?php echo $this->profile->Gender; ?></span>
		<div class="clr"></div>
    </li>
    <li>
		<label>Interests</label>
        <span><?php echo $this->profile->Activities; ?></span>
		<div class="clr"></div>
    </li>
    <?php if ($this->profile->address): ?>
	<li>
        <label>Location</label>
        <span><?php echo $this->profile->address; ?></span>
		<div class="clr"></div>
    </li>
    <?php endif; ?>
    <li>
        <label>Age</label>
		<?php if ($this->profile->Birth_date): ?>
        <span><?php echo My_CommonUtils::dateConversion(strtotime($this->profile->Birth_date)); ?></span>
		<?php endif; ?>
		<div class="clr"></div>
    </li>
</ul>
<?php if ($this->profile->id == $this->auth_id): ?>
<div class="btnBarM20">
	<a style="z-index: 999;" class="hypDecNone btnBlueRpt wAuto" href="<?php echo $this->baseUrl("home/edit-profile"); ?>">Edit Profile Info</a>
</div>
<?php elseif($this->auth_id): ?>
<div class="friendAction btnBarM20">
		<?if(count($this->friendStatus) > 0) :?>
			<?if($this->friendStatus->status == '0'):?>
				<?if($this->friendStatus->sender_id == $this->auth_id):?>
					<input class="wAuto btnBlueRpt" type="button" value="Pending" />
				<?else:?>
					<input class="wAuto btnBlueRpt" type="button" value="Follow" onclick="makeFriend('confirm');" />
				<?endif;?>
			<?elseif($this->friendStatus->status == '1'):?>
				<input class="wAuto btnBlueRpt" type="button" value="Unfollow" onclick="makeFriend('reject');" />
			<?elseif($this->friendStatus->status == '2'):?>
				<?if($this->friendStatus->reciever_id == $this->auth_id):?>
					<input class="wAuto btnBlueRpt" type="button" value="Follow" onclick="makeFriend('confirm');" />
				<?else:?>
					<input class="wAuto btnBlueRpt" type="button" value="Blocked" />
				<?endif;?>
			<?endif;?>
		<?else :?>
			<input class="wAuto btnBlueRpt" type="button" value="Follow" onclick="makeFriend('add', true);" />
		<?endif;?>
    <img class="frndReqImg" src="<?php echo $this->baseUrl("www/images/wait.gif"); ?>" />
    <input class="message wAuto btnBlueRpt" type="button" value="Message" />
</div>
<?php endif; ?>
<script type="text/javascript">
$(function(){
	$('.karma b').tooltip({
		content: function(){
			return $(this).prop('title');
		}
	});

	$('.viewForm li:even').addClass('bgEven');
	$('.viewForm li:odd').addClass('bgOdd');

	var otherProfile = reciever_userid != user_id;

	$(window).scroll(function(){
		if ($("#midColLayout").height() > 714){
			setThisHeight(Number($("#midColLayout").height()));
		}
	});

	var map = new google.maps.Map($('#map_canvas')[0], {
		zoom: 14,
		minZoom: 13,
		maxZoom: 15,
		center: otherProfile ? new google.maps.LatLng(user_profile.lat, user_profile.lng) :
			new google.maps.LatLng(userLatitude, userLongitude),
        disableDefaultUI: true,
        panControl: false,
    	zoomControl: false,
        scaleControl: false,
    	streetViewControl: false,
    	overviewMapControl: false,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
    });

	google.maps.event.addListenerOnce(map, 'idle', function(){
		var marker = new google.maps.Marker({
			position: map.getCenter(),
			map: map,
			icon: baseUrl + 'www/images/icons/icon_1.png'
		});

		if (!otherProfile){
			var infowindow = new google.maps.InfoWindow({
				content: userAddressTooltip(userAddress, imagePath)
			});

			infowindow.open(map, marker);
		}
	});

	if (otherProfile){
		$('.friendAction .message').click(function(){
			userMessageDialog(user_profile.id);
		});
	}

	setHeight('.eqlCH');
});

// TODO: merge with friendRequest

function makeFriend(action, isnew){
	$('.frndReqImg').show();

	$.ajax({
		url: baseUrl + 'contacts/friend',
		type: 'POST',
		data: {
			user: reciever_userid,
			action: action
		},
		dataType: 'json'
	}).done(function(response){
		if (response && response.status){
			$('.frndReqImg').hide();

			if (isnew){
				$(".friendAction").html('<input class="wAuto btnBlueRpt" type="button" value="Pending" />');
			} else {
				if (action == 'confirm'){
					$(".friendAction").html('<input class="wAuto btnBlueRpt" type="button" value="Unfollow" onclick="makeFriend(\'reject\');" />');
				} else if (action == 'reject'){
					$(".friendAction").html('<input class="wAuto btnBlueRpt" type="button" value="Follow" onclick="makeFriend(\'confirm\');" />');
				}
			}

			$(".friendAction").append(
				$('<img/>', {src: baseUrl + 'www/images/wait.gif', 'class': 'frndReqImg'}),
				$('<input/>', {type: 'button', 'class': 'message wAuto btnBlueRpt'})
					.val('Message')
					.click(function(){
						userMessageDialog(user_profile.id);
					})
			);
		} else {
			alert(ERROR_MESSAGE);
		}
	}).fail(function(jqXHR, textStatus){
		alert(textStatus);
	});
}
</script>
