<div class="loginCopyArea">
	<div class="regSuccUpdated">
		<table width="100%" style="height:100%">
			<tr align="center">
				<td width="50%" style="vertical-align:top;" align="center">
					<br /><br /><br />
					<?php if ($this->success): ?>
					<div style="min-height:300px;font-size:12px; font-weight:bold;color:#FFFFFF;">Yor email account confirmed successfully.</div>
					<?php elseif ($this->eroors): ?>
					<span style="min-height:300px;font-size:14px; font-weight:bold;color:grey;">This is not a valid activation link. Please check your email for the recent activation link.</span>
					<br />
					<?php endif; ?>
				</td>
			</tr>
		</table>
	</div>
	<div class="clr"></div>
</div>
