<?php 
if(count($this->comments)):
	foreach($this->comments as $commentRow)
	{
		echo My_ViewHelper::render('comment/item.html', array(
			'item' => $commentRow,
			'user' => Application_Model_User::findById($commentRow->user_id)
		));
	}
	?>
<li id="commentTextarea_<?=$this->newsId?>" class="cmntList-last afterClr">
	<ul class="inpCmnt afterClr">
		<li class="imgPro">
			<?if($this->auth["pro_image"]){?> 
			<img src="<?if(strpos($this->auth['pro_image'], '://')){ echo $this->auth['pro_image']; } else { echo BASE_PATH.'uploads/'.$this->auth['pro_image'];}?>" class="smallImage"/> 
			<? } else { ?>
			<img src="<?=BASE_PATH?>www/images/img-prof40x40.jpg" class="smallImage"/>
			<? } ?>
		</li>
		<li class="inpCmnt-last">
			<textarea placeholder="Write a Comment" id="comment<?=$this->newsId?>" class="textAreaClass"  onkeydown="textLimit(250, this);" onkeyup="textLimit(250, this);resizeArea(<?=$this->newsId?>);"></textarea>
		</li>
		<div class="clr"></div>
	</ul>
</li>
<?php endif; ?>
