.errorMessage1 {

    background: none repeat scroll 0 0 #FFFFA6;

    color: #FF0000;

    font-size: 12px;

    font-weight: bold;

    padding: 10px;

    text-align: center;

}

.loginFooter{

	float: right; 

}

.locppmsgimg{font-size:18px;font-weight:800;margin-left:150px; margin-bottom:10px;}



.locationPopup{text-align:center;}		

.locationPopup ul{}

.locationPopup li{display:block; padding:5px 20px 15px;}

.locationPopup li label{font:normal 12px tahoma;color:#11528a; padding:5px 0;}

.locationPopup li input{border:1px solid #cccccc; width:90%; background:#fbfbfb; padding:2px; color:#b2b2b2;}

.locationPopup li textarea{border:1px solid #cccccc; width:90%; background:#fbfbfb; padding:2px; color:#b2b2b2;}

.locationPopup li select{border:1px solid #cccccc; width:92%; background:#fbfbfb; padding:2px; color:#b2b2b2;}

.locationPopup li span{line-height:18px; padding-top:5px;}

.marginL{margin-left:-127px;}

.listHight{width:100%;}



.post-login {
	text-align: center;
	padding: 19px 10px;
}

.loginMsg{

	font-size: 14px;

    font-weight: bold;

    margin-bottom: 10px;

    margin-left: 45px;

}

.post-login .loginMsg {
	margin-left: 0;
}

.loginPopup{text-align:center;}		

.loginPopup ul{}

.loginPopup a{max-width:100px;}

.loginPopup li{display:block; padding:11px 0px 2px}

.loginPopup li label{font:normal 12px tahoma;color:#11528a; padding:5px 0;}

.loginPopup li input{border:1px solid #cccccc; width:90%; background:#fbfbfb; padding:2px; color:#b2b2b2;}

.loginPopup li textarea{border:1px solid #cccccc; width:90%; background:#fbfbfb; padding:2px; color:#b2b2b2;}

.loginPopup li select{border:1px solid #cccccc; width:92%; background:#fbfbfb; padding:2px; color:#b2b2b2;}

.loginPopup li span{padding-top:5px;}



/*

* home file uploads

*/

.waitimg{

	margin-left: 196px; margin-top: 5px;padding: 10px; display:none;

}

.imgmsg{

	padding: 7px 10px 0px 5px;width: 75px; word-break:keep-all; vertical-align: super; font-weight: bold;color: #4993EF;

}



.imgInput{

	z-index: 999;height: 22px; width: 30px; background: url('../images/30px-Image_Upload.png') no-repeat right top;

}

.inputErrorBorder{

	border:1px solid  #FF0000;

}
