@font-face {
    font-family: 'Lato-Italic';
    src: url('fonts/Lato-Italic.eot');
    src: url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/Lato-Italic.woff2') format('woff2'),*/
         url('fonts/Lato-Italic.woff') format('woff'),
         url('fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.eot');
    src: local('☺'),
		url('fonts/Lato-Bold.woff') format('woff'),
		url('fonts/Lato-Bold.ttf') format('truetype'),
		url('fonts/Lato-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/Lato-Light.eot');
    src: local('☺'),
		url('fonts/Lato-Light.woff') format('woff'),
		url('fonts/Lato-Light.ttf') format('truetype'),
		url('fonts/Lato-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.eot');
    src: local('☺'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'Lato-LightItalic';
	src: url('fonts/Lato-LightItalic.eot');
	src:local('☺'),url('fonts/Lato-LightItalic.woff')format('woff'), url('fonts/Lato-LightItalic.ttf')format('truetype'), url('fonts/Lato-LightItalic.svg')format('svg');
	font-weight:400;font-style:normal;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	position: relative;
}
.navbar {
	background-color: rgb(255,255,255);
	border-bottom: 2px solid rgb(216,216,216);
	padding-right: 24px;
	padding-left: 43px;
	height: 51px;
	
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50000;
	overflow: hidden;
}
.navbar .logo {
	float: left;
	padding-top: 8px;
}
.navbar .logo a {
    display: block;
    height: 41px;
    text-decoration: none;
    width: 194px;
}
.navbar .logo img {
}
.post-new {
	float: left;
    padding-left: 151px;
    padding-top: 15px;
}
.post-new img {
	cursor: pointer;
}
.post-search {
	position: relative;
	padding-left: 34px;
}
.post-search,
.post-filter {
	display: inline-block;
	float: left;
	padding-top: 13px;
}
.post-filter .dropdown,
.post-search input[type=text] {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(216,216,216);
	background-color: rgb(255,255,255);
}
.post-search input[type=text] {
	font-size: 13.43px;
	font-family: "Lato-Italic";
	color: rgb(125,125,125);
	font-style: italic;
	line-height: 1.2;
	text-align: left;

	width: 254px;
	height: 17px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 3px;
}
.post-search input[type=image] {
    height: 14px;
    width: 14px;
	position: absolute;
	right: 11px;
	top: 21px;
}
.post-filter {
	    padding-left: 85px;
}
.post-filter .dropdown {
	height: 27px;
	width: 149px;
}
.dropdown button {
	background: none;
	border: 0;
	width: 100%;
	font-size: 13.43px;
	font-family: 'Lato-Regular';
	color:#666;
	line-height: 2;
}
.dropdown .caret {
    background: url('../images/template/dropdown-caret.png') no-repeat right center;
    width: 15px;
    height: 9px;
    display: inline-block;
    padding-left: 12px;
}
.main-menu {
	float: right;
	padding-top: 20px;
}
.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-menu li {
	float: left;
	margin-left: 15px;
}
.main-menu a {
	font-family: "Lato-Light";
	font-size: 15px;
	font-weight: 600;
	color: rgb(51,51,51);
	text-decoration: none;
}
.main-menu img.profile {
    border-radius: 30px;
	width: 24px;
    height: 24px;
	float: left;
}
.main-menu .message,
.main-menu .community {
    display: inline-block;
    vertical-align: middle;
}
.main-menu .message {
    background: url('../images/template/message22x16.png') no-repeat;
	width: 22px;
    height: 16px;
}
.main-menu .community {
    background: url('../images/template/community.png') no-repeat;
	width: 24px;
    height: 20px;
}
.container {
	position: relative;
}
.posts {
    overflow-y: auto;
    position: relative;
	z-index: 2;
	overflow: hidden;
}
.posts,
.post-new-dialog {
    top: 60px;
	left: 17px;
    width: 435px;
}
.post-new-dialog {
	position: fixed;
	z-index: 3;
	background-color: #f1f1f1;
	border-bottom: solid 2px #999;
	min-height: 97px;
}
.post-new-dialog .wrapper {
	padding: 6px 12px 0 13px;
}
.post-new-dialog textarea {
	font-size: 13.65px;
	outline: 0;
	padding: 6px 10px;
	margin: 0;
	width: 326px;
	height: 47px;
	font-family: 'Lato-LightItalic';
	background: #fff;
	color: #7d7d7d;
	line-height: 25px;
	border: none;
	resize: none;
	display: block;
}
.post-new-dialog .user {
	float: left;
}
.post-new-dialog .user img {
	width: 43px;
	height: 43px;
	border-radius: 50px;
	margin: 0 5px;
	display: block;
}
.post-new-dialog .user p {
	margin: 0;
	font-size: 15.17px;
	color: #cc0000;
	font-family: 'Lato-Regular';
	text-align: center;
	width: 53px;
	overflow: hidden;
	height: 18px;
}
.post-new-dialog .edit {
	background: url('../images/user-symbol-small.png') no-repeat 0 0px;
	padding-left: 11px;
	background-position: left center;
	margin-top: 2px;
    margin-left: 53px;
}
.post-new-dialog .action {
	text-align: right;
	margin-top: 4px;
}
.post-new-dialog .action a:first-child {
	margin-right: 50px;
}
.post-new-dialog .action a:first-child img {
	margin: 0;
}
.post-new-dialog .action a:nth-child(2) {
	font-family: 'Lato-Regular';
	font-size: 18.95px;
	line-height: 18.95px;
	display: block;
	float: right;
	color: #cc3333;
	text-decoration: none;
}
.posts .post {
	background-color: rgb(255,255,255);
	margin-bottom: 9px;
}
.map-container {
    height: 100%;
    padding: 53px 0 0;
    z-index: 1;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#map_canvas {
	background-color: rgb(229, 227, 223);
	height: 100%;
	width: 100%;
}
.customMapControl {
	padding: 12px 21px 0;
}
.customMapControl > div {
	cursor: pointer;
}
.customMapControl .zoom_in,
.customMapControl .zoom_out {
	width: 25px;
	height: 25px;
}
.customMapControl .zoom_in {
	margin-bottom: 3px;
}
.customMapControl .zoom_out {
	margin-bottom: 6px;
}
.customMapControl .my_location {
	width: 25px;
	height: 25px;
}
.footer {
	width: 988px;
	height: 28px;
	background-color: rgb(255,255,255);
	position: fixed;
	bottom: 0;
	top: auto;
	right: 0;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: rgb(153,153,153);
	z-index: 3;
}
.about-info {
	padding: 4px 21px;
	text-align: right;
	float: right;
}
.about-info span,
.about-info a {
  font-size: 10.53px;
  font-family: "Lato-Light";
  color: rgb( 135, 135, 135 );
}
.about-info a {
	text-decoration: none;
	margin-right: 38px;
}
.map-radius {
	float: left;
}
.map-radius .radius {
	float: left;
    color: rgb(204, 0, 0);
    font-size: 13.48px;
  font-family: "Lato-Bold";
    font-weight: bold;
    line-height: 30px;
        margin-left: 10px;
}
.map-radius #slider {
	float: left;
	width: 196px;
	margin-left: 15px;
	    height: 0;
    margin-top: 15px;
}
.user-location {
	float: left;
	padding-left: 125px;
}
.user-location button {
	width: 153px;
	height: 27px;
	background-color: rgb( 255, 153, 153 );
	border: 0;
    font-size: 13.48px;
	font-family: 'Lato-Bold';
	color: rgb(255,255,255);
}

.ui-state-default, .ui-widget-content .ui-state-default{border-radius: 50px; width: 12px; height: 12px; top: -7px; background: #cc0000;}
/* new styling */
.post a{text-decoration: none; color:#cc3333;}
.post .user_avatar{float: left; margin: 8px; }
	.user_avatar img{width: 50px; height: 50px; border-radius: 50px; border:2px solid #cc3333;}
.post .user_name{color:#cc3333; font:normal 15.17px/42px 'Lato-Regular';}
.post .post-time{color:#cc3333; font:italic 10px 'Lato-Italic';}
.post .post_text{color:#333;font:normal 14.37px/19.55px 'Lato-Regular';margin-left: 70px; padding-right: 18px;}
.post .link-meta .image{margin-left: -70px;}
.post .social_share{text-align: right; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd; padding: 3px 0 0;}
	.post .social_share a{margin-right: 10px; display: inline-block;}
		.post .social_share a img{width:20px; height: 18px;}
.post .post-coments{background: #eee; list-style: none;padding: 0; margin: 0;}
	.post .post-coments ul{list-style: none; margin: 0; padding: 0;}
		.post .post-coments ul li { display: inline-block;}
			.post .post-coments li img{width: 43px; height: 43px; border-radius: 50px; margin: 6px 8px 6px 12px;}
			.post .post-coments li.post-coment-existing img{margin: 6px 16px 6px 12px;}
		.post .post_coment_new{border-top:1px solid #e4e4e4;}
		.post .post-coments>li:last-child{border-top: 1px solid #d8d8d8;}
	.post .post_coment_new textarea{font-size: 13.65px; height: 25px!important; outline: 0; padding: 6px 10px; resize: none; width: 317px; font-family: 'Lato-LightItalic';
    background: #fff; color: #7d7d7d; border: none; margin-bottom: 7px;line-height: 25px;}
    .post .post_coment_new li:nth-child(2){background: url('../images/user-symbol-small.png') no-repeat 0 0px; padding-left: 12px;}
    .post .post-coment-existing{padding-top: 14px;font-size: 13.65px; font-family: 'Lato-Regular'; clear: both; min-height: 58px;}
    .post .post-coments .post-coment-existing>ul{display: inline-block;max-width: 317px;}
    .post .post-coments .post-coment-existing >a{display: block; float: left;}
    .post .post-coment-existing .post-coment-date{font-family: 'Lato-LightItalic';font-size: 9.1px; color: #cc0000; margin: 6px 0;}
    .post .post-coment-user-name{font-family: 'Lato-LightItalic';}
    .post .social_share input[type="button"]{float: left; border: none; margin: -1px 0 0 5px; background: transparent; font: normal 12px 'Lato-Regular'; cursor: pointer;}
	
.post .post-coments li .delete {
	float: right;
}
.post .post-coments li .delete img {
	width: 20px;
	height: 20px;
	margin: 0;
}
.vote {
    float: right;
    margin-right: 18px;
}
.vote ._3_copy {
    font-size: 14px;
    font-family: 'Lato-Bold',sans-serif;
    color: #cc3333;
    font-style: italic;
    line-height: .714;
    float: left;
    margin-right: 5px;
    padding: 13.5px 0;
}
.vote .icon {
    float: right;
}
.vote .icon>div {
    height: 16px;
    width: 18px;
    cursor: pointer;
}
.vote .icon .like {
    background: url(../images/like-small.png)center center no-repeat;
    margin-bottom: 4px;
}
.vote .icon .dislike {
    background: url(../images/dislike-small.png)center center no-repeat;
}
.vote .icon .like.active {
    background: url(../images/like-active-red.png)center center no-repeat;
}
.vote .icon .dislike.active {
    background: url(../images/dislike-active-red.png)center center no-repeat;
}