.ui_image{
   width:50px; 
   padding:8px;
}
.ui_name{
	color: #3B5998;
	font-weight: bold;        
}
.ui_main_text{
	margin-left: 64px;
	margin-top: -64px;
	padding: 8px;
	min-height: 48px;
	width:222px;
}
.ui_email{
	color: #999;
	font-weight: normal;
	font-size: 12px;
	margin-left: 10px;
}
.ui_address{
	color: #666666;
	direction: ltr;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	line-height: 1.28;
	text-align: left;
}